<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "BÁN HÀNG";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CÔNG TY TRÁCH NHIỆM HỮU HẠN VÂN PHƯỚC.</h1>
                <br />
                <h2> SMS - Store Management System </h2>
            </hgroup>
        </div>
    </section>
}
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">
    <div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px; font-size:16px;">
        Bán hàng
    </div>
    <br />

    <a class="dashboard-module" href="@Url.Action("Index", "KhachHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/customer.png"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
    @{
        if (Convert.ToBoolean(Session["IsAdmin"]) || Convert.ToBoolean(Session["IsAccounting"]))
        {

            <a class="dashboard-module" href="@Url.Action("Warning", "KhachHang")">
                <img width="64" height="64" alt="edit" src="../../Content/images/cus_warning.png"></img>
                <span>DANH SÁCH KHÁCH HÀNG - WARNING</span>
            </a>
        }
    }
    <a class="dashboard-module" href="@Url.Action("AddNew", "BanHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/buycart.png"></img>
        <span>BÁN HÀNG</span>
    </a>

    @if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
    {
        

        <a class="dashboard-module" href="@Url.Action("ReturnToProvider", "TraHang")">
            <img width="64" height="64" alt="edit" src="../../Content/images/provider_back.png"></img>
            <span>LẬP PHIẾU TRẢ HÀNG CHO NHÀ CUNG CẤP</span>
        </a>
        
        <a class="dashboard-module" href="@Url.Action("ReturnPurchaseList", "BanHang")">
            <img width="64" height="64" alt="edit" src="../../Content/images/Chargeback.png"></img>
            <span>LẬP PHIẾU TRẢ NCC TỪ HÀNG TRẢ</span>
        </a>
    
        
        <a class="dashboard-module" href="@Url.Action("ListOfToProvider", "TraHang")">
            <img width="64" height="64" alt="edit" src="../../Content/images/list2.jpg"></img>
            <span>DS PHIẾU TRẢ HÀNG - NHÀ CUNG CẤP </span>
        </a>
    }
@{
    if (Convert.ToBoolean(Session["IsAdmin"]) || Convert.ToBoolean(Session["IsAccounting"]))
    {
        <a class="dashboard-module" href="@Url.Action("Collection", "HoaDon")">
            <img width="64" height="64" alt="edit" src="../../Content/images/charge.png"></img>
            <span>THU TIỀN</span>
        </a>
    
        <a class="dashboard-module" href="@Url.Action("AddExpense", "Expense")">
            <img width="64" height="64" alt="edit" src="../../Content/images/factura.png"></img>
            <span>CHI TIÊU</span>
        </a>
    
        <a class="dashboard-module" href="@Url.Action("Index", "Expense")">
            <img width="64" height="64" alt="edit" src="../../Content/images/Money_Book-512.png"></img>
            <span>DANH SÁCH CHI TIÊU</span>
        </a>
       

        <a class="dashboard-module" href="@Url.Action("ReturnPurchaseList", "TraHang")">
            <img width="64" height="64" alt="edit" src="../../Content/images/list2.jpg"></img>
            <span>DS CÁC PHIẾU TRẢ HÀNG TỪ KHÁCH HÀNG</span>
        </a>
    
        
    
    <a class="dashboard-module" href="@Url.Action("Report", "Home")">
        <img width="64" height="64" alt="edit" src="../../Content/images/report4.jpg"></img>
        <span>BÁO CÁO</span>
    </a>
    
    }}
    
    <a class="dashboard-module" href="@Url.Action("Index", "HoaDon")">
        <img width="64" height="64" alt="edit" src="../../Content/images/bill.png"></img>
        <span>DANH SÁCH HÓA ĐƠN</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "TraHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/refund.png"></img>
        <span>NHẬN TRẢ HÀNG - CÓ HÓA ĐƠN</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ReturnNoBill", "TraHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/refund1.gif"></img>
        <span>NHẬN TRẢ HÀNG - KHÔNG HÓA ĐƠN</span>
    </a>
</div>