<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "DANH MỤC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="grid_7">
    <a class="dashboard-module" href="@Url.Action("Index", "DonVi")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Measure_units.png"></img>
        <span>DANH SÁCH ĐƠN VỊ TÍNH</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "KhuVuc")">
        <img width="64" height="64" alt="edit" src="../../Content/images/green_area.png"></img>
        <span>DANH SÁCH KHU VỰC</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "HangSanXuat")">
        <img width="64" height="64" alt="edit" src="../../Content/images/industry.png"></img>
        <span>DANH SÁCH NHÀ SẢN XUẤT</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "Kho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/storage.png"></img>
        <span>DANH SÁCH KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "SanPham")">
        <img width="64" height="64" alt="edit" src="../../Content/images/listproduct.png"/>
        <span>DANH SÁCH SẢN PHẨM</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ConvertUnitOfProducts", "SanPham")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Converter.jpg"></img>
        <span>CHUYỂN ĐỔI ĐƠN VỊ</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ListPriceProducts", "SanPham")">
        <img width="64" height="64" alt="edit" src="../../Content/images/ListPriceProducts.png"></img>
        <span>BÁO GIÁ SẢN PHẨM</span>
    </a>
</div>
