<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "NHẬP KHO";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}


<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">
    <a class="dashboard-module" href="@Url.Action("Import", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/import.png"></img>
        <span>NHẬP KHO MUA HÀNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Adjustment", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/download.jpg"></img>
        <span>NHẬP ĐIỀU CHĨNH KHO</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("ListWaitingImport", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/import1.png"></img>
        <span>NHẬP - CHUYỂN KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("downloadCSVTemplate", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Download-Icon.png"></img>
        <span>DOWNLOAD TEMPLATE - KIỂM KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("importCsv", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Misc-Download-icon.png"></img>
        <span>NHẬP - KIỂM KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "Import")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Enter.png"></img>
        <span>DANH SÁCH HÓA ĐƠN NHẬP KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ImportRepoter", "QuanLyKho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/ImportDetailReport.jpg"></img>
        <span>BÁO CÁO NHẬP KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ImportRepoterDetail", "QuanLyKho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Detail.png"></img>
        <span>BÁO CÁO NHẬP KHO - CHI TIẾT</span>
    </a>
</div>