@model PagedList.IPagedList<SMS.Models.KhachHangModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $("#customerName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/KhachHang/Find", data: "{ 'prefixText': '" + request.term + "' }",
                        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; }, success:
                            function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.value,
                                        value: item.value,
                                        id: item.id
                                    }
                                }))
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                    });
                },
                select: function (event, ui) {
                    $('#customerName').val(ui.item.label);
                    return false;
                },
                minLength: 1

            });

            $("#SearchString").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/KhachHang/Find", data: "{ 'prefixText': '" + request.term + "' }",
                        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; }, success:
                            function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.value,
                                        value: item.value,
                                        id: item.id
                                    }
                                }))
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                    });
                },
                select: function (event, ui) {
                    $('#SearchString').val(ui.item.label);
                    return false;
                },
                minLength: 1

            });

        });
    </script>
}
@{
    ViewBag.Title = "Danh mục khách hàng";
    List<SelectListItem> theAreaList = new List<SelectListItem>();
    SelectListItem item;
    item = new SelectListItem();
    item.Value = "0";
    item.Text = "----------- Chọn loại khu vực ----------";
    theAreaList.Add(item);
    
    if (ViewBag.khuVucList != null)
    {
        foreach (var donvi in ViewBag.khuVucList)
        {
            item = new SelectListItem();
            if ((int)ViewBag.CustomerArea == donvi.MA_KHU_VUC)
            {
                item.Selected = true;
            }            
            item.Value = donvi.MA_KHU_VUC + "";
            item.Text = donvi.TEN_KHU_VUC;
            theAreaList.Add(item);
        }
    }
    
    List<SelectListItem> kinds = new List<SelectListItem>();
    SelectListItem ckind;
    ckind = new SelectListItem();
    
    ckind.Value = "0";
    ckind.Text = "----------- Chọn loại khách hàng ----------";
    kinds.Add(ckind);

    ckind = new SelectListItem();
    if ((int)ViewBag.CusomerKind == 1)
    {
        ckind.Selected = true;
    }
    ckind.Value = "1";
    ckind.Text = "Khách hàng công ty , công trình";
    kinds.Add(ckind);

    ckind = new SelectListItem();
    if ((int)ViewBag.CusomerKind == 2)
    {
        ckind.Selected = true;
    }
    ckind.Value = "2";
    ckind.Text = "Khách hàng thân thiết";
    kinds.Add(ckind);

    ckind = new SelectListItem();
    if ((int)ViewBag.CusomerKind == 3)
    {
        ckind.Selected = true;
    }
    ckind.Value = "3";
    ckind.Text = "Khách hàng thường";
    kinds.Add(ckind);
   
}

<h2>@ViewBag.Title </h2>
<br />
<div>@ViewBag.Message </div>
<hr style="width:100%" />


@using (Html.BeginForm("Index", "KhachHang", FormMethod.Get, new {@id= "index" }))
{
    <div style="float:right">
        <p>
            Từ khóa tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" class="myButton" />
            
            @{
    if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
    {
                <input type="button" value="Thêm Mới" class="myButton" onclick="window.location.href='@Url.Action("AddNew", "KhachHang")'" />
    }
            }
            <input type="button" value="Export excel" class="myButton" />
        </p>
    </div>
    <div style="clear:both"></div>
    <hr style="width:100%" />
    <div style="float:left; padding-bottom:10px;">
        <a href="#" onclick="showSearchAdvange()">
            Tìm kiếm nâng cao
        </a>
    </div>
    
    <div style="clear:both"></div>
    
    <div id="advSearch" name="advSearch" style="width:100%">
        <div style="display:inline-block; width:200px; height:28px"> Tên khách hàng:</div>
        <div style="display: inline-block; width: 400px; height: 28px"> @Html.TextBox("customerName", ViewBag.CurrentFilter as string, new { @id = "customerName" })</div>
        <br />
        <div style="display:inline-block; width:200px; height:28px"> Loại khách hàng:</div>
        <div style="display: inline-block; width: 400px; height: 28px"> @Html.DropDownList("customerKind", kinds, new { @id = "customerKind", @style = "padding:2px;font-size:1.2em; " })</div>
        <br />
        <div style="display:inline-block; width:200px; height:28px"> Khu vực: </div>
        <div style="display: inline-block; width: 400px; height: 28px"> @Html.DropDownList("customerArea", theAreaList, new { @id = "customerArea", @style = "padding:2px;font-size:1.2em; " })</div>
        <br />
        <div style="display:inline-block; width:200px; height:28px"> Doanh số: </div>
        <div style="display: inline-block; width: 400px; height: 28px">
            @Html.TextBox("customerAmountFrom", ViewBag.customerAmountFrom as string, new { style = "width:137px;", @class = "numberic" }) ~  @Html.TextBox("customerAmountTo", ViewBag.customerAmountTo as float?, new { style = "width:137px;", @class = "numberic" })
        </div>
        <br />
        <div style="display:inline-block; width:200px; height:28px"> Nợ gối đầu: </div>
        <div style="display: inline-block; width: 400px; height: 28px">
            @Html.TextBox("customerDebitFrom", ViewBag.customerDebitFrom as float?, new { style = "width:137px;", @class = "numberic" }) ~  @Html.TextBox("customerDebitTo", ViewBag.customerDebitFrom as float?, new { style = "width:137px;", @class = "numberic" })
        </div>
        <div style="float:right">
            <input type="submit" value="Tìm kiếm" class="myButton" />
            <input type="button" value="Export excel" class="myButton" />
        </div>
        @Html.Hidden("ShowFlag", ViewBag.ShowFlag as string, new { @id = "ShowFlag" })
        <div style="clear:both"></div>
        <hr style="width:100%" />
    </div>
    
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td class='tablefrozencolumn' width="15%">
                <div id='divroot' class='root'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='root'>
                        <tr>
                            <td class='inner colwidth head ' width="40%">
                                @Html.ActionLink("Mã khách hàng", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex })
                            </td>
                            <td class='inner colwidth head'>
                                @Html.ActionLink("Tên khách hàng", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex })
                            </td>
                        </tr>
                    </table>
                </div>
                <div id='divfrozen' class='frozen'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='frozen' id="contentFrozen">
                        @foreach (var donvi in Model)
                        {
                            <tr>
                                <td class='inner frozencol colwidth toprow alignNumberic' width="40%">
                                    @donvi.KhachHang.MA_KHACH_HANG
                                </td>
                                <td class='inner frozencol toprow alignText'>
                                    <a href="@Url.Action("Show", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                        @donvi.KhachHang.TEN_KHACH_HANG
                                    </a>
                                   
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td class='tablecontent'>
                <div id='headscroll' class='divhead'>
                    <table border="0" cellpadding="0" cellspacing="0" class='head'>
                        <tr>
@{
                        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsAccounting"] == true)
                        {
         <td class='inner column-hscroll head'> Nợ gối đầu </td>
        <td class='inner column-hscroll head'> Doanh số </td>
       
        <td class='inner column-hscroll head' title="Ngày phát sinh nợ"> Ngày p/s nợ </td>
                        }
    }
                            <td class='inner column-hscroll head'> Mã thẻ </td>
                            <td class='inner column-hscroll head'> Loại khách hàng </td>
                            <td class='inner column-hscroll head'> Số điện thoại </td>
                            <td class='inner column-hscroll head'> Email </td>
                            <td class='inner column-hscroll head'> Địa chỉ </td>
                            <td class='inner column-hscroll head'>@Html.ActionLink("Khu vực", "Index", new { sortOrder = ViewBag.AdminSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex }) </td>
     @{                                 
                        if ((bool)Session["IsAdmin"] == true)
                        {
        <td class='inner head' style="width:70px;">Người tạo</td>
                                <td class='inner  head' style="width:70px;">Ngày tạo</td>
                                <td class='inner  head' style="width:70px;">Người cập nhật</td>
                                <td class='inner  head' style="width:70px;">Ngày cập nhật</td>
                        }

                        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsAccounting"] == true)
                        {
        <td class='inner head' style="width:50px;" title="Thay đổi công nợ">Thay đổi c/n</td>
                        }
                        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                        {
        <td class='inner head' style="width:50px;">Sửa</td>
                                <td class='inner head' style="width:50px;">Xóa</td>
                        }
                            }
                        </tr>
                    </table>
                </div>
                <div id='contentscroll' class='content' onscroll='reposHead(this);'>
                    <table border="0" cellpadding="0" cellspacing="0" class='content' id='innercontent'>
                        @foreach (var donvi in Model)
                        {
                            <tr>
@{
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsAccounting"] == true)
                            {
                                if (@donvi.KhachHang.NO_GOI_DAU != 0)
                                {
                                    <td class='inner column-hscroll alignCenter' style="background-color: LightCoral">
                                        <a href="@Url.Action("showDebitHist", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                            @donvi.KhachHang.NO_GOI_DAU.ToString("0,0.00")
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td class='inner column-hscroll alignCenter'>
                                        <a href="@Url.Action("showDebitHist", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                            @donvi.KhachHang.NO_GOI_DAU.ToString("0,0.00")
                                        </a>
                                    </td>

                                }
                               
                                <td class='inner column-hscroll alignCenter'>
                                    <a href="@Url.Action("showOrderHist", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                        @donvi.KhachHang.DOANH_SO.ToString("0,0.00")
                                    </a>
                                </td>

                                

                            <td class='inner column-hscroll alignCenter'>
                                @{
                                if (@donvi.KhachHang.NGAY_PHAT_SINH_NO == null)
                                {
                                    @Html.Label("--");
                                }
                                else
                                {
                                    @Html.Label(DateTime.Parse(@donvi.KhachHang.NGAY_PHAT_SINH_NO.ToString()).ToString("dd/MM/yyyy"))
                                }
                                }

                            </td>
                            }
                            }
                                <td class='inner column-hscroll alignCenter'> @donvi.KhachHang.MA_THE_KHACH_HANG </td>
                                <td class='inner column-hscroll alignCenter'>
                                 @{
                            string kind = "";
                            if (String.IsNullOrEmpty(@donvi.KhachHang.KIND.ToString()))
                            {
                                kind = "--";
                            }
                            else
                            {
                                if (Int32.Parse(@donvi.KhachHang.KIND.ToString()) == 1)
                                {
                                    kind = "Khách hàng Công ty - Công trình";
                                }
                                else if (Int32.Parse(@donvi.KhachHang.KIND.ToString()) == 2)
                                {
                                    kind = "Khách hàng thân thiết";
                                }
                                else
                                {
                                    kind = "Khách hàng thường";
                                }
                            }
                                 }
                                    @kind
                                </td>
                                <td class='inner column-hscroll alignCenter'> @donvi.KhachHang.SO_DIEN_THOAI </td>
                                <td class='inner column-hscroll alignCenter'> @donvi.KhachHang.EMAIL </td>
                                <td class='inner column-hscroll alignCenter'> @donvi.KhachHang.DIA_CHI </td>
                                <td class='inner column-hscroll alignCenter'> 
                                 @{
                            if (@donvi.KhuVuc == null || String.IsNullOrEmpty(@donvi.KhuVuc.TEN_KHU_VUC))
                            {
                                             @Html.Label("--")
                            }
                            else
                            {
                                            @Html.Label(@donvi.KhuVuc.TEN_KHU_VUC)
                                           
                            }
                                    }
                                
                                </td>
                            @{
                            if ((bool)Session["IsAdmin"] == true)
                            {
                                <td class='inner  alignCenter' style="width:70px;"> @donvi.NguoiTao.TEN_NGUOI_DUNG </td>
                                    <td class='inner  alignCenter' style="width:70px;"> @Html.Label(DateTime.Parse(@donvi.KhachHang.CREATE_AT.ToString()).ToString("dd/MM/yyyy"))</td>
                                    <td class='inner  alignCenter' style="width:70px;"> @donvi.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                                    <td class='inner  alignCenter' style="width:70px;"> @Html.Label(DateTime.Parse(@donvi.KhachHang.UPDATE_AT.ToString()).ToString("dd/MM/yyyy"))</td>
                            }
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsAccounting"] == true)
                            {
                                if (donvi.KhachHang.NO_GOI_DAU != 0)
                                { 
                                <td class='inner alignCenter' style="width:50px;">
                                    <a href="@Url.Action("UpdateDebit", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                        <img width="18" height="18" alt="edit" src="~/Content/images/Credit-icon.png"></img>
                                    </a>
                                </td>
                                }
                                else
                                {
                                    <td class='inner alignCenter' style="width:50px;">
                                    <a href="#" class="button-module" onclick="return false;">
                                        <img width="18" height="18" alt="edit" src="~/Content/images/Credit-icon.png"></img>
                                    </a>
                                </td>
                                }
                            }
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                            {
                                <td class='inner alignCenter' style="width:50px;">
                                    <a href="@Url.Action("Edit", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module">
                                        <img width="18" height="18" alt="edit" src="~/Content/images/edit-icon.png"></img>
                                    </a>
                                </td>
                                    <td class='inner alignCenter' style="width:50px;">
                                        <a href="@Url.Action("Delete", "KhachHang", new { id = @donvi.KhachHang.MA_KHACH_HANG })" class="button-module" onclick="return deleteSubmit()">
                                            <img width="18" height="18" alt="edit" src="~/Content/images/edit_delete.png"></img>
                                        </a>
                                    </td>
                            }
                                }
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class='horizontal-scroll' onscroll='reposHorizontal(this);'>
                    <div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@ViewBag.Count : Khách hàng </label>
                </div>
            </td>
            <td>
                <div style="text-align:right; padding-top:3px;">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </td>
        </tr>
    </table>
}
<script>
    function RemoveRougeChar(convertString) {
        if (convertString.substring(0, 1) == ",") {
            return convertString.substring(1, convertString.length)
        }
        return convertString;
    }
    function formatNumberic() {
        $('input.numberic').each(function () {
            var $this = $(this);
            var AmountWithCommas = $this.val();
            var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
            var arParts = String(AmountWithCommas).split(DecimalSeparator);

            var intPart = arParts[0];
            var decPart = (arParts.length > 1 ? arParts[1] : '');

            var num = intPart.replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            if (decPart.length > 2) {
                decPart = (decPart + '00').substr(0, 2);
            }
            if (arParts.length > 1) {
                $this.val(num2 + DecimalSeparator + decPart);
            } else {
                $this.val(num2);
            }
        });
    }

    $(document).ready(function () {
        formatNumberic();
        $('input.numberic').keypress(function (key) {
            var keycode = (key.which) ? key.which : key.keyCode;
            //comparing pressed keycodes

            if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
                return false;
            }
            else return true;

        });
        $('input.numberic').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                //event.preventDefault();
                return true;
            }
            var $this = $(this);
            var AmountWithCommas = $this.val();
            var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
            var arParts = String(AmountWithCommas).split(DecimalSeparator);

            var intPart = arParts[0];
            var decPart = (arParts.length > 1 ? arParts[1] : '');

            var num = intPart.replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            if (decPart.length > 2) {
                decPart = (decPart + '00').substr(0, 2);
            }
            if (arParts.length > 1) {
                $this.val(num2 + DecimalSeparator + decPart);
            } else {
                $this.val(num2);
            }
        });
        var i = document.getElementById("ShowFlag");
        var e = document.getElementById("advSearch");
        if (i.value != "1") {
            e.style.display = 'none';
        }

    });

    function showSearchAdvange() {
        var e = document.getElementById("advSearch");
        var i = document.getElementById("ShowFlag");
        if (e.style.display == 'block' ||  i.value == "1") {
            e.style.display = 'none';
            i.value = "0";
        }           
        else {
            e.style.display = 'block';
            i.value = "1";
        }
           
    }

    function deleteSubmit() {
        var r = confirm("Bạn muốn xóa khách hàng này?");
        if (r == true) {
            document.forms[0].submit();
        }
        else {
            return false;
        }
    }

    

</script>
