@using PagedList.Mvc;

@{
    ViewBag.Title = "Thông tin khách hàng";
}

<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("BanHang", "Home")"> Bán Hàng </a> >
    @if ((int)ViewBag.flg == 1)
    {
         <a href="@Url.Action("Index", "KhachHang")"> Danh sách khách hàng</a>
    }
    else
    {
        <a href="@Url.Action("Warning", "KhachHang")"> Danh sách khách hàng cần thu nợ</a>
    }
    > Thông tin khách hàng
</div>
<br />
<hgroup class="title">
    <h2> Thông tin khách hàng </h2>
</hgroup>
<br />

<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <table width="100%">
                <tr>
                    <td class="center">
                        Mã thẻ khách hàng    
                    </td>
                    <td class="right">
                        @Model.MA_THE_KHACH_HANG
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Tên khách hàng
                    </td>
                    <td class="right">
                        @Model.TEN_KHACH_HANG
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Số điện thoại
                    </td>
                    <td class="right">
                        @Model.SO_DIEN_THOAI
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Email
                    </td>
                    <td class="right">
                        @Model.EMAIL
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Địa chỉ
                    </td>
                    <td class="right">
                        @Model.DIA_CHI
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Khu vực
                    </td>
                    <td class="right">
                        @Model.KHU_VUC.TEN_KHU_VUC
                    </td>
                </tr>
@{
    if ((bool)Session["IsAdmin"] == true || (bool)Session["IsAccounting"] == true)
    {
                <tr>
                    <td class="center">
                        Doanh số
                    </td>
                    <td class="right">
                        @Model.DOANH_SO.ToString("0,0.00")
                    </td>
                </tr>

               
                <tr>
                    <td class="center">
                        Công nợ
                    </td>
                    <td class="right">
                        @Model.NO_GOI_DAU.ToString("0,0.00")
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Ngày phát sinh nợ
                    </td>
                    <td class="right">
                        @{
                            if (Model.NGAY_PHAT_SINH_NO != null)
                            {
                                            @DateTime.Parse(Model.NGAY_PHAT_SINH_NO.ToString()).ToString("dd/MM/yyyy")
                            }
                        }
                    </td>
                </tr>
}
}
            </table>
            @if ((int)ViewBag.flg == 1)
            {
                <input type="button" style="width:300px" value=" >> Trở về danh sách khách hàng >> " onclick="window.location.href='@Url.Action("Index","KhachHang")'" />    
            }else
            {
                <input type="button" style="width:380px" value=" >> Trở về danh sách khách hàng cần thu nợ >> " onclick="window.location.href='@Url.Action("Warning","KhachHang")'" />
            }
            
        </fieldset>
    </div>
    <script>
        function reset() {
            window.location.reload();
            return false;
        }
    </script>


}
