@model SMS.Models.MinMax
@using PagedList.Mvc;

<div>

    <table width="100%">
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@ViewBag.Count sản phầm </label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.MinMaxList, currentPageIndex => Url.Action("InventoryPagingConent",
                                                            new
                                                            {
                                                                currentPageIndex,
                                                                StoreId = ViewBag.StoreId,
                                                                ProductId = ViewBag.ProductId,
                                                                StoreName = ViewBag.StoreName,
                                                                ProductName = ViewBag.ProductName
                                                            }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "resultLoadingDiv",
                UpdateTargetId = "mainDiv"
            }
    ))
                </div>
            </td>
        </tr>

    </table>

    <table width="100%">
        <tr style="width:100%">
            <td class='inner colwidth head ' width="10%"> Mã sản phẩm </td>
            <td class='inner colwidth head '> Tên sản phẩm </td>
            <td class='inner colwidth head '> Đơn vị </td>
            <td class='inner colwidth head '>  Tồn kho tối thiểu  </td>
            <td class='innerLast colwidth head '>  Tồn kho tối đa </td>
            @if ((bool)Session["IsAdmin"] || (bool)Session["IsStoreManager"])
            {
                <td class='innerLast colwidth head '>  Sửa  </td>
                <td class='innerLast colwidth head '>  Xóa </td>
            }            
        </tr>
        @foreach (var dbHist in Model.MinMaxList)
        {
            <tr class="inner column-hscroll alignCenter">
                <td class="inner colwidth">
                    @dbHist.MA_SAN_PHAM
                </td>
                <td class="inner colwidth"> @dbHist.TEN_SAN_PHAM</td>
                <td class="inner colwidth"> @dbHist.TEN_DON_VI</td>
                <td class="inner colwidth numberic"> @Convert.ToDouble(dbHist.CO_SO_TOI_THIEU.ToString()).ToString("#,###.##") </td>
                <td class="innerLast colwidth numberic">@Convert.ToDouble(dbHist.CO_SO_TOI_DA.ToString()).ToString("#,###.##") </td>
                @if ((bool)Session["IsAdmin"] || (bool)Session["IsStoreManager"])
                {
                    <td class='inner alignCenter' style="width:50px;">
                    <a href="@Url.Action("Edit", "DonVi", new { id = @dbHist.ID })" class="button-module">
                        <img width="16;" height="16;" alt="edit" src="~/Content/images/edit-icon.png"></img>
                    </a>
                </td>
                <td class='inner alignCenter' style="width:50px;">
                    <a href="@Url.Action("Delete", "DonVi", new { id = @dbHist.ID })" class="button-module" onclick="return deleteSubmit()">
                        <img width="16" height="16" alt="edit" src="~/Content/images/edit_delete.png"></img>
                    </a>
                </td>
                }
            </tr>
        }
       
    </table>


    <table width="100%">
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@ViewBag.Count sản phầm </label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.MinMaxList, currentPageIndex => Url.Action("InventoryPagingConent",
                                                            new
                                                            {
                                                                currentPageIndex,
                                                                StoreId = ViewBag.StoreId,
                                                                ProductId = ViewBag.ProductId,
                                                                StoreName = ViewBag.StoreName,
                                                                ProductName = ViewBag.ProductName
                                                            }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "resultLoadingDiv",
                UpdateTargetId = "mainDiv"
            }
    ))
                </div>
            </td>
        </tr>

    </table>

</div>