@model SMS.Models.SAN_PHAM 

@{
    ViewBag.Title = "Thêm mới sản phẩm";
   
}
<div class="divTitle">
    <h2>@ViewBag.Title </h2>
    <hr />
</div>
<link href="~/Content/SanPham.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script >
    $(document).ready(function () {
        $('input.numberic').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                //event.preventDefault();
                return true;
            }
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            // the following line has been simplified. Revision history contains original.
            $this.val(num2);
        });
    });
    function NumbericOnly(ctrl) {
        $(ctrl).keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

    }


    function RemoveRougeChar(convertString) {


        if (convertString.substring(0, 1) == ",") {

            return convertString.substring(1, convertString.length)

        }
        return convertString;

    }

    function reset() {
        $("form :input").each(function () {
            $(this).text('');
        });
    }
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <table class="fixed" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="37%">
                    <div class="required">
                        @Html.LabelFor(u => u.TEN_SAN_PHAM)
                        @Html.TextBoxFor(u => u.TEN_SAN_PHAM)
                    </div>
                </td>

                <td width="35%"></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.KICH_THUOC)
                        @Html.TextBoxFor(u => u.KICH_THUOC)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CAN_NANG)
                        @Html.TextBoxFor(u => u.CAN_NANG,"#,###,###", new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })
                  
                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_DON_VI)
                        @Html.DropDownListFor(u => u.MA_DON_VI, new SelectList(ViewBag.dsDonvi, "MA_DON_VI", "TEN_DON_VI", ViewBag.DVSelected))
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_NHA_SAN_XUAT)
                        @Html.DropDownListFor(u => u.MA_NHA_SAN_XUAT, new SelectList(ViewBag.dsNSX, "MA_NHA_SAN_XUAT", "TEN_NHA_SAN_XUAT", ViewBag.NSXSelected))

                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td colspan="2">
                    <div>                        
                        <div>
                            @Html.LabelFor(u => u.DAC_TA)
                            @Html.TextAreaFor(u => u.DAC_TA)
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_1)
                        @Html.TextBoxFor(u => u.GIA_BAN_1, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_2)
                        @Html.TextBoxFor(u => u.GIA_BAN_2, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })

                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_3)
                        @Html.TextBoxFor(u => u.GIA_BAN_3, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })

                    </div>
                </td>

            </tr>
           
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_1)
                        @Html.TextBoxFor(u => u.CHIEC_KHAU_1, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_2)
                        @Html.TextBoxFor(u => u.CHIEC_KHAU_2, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })

                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_3)
                        @Html.TextBoxFor(u => u.CHIEC_KHAU_3, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })

                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_THIEU)
                        @Html.TextBoxFor(u => u.CO_SO_TOI_THIEU, new { @class = "numberic", @onkeydown = "NumbericOnly(this);" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_DA)
                        @Html.TextBoxFor(u => u.CO_SO_TOI_DA, new { @class= "numberic", @onkeydown = "NumbericOnly(this);" })

                    </div>
                </td>
                <td></td>

            </tr>
        </table>

        <div class="divTitle">
            <hr />
            <input type="submit"  style="width:100px" value="Lưu" />
            <span> </span>
            <input type="button" style="width:100px" value="Làm lại" onclick="reset()" />
        </div>
      
    </div>



}
