@model SMS.Models.InvoicesNoReciveModel
@using PagedList.Mvc;

    <div>
        <table width="100%" id="tblExport" name="tblExport">
            <tr style="width:100%">
                <td class='inner colwidth head '> Tên khách hàng </td>
                <td class='inner colwidth head '> Nhân viên lập hóa đơn </td>
                <td class='inner colwidth head '>  Tồng tiền hóa đơn </td>
                <td class='innerLast colwidth head '>  Số tiền chiếc khấu </td>
                <td class='inner colwidth head '>  Thực thu</td>
                <td class='innerLast colwidth head '>  Thu tiền </td>
            </tr>
            @{
    DateTime ImportDate = DateTime.Now;
    if (Model.Invoices != null && Model.Invoices.Count() >= 1)
    {
        ImportDate = (DateTime)Model.Invoices[0].NGAY_BAN;

        <tr>
            <td class="innerLast colwidth" colspan="7" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
        </tr>
    }
            }
            @foreach (var dbHist in Model.Invoices)
            {
                if (ImportDate != (DateTime)dbHist.NGAY_BAN)
                {
                    ImportDate = (DateTime)dbHist.NGAY_BAN;
                    <tr>
                        <td class="innerLast colwidth" colspan="6" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                    </tr>
                }
                <tr class="inner column-hscroll alignCenter">
                    <td class="inner colwidth">
                        <a href="@Url.Action("ShowDetail", "HoaDon", new { id = @dbHist.MA_HOA_DON , flg = 2})" class="button-module">
                            @dbHist.TEN_KHACH_HANG
                        </a>
                    </td>
                    <td class="inner colwidth">
                       @dbHist.TEN_NHAN_VIEN_BAN
                    </td>
                    <td class="inner colwidth">
                        @{
                var amount = "";
                double all = 0;
                if (dbHist.TONG_TIEN != null)
                {
                    amount = Convert.ToDouble(dbHist.TONG_TIEN).ToString("0,0.00");
                    all = Convert.ToDouble(dbHist.TONG_TIEN);
                }
                        }
                        @amount
                    </td>
                    <td class="innerLast colwidth">
                        @{
                var debit = "";
                debit = Convert.ToDouble(dbHist.CHIEC_KHAU).ToString("0,0.00");
                all += Convert.ToDouble(dbHist.CHIEC_KHAU);
                        }
                        @debit
                    </td>
                    <td class="innerLast colwidth">
                        @all.ToString("0,0.00")
                    </td>

                    
                    <td class="innerLast colwidth">
                        @{
                if ((bool)Session["IsAccounting"] || (bool)Session["IsAdmin"])
                {
                    <a href="@Url.Action("ShowDetail", "HoaDon", new { id = @dbHist.MA_HOA_DON, flg = 2 })" class="button-module">
                        <img width="16" height="16" alt="edit" src="~/Content/images/charge.png"></img>
                    </a>
                }
                        }
                    </td>
                </tr>
            }
            
        </table>

        <table width="100%">
            <tr>
                <td>
                    <div style="text-align:left; padding-top:3px;">
                        <label>@Model.PageCount hóa đơn</label>
                    </div>
                </td>
                <td>
                    <div style="text-align: right;  padding-top: 3px; ">
                        @Html.PagedListPager(Model.Invoices, currentPageIndex => Url.Action("PagingContent",
                        new { currentPageIndex, SearchString = ViewBag.SearchString }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "resultLoadingDiv",
            UpdateTargetId = "mainDiv"
        }
    ))
                    </div>
                </td>
            </tr>
        </table>
    </div>