@model SMS.Models.InvoicesModel
@using PagedList.Mvc;

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#smallPagePrint").hide();
            $("#printFeatureWithoutPercent").hide();
        });
        //Stop Form Submission of Enter Key Press
        function pagePrint() {
            var printContents = document.getElementById("printFeature").innerHTML;
            var originalContents = document.body.innerHTML;
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        function smallPagePrint() {
            var printContents = document.getElementById("smallPagePrint").innerHTML;
            var originalContents = document.body.innerHTML;
            document.getElementById('printFeature').style.display = 'none';
            document.getElementById('printFeatureWithoutPercent').style.display = 'none';
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        function PageWithoutPercentPrint() {
            var printContents = document.getElementById("printFeatureWithoutPercent").innerHTML;
            var originalContents = document.body.innerHTML;
            document.getElementById('printFeature').style.display = 'none';
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>

}

<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("BanHang", "Home")"> Bán hàng </a> >
    <a href="@Url.Action("Collection", "HoaDon")"> Danh sách hóa đơn </a> >
    In hóa đơn
</div>

@{
    int i = 0;
    double total = 0;
    double allTotal = 0;
}

<div id="smallPagePrint" style="width:450px">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />
    <table style="width:100%">
        <tr>
            <td rowspan="3" style="width:30%">
                <img width="100" height="100" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right">
                <table style="width:100%">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber  - Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                Số hóa đơn
            </td>
            <td>
                @Model.Infor.SO_HOA_DON
            </td>
        </tr>
        <tr>
            <td>
                Tên khách hàng
            </td>
            <td>
                @Model.Infor.TEN_KHACH_HANG
            </td>
        </tr>
        <tr>
            <td>
                Số điện thoại
            </td>
            <td>
                @Model.Infor.SO_DIEN_THOAI
            </td>
        </tr>
        <tr>
            <td>
                Điạ chỉ giao hàng
            </td>
            <td>
                @Model.Infor.DIA_CHI_GIAO_HANG
            </td>
        </tr>
        <tr>
            <td>
                Ngày bán hàng
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                }

            </td>
        </tr>
        <tr>
            <td>
                Ngày giao hàng
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                }

            </td>
        </tr>
    </table>
    <hr />
    <div style="text-align:center">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <hr />
    <table style="width:100%" id="SmallMainTable" class="details">
        <tr>
            <td class='inner colwidth head '>
                Số lượng
            </td>
            <td class='innerLast colwidth head '>
                Đơn vị
            </td>
            <td class='inner colwidth head '>
                Đơn giá
            </td>
            <td class='inner colwidth head '>
                (%)
            </td>
            <td class='innerLast colwidth head '>
                Thành tiền
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
        }
        @foreach (var detail in Model.detailList)
        {
            i++;
            total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
            allTotal += total;
            <tr>
                <td class="innerLast colwidth" colspan="6">(@i) @detail.TEN_SAN_PHAM</td>
            </tr>
            <tr>
                <td class="innerLast colwidth">@detail.SO_LUONG_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@detail.TEN_DON_VI_TEMP</td>
                <td class="innerLast colwidth">@detail.DON_GIA_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@total.ToString("#,###.##")</td>
            </tr>
        }
        <tr>
            <td colspan="4" class="innerLast" style="background-color:lightgray">Tồng hóa đơn</td>
            <td style="background-color:lightgray" class="innerLast">@allTotal.ToString("#,###.##")</td>
        </tr>
    </table>
    <hr />
    <table style="width: 100%; text-align: center">
        <tr>
            <td style="width: 33%; text-align: center">
                Người bán hàng
            </td>
            <td style="width:33%; text-align:center">
                Người thu tiền
            </td>
            <td style="width: 33%; text-align: center">
                Người nhận hàng
            </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <div class="innerLast" style="text-align:center">
        @Model.SmsMaster.AdvertisementFooter
    </div>

</div>

<div id="printFeature">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />

    <table style="width:100%">
        <tr>
            <td rowspan="3">
                <img width="100" height="100" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right">
                <table style="width:100%">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber  - Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Tên khách hàng
                        </td>
                        <td>
                            @Model.Infor.TEN_KHACH_HANG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Điạ chỉ giao hàng
                        </td>
                        <td>
                            @Model.Infor.DIA_CHI_GIAO_HANG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số điện thoại
                        </td>
                        <td>
                            @Model.Infor.SO_DIEN_THOAI
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width:50%">
                            Số hóa đơn
                        </td>
                        <td>
                            @Model.Infor.SO_HOA_DON
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày bán hàng
                        </td>
                        <td>
                            @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                            {
                                @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày giao hàng
                        </td>
                        <td>
                            @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                            {
                                @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                            }

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
   
    <hr />
    <div style="text-align:center">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <hr />
    <table style="width:100%" id="MainTable" class="details">
        <tr>
            <td class='inner colwidth head ' width="5%;">
                STT
            </td>
            <td class='inner colwidth head '>
                Tên sản phầm
            </td>
            <td class='inner colwidth head '>
                Số lượng
            </td>
            <td class='innerLast colwidth head '>
                Đơn vị
            </td>
            <td class='inner colwidth head '>
                Đơn giá
            </td>
            <td class='inner colwidth head '>
                (%)
            </td>
            <td class='innerLast colwidth head '>
                Thành tiền
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
        }
        @foreach (var detail in Model.detailList)
        {
            i++;
            total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
            allTotal += total;
            <tr>
                <td class="innerLast colwidth">@i</td>
                <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                <td class="innerLast colwidth">@detail.SO_LUONG_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@detail.TEN_DON_VI_TEMP</td>
                <td class="innerLast colwidth">@detail.DON_GIA_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@total.ToString("#,###.##")</td>
            </tr>
        }
        <tr>
            <td colspan="6" class="innerLast" style="background-color:lightgray">Tồng hóa đơn</td>
            <td style="background-color:lightgray" class="innerLast">@allTotal.ToString("#,###.##")</td>
        </tr>
    </table>
    <hr />
    <table style="width: 100%; text-align: center">
        <tr>
            <td style="width: 33%; text-align: center">
                Người bán hàng
            </td>
            <td style="width:33%; text-align:center">
                Người thu tiền
            </td>
            <td style="width: 33%; text-align: center">
                Người nhận hàng
            </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <hr />
    <div class="innerLast" style="text-align:center">
        @Model.SmsMaster.AdvertisementFooter
    </div>
</div>

<div id="printFeatureWithoutPercent">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />

    <table style="width:100%">
        <tr>
            <td rowspan="3">
                <img width="100" height="100" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right">
                <table style="width:100%">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber  - Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr />
    <table style="width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            Tên khách hàng
                        </td>
                        <td>
                            @Model.Infor.TEN_KHACH_HANG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Điạ chỉ giao hàng
                        </td>
                        <td>
                            @Model.Infor.DIA_CHI_GIAO_HANG
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Số điện thoại
                        </td>
                        <td>
                            @Model.Infor.SO_DIEN_THOAI
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="width:50%">
                            Số hóa đơn
                        </td>
                        <td>
                            @Model.Infor.SO_HOA_DON
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày bán hàng
                        </td>
                        <td>
                            @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                            {
                                @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ngày giao hàng
                        </td>
                        <td>
                            @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                            {
                                @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                            }

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <hr />
    <div style="text-align:center">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <hr />
    <table style="width:100%" id="MainTable" class="details">
        <tr>
            <td class='inner colwidth head ' width="5%;">
                STT
            </td>
            <td class='inner colwidth head '>
                Tên sản phầm
            </td>
            <td class='inner colwidth head '>
                Số lượng
            </td>
            <td class='innerLast colwidth head '>
                Đơn vị
            </td>
            <td class='inner colwidth head '>
                Đơn giá
            </td>
            <td class='innerLast colwidth head '>
                Thành tiền
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
        }
        @foreach (var detail in Model.detailList)
        {
            i++;
            total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
            allTotal += total;
            <tr>
                <td class="innerLast colwidth">@i</td>
                <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                <td class="innerLast colwidth">@detail.SO_LUONG_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@detail.TEN_DON_VI_TEMP</td>
                <td class="innerLast colwidth">@detail.DON_GIA_TEMP.ToString("#,###.##")</td>
                <td class="innerLast colwidth">@total.ToString("#,###.##")</td>
            </tr>
        }
        <tr>
            <td colspan="5" class="innerLast" style="background-color:lightgray">Tồng hóa đơn</td>
            <td style="background-color:lightgray" class="innerLast">@allTotal.ToString("#,###.##")</td>
        </tr>
    </table>
    <hr />
    <table style="width: 100%; text-align: center">
        <tr>
            <td style="width: 33%; text-align: center">
                Người bán hàng
            </td>
            <td style="width:33%; text-align:center">
                Người thu tiền
            </td>
            <td style="width: 33%; text-align: center">
                Người nhận hàng
            </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <hr />
    <div class="innerLast" style="text-align:center">
        @Model.SmsMaster.AdvertisementFooter
    </div>
</div>
<input type="button" value="In hóa đơn" onclick="pagePrint(); return false;">
<input type="button" value="In hóa đơn không % CK" onclick="PageWithoutPercentPrint(); return false;">
<input type="button" value="In hóa đơn (80x***)" onclick="smallPagePrint(); return false;">