@model SMS.Models.ExportModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Chi tiết hóa đơn bán hàng";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />

<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("Export", "Home")"> Quản lý kho - xuất kho </a> > 
    <a href="@Url.Action("Index", "Export")"> Danh sách hóa đơn chờ xuất kho </a>
    > Chi tiết hóa đơn bán hàng - xuất kho
    
    <br />
</div>
<br />
<hgroup class="title">
    <h2> Chi tiết hóa đơn bán hàng - xuất kho</h2>
</hgroup>

<div style="color:red">@ViewBag.Message </div>
<div style="color:blue">@ViewBag.Info </div>
<hr style="width:100%" />
@using (Html.BeginForm("Export", "Export", FormMethod.Post, new { @name = "Export", @id = "Export" }))
{

    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <div class="left">
                @Html.HiddenFor(u => u.Infor.MA_HOA_DON)
                @Html.HiddenFor(u => u.storeId)
                @Html.HiddenFor(u => u.Infor.MA_KHACH_HANG)
                @Html.HiddenFor(u => u.Infor.TEN_KHACH_HANG)
                <label> Tên khách hàng</label>
            </div>
            <div class="right">
                <label>@Model.Infor.TEN_KHACH_HANG</label>
            </div>
            
            <div class="left">
                <label> Ngày giao hàng </label>
            </div>
            <div class="right">
                @if (@Model.Infor.NGAY_GIAO != null)
                {
                    <label>@Convert.ToDateTime(@Model.Infor.NGAY_GIAO).ToString("dd/MM/yyyy") </label>
                }
                else
                {
                    <label>...</label>
                }

            </div>
            <div class="left">
                <label> Địa chỉ giao hàng </label>
            </div>
            <div class="right">
                <label>@Model.Infor.DIA_CHI_GIAO_HANG</label>
            </div>
            <div style="clear:both"></div>
            <hr style="width:100%" />
            <input type="submit" style="width:300px" value="Xuất kho" />
            <input type="button" style="width:300px" value="Trở về danh sách hóa đơn" onclick="window.location.href='@Url.Action("Index", "Export")'" />


            <table border="1" cellpadding="0" cellspacing="0" style="width:100%" id="MainTable">
                <tr>
                    <td class='inner colwidth head ' width="5%;">
                        STT
                    </td>
                    <td class='inner colwidth head ' width="15%">
                        Mã sản phầm
                    </td>
                    <td class='inner colwidth head ' width="15%">
                        Tên sản phầm
                    </td>
                    <td class='inner colwidth head ' width="15%">
                        Số lượng
                    </td>
                    <td class='innerLast colwidth head ' width="15%">
                        Đơn vị
                    </td>
                </tr>
                @{
            int i = 0;
            double soluong = 0;
                }
                @foreach (var detail in Model.DetailList)
                {
                    i++;
                    <tr>
                        <td class="inner colwidth" width="5%;">
                            @i
                        </td>
                        <td class="inner colwidth">
                            @detail.MA_SAN_PHAM
                        </td>
                        <td class="inner colwidth">
                            @detail.TEN_SAN_PHAM
                        </td>
                        <td class="inner colwidth">
                            @if (@detail.SO_LUONG != null)
                            {
                                @detail.SO_LUONG.ToString("#,0.00")
                                soluong += detail.SO_LUONG;
                            }
                            
                        </td>
                        <td class="innerLast colwidth">
                            @detail.TEN_DON_VI
                        </td>
                    </tr>
                }
                <tr style="background-color:lightgray">
                    <td class="innerLast colwidth" colspan="4">
                        <strong> Tồng cộng số lượng</strong>
                    </td>
                    <td class="innerLast colwidth">
                        <strong>@soluong.ToString("#,0.00")</strong>
                    </td>
                </tr>
            </table>
            <div style="clear:both"></div>
            <hr style="width:100%" />
            <input type="submit" style="width:300px" value="Xuất kho" />
            <input type="button" style="width:300px" value="Trở về danh sách hóa đơn" onclick="window.location.href='@Url.Action("Index", "Export")'" />
        </fieldset>
    </div>
}
