@model SMS.Models.KHU_VUC

@{
    ViewBag.Title = "Thêm mới khu vực";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <div>
                @Html.LabelFor(u => u.TEN_KHU_VUC)
            </div>
            <div>
                @Html.TextBoxFor(u => u.TEN_KHU_VUC)
            </div>
            <div>
                @Html.LabelFor(u => u.GHI_CHU)
            </div>
            <div>
                @Html.TextAreaFor(u => u.GHI_CHU)
            </div>

            <div>
                <input type="submit" style="width:100px" value="Lưu" />
                <span> </span>
                <input type="button" style="width:100px" value="Làm lại" onclick="reset()" />
            </div>
        </fieldset>
    </div>
    <script>
        function reset() {
            var name = document.getElementById("TenKhuVuc");
            var note = document.getElementById("GhiChu");
            name.value = "";
            note.value = "";
            return false;
        }
    </script>


}
