@model SMS.Models.NHA_CUNG_CAP

@{
    ViewBag.Title = "Thay đổi thông tin nhà cung cấp";
}
<div style="float:left; font-family:'Times New Roman'; font-size:18px; padding-bottom:10px; padding-top:10px;">
    <a href="@Url.Action("QuanTri", "Home")"> Quản trị </a> > <a href="@Url.Action("Index", "NhaCungCap")"> Danh sách nhà cung cấp </a>  > Thay đổi thông tin nhà cung cấp
</div>
<hr style="width:100%" />
<h2> @ViewBag.Title</h2>
<hr style="width:100%" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <div>
                @Html.HiddenFor(u => u.MA_NHA_CUNG_CAP)
            </div>
            <div>
                @Html.LabelFor(u => u.TEN_NHA_CUNG_CAP)
            </div>
            <div>
                @Html.TextBoxFor(u => u.TEN_NHA_CUNG_CAP)
            </div>
            <div>
                @Html.LabelFor(u => u.DIA_CHI)
            </div>
            <div>
                @Html.TextAreaFor(u => u.DIA_CHI)
            </div>
            <div>
                @Html.LabelFor(u => u.SO_DIEN_THOAI)
            </div>
            <div>
                @Html.TextBoxFor(u => u.SO_DIEN_THOAI)
            </div>
            <div>
                @Html.LabelFor(u => u.EMAIL)
            </div>
            <div>
                @Html.TextBoxFor(u => u.EMAIL)
            </div>
            <div>
                @Html.LabelFor(u => u.TEN_NGUOI_LIEN_HE)
            </div>
            <div>
                @Html.TextBoxFor(u => u.TEN_NGUOI_LIEN_HE)
            </div>
            <div>
                @Html.LabelFor(u => u.GHI_CHU)
            </div>
            <div>
                @Html.TextAreaFor(u => u.GHI_CHU)
            </div>

            <div>
                <input type="submit" style="width:100px" value="Lưu" />
                <span> </span>
                <input type="button" style="width:100px" value="Quay lại" onclick="window.location.href='@Url.Action("Index","NhaCungCap")'" />
            </div>
        </fieldset>
    </div>
    <script>
        function reset() {
            window.location.reload();
            return false;
        }
    </script>


}
