@model SMS.Models.EditImportModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Nhập kho - mua hàng";
}
<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("Import", "Home")"> Nhập kho </a> >
    <a href="@Url.Action("index", "Import")"> Danh sách các hóa đơn nhập kho </a> > @ViewBag.Title
</div>

<br />
<hgroup class="title">
    <h2>
        <strong> @ViewBag.Title </strong>
    </h2>
</hgroup>
<hr />

<div id="message" style="color:red; font-family:'Times New Roman'; font-size:16px;">

</div>
<h3>@ViewBag.Message</h3>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Import.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>
<script src="~/Content/js/Import/EditImport.js"></script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        //Stop Form Submission of Enter Key Press
        $(document).ready(function () {
            $('.datePicker').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
    <style type="text/css">
        .required:after {
            content: "(*)";
            font-weight: bold;
            color: red;
        }
    </style>

}
@using (Html.BeginForm("Edit", "Import", FormMethod.Post, new { @id = "index" }))
{
            var showFlg = 0;
        if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
        {
            showFlg = 1;
        }
    
    <input type="hidden" id="showFlg" value="@showFlg" />
    <table style="font-family:'Times New Roman'">
        <tr>
            <td width="15%">
                Số hóa đơn :
            </td>
            <td width="35%">
                @Html.HiddenFor(u => u.Infor.MA_NHAP_KHO)
                @Html.TextBoxFor(u => u.Infor.SO_HOA_DON)
            </td>
            <td width="15%">
                Nhà cung cấp :
            </td>
            <td class="required">
                @Html.DropDownListFor(u => u.Infor.MA_NHA_CUNG_CAP, new SelectList(@Model.Providers, "MA_NHA_CUNG_CAP", "TEN_NHA_CUNG_CAP"), "---------Chọn nhà cung cấp-----------", new { @id = "providerId", style = "padding:5px;font-size:1.2em", @class = "required" })
            </td>
        </tr>
        <tr>
            <td>
                Kho :
            </td>
            <td class="required">
                @if ((bool)Session["IsAdmin"])
                {
                    @Html.DropDownListFor(u => u.Infor.MA_KHO, new SelectList(@Model.Stores, "MA_KHO", "TEN_KHO"), "------------ Chọn  kho -------------", new { @id = "storeId", style = "padding:5px;font-size:1.2em", @class = "required" })
                }
                else
                {
                    @Html.DropDownListFor(u => u.Infor.MA_KHO, new SelectList(@Model.Stores, "MA_KHO", "TEN_KHO"), "------------ Chọn  kho -------------", new { @id = "storeId", @disabled = "disabled", @style = "padding:5px;font-size:1.2em", @class = "required" })
                }
            </td>
            <td>
                Ngày nhập kho :
            </td>
            <td class="required">
                @Html.TextBoxFor(u => u.Infor.NGAY_NHAP, "{0:dd/MM/yyyy}", new { @class = "datePicker ", @id = "importDate" })
            </td>
        </tr>
        <tr>
            <td>
                Ghi chú :
            </td>
            <td colspan="3">
                @Html.TextAreaFor(u => u.Infor.GHI_CHU)
            </td>
        </tr>
    </table>
    <hr />
    <input type="button" value="Lưu" style="width:250px;" onclick="return returnSubmit()" />
    <input type="button" value="Xóa" style="width:200px" onclick="deleteCheckedRow()" />
    <input type="hidden" id="rowIndex" value="@(Model.Detail.Count -1 )" />

    <div style="clear:both"></div>
    <table id="detailTable" name="detailTable" width="100%" class="contentTable">
        <thead>
            <tr class="inner column-hscroll alignCenter">
                <td class='inner colwidth head ' width="5%;"> <input type="checkbox" id="chckHead" /> </td>
                <td class='inner colwidth head '> CODE </td>
                <td class='inner colwidth head '> Sản phẩm </td>
                <td class='inner colwidth head '> Số lượng </td>
                <td class='inner colwidth head '> Đơn vị </td>
                @if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
                {
                    <td class='inner colwidth head '> Đơn giá </td>
                    <td class='innerLast colwidth head '> Thành tiền </td>
                }
            </tr>
        </thead>

        <tbody>
            @{
                double price = 0;
                double quantity = 0;
                double total = 0;
                double allTotal = 0;
            }
            @for (int i = 0; i < Model.Detail.Count; i++)
            {
                price = Convert.ToDouble(Model.Detail[i].DON_GIA);
                quantity = Convert.ToDouble(Model.Detail[i].SO_LUONG);
                total = price * quantity;
                allTotal += total;
                <tr>
                    <td class='inner alignCenter colwidth' width="5%;">
                        <input type="checkbox" class="chcktbl arrowkey">
                    </td>
                    <td class='inner colwidth '>
                        @Html.TextBoxFor(u => u.Detail[i].CODE, new { @class = "code codebtl_Edit arrowkey" })
                    </td>
                    <td class='inner colwidth '>
                        @Html.HiddenFor(u => u.Detail[i].MA_SAN_PHAM, new { @class = "productId " })
                        @Html.HiddenFor(u => u.Detail[i].DEL_FLG, new { @class = "delFlg" })
                        @Html.HiddenFor(u => u.Detail[i].HE_SO, new { @class = "convertor" })
                        @Html.TextBoxFor(u => u.Detail[i].TEN_SAN_PHAM, new { @class = "arrowkey productname namebtl_Edit" })
                    </td>
                    <td class='inner colwidth '>
                        @Html.TextBoxFor(u => u.Detail[i].SO_LUONG, new { @class = "arrowkey quantity textbtl_Edit numberic" })
                    </td>
                    <td class="innerLast colwidth">
                        @Html.Hidden("unitTemp", Model.Detail[i].MA_DON_VI, new { @id = i + "MA_DON_VI", @name = i + "MA_DON_VI", @class = "unitTemp" })
                        @Html.DropDownListFor(u => u.Detail[i].MA_DON_VI, new SelectList(@Model.Units, "MA_DON_VI", "TEN_DON_VI"), "---------", new { style = "padding:5px;font-size:1.2em;width:100%;", @class = "unit arrowkey" })
                    </td>
                    @if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
                    {
                        <td class='inner colwidth '>
                            @Html.TextBoxFor(u => u.Detail[i].DON_GIA, new { @class = "arrowkey price textbtl_Edit numberic" })
                        </td>
                        <td class='innerLast colwidth '>
                            @Html.TextBox("total", total.ToString("#,###.##"), new { @class = "arrowkey total textbtl_Edit numberic", @readOnly = true })
                        </td>
                    }
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                @if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
                {
                    <td class='innerLast alignCenter colwidth ' style="background-color:lightgray" colspan="6"> </td>
                }
                else
                {
                    <td class='innerLast alignCenter colwidth ' style="background-color:lightgray" colspan="4"> </td>
                }
                <td class='innerLast alignCenter colwidth ' style="background-color:lightgray">
                    <input type="button" value="Thêm dòng" onclick="addRow()" />
                </td>
            </tr>
            <tr>
                <td class='innerLast colwidth  ' colspan="3" style="background-color:lightgray"> <strong>Tổng số các mặt hàng</strong> </td>

                @if ((bool)Session["IsAdmin"] || (bool)Session["IsAccounting"])
                {
                    <td class='innerLast alignCenter colwidth ' style="background-color:lightgray"><strong class="frows"> 1 </strong> </td>
                    <td class='innerLast alignCenter colwidth ' style="background-color:lightgray" colspan="2"> <strong>Tổng hóa đơn</strong> </td>
                    <td class='innerLast alignCenter colwidth ' style="background-color:lightgray"> <strong class="fall"> 0 </strong>  </td>
                }
                else
                {
                    <td class='innerLast alignCenter colwidth ' colspan="2" style="background-color:lightgray"><strong class="frows"> 1 </strong> </td>
                }
            </tr>
        </tfoot>
    </table>
    <input type="button" value="Lưu" style="width:250px;" onclick="return returnSubmit()" />
    <input type="button" value="Xóa" style="width:200px" onclick="deleteCheckedRow()" />
}
