@model SMS.Models.ImExModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Báo cáo xuất nhập kho";
}

<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("QuanLyKho", "Home")"> Quản lý kho </a>
    > @ViewBag.Title

    <br />
</div>
<br />
<hgroup class="title">
    <h2> @ViewBag.Title </h2>
</hgroup>
<h3>@ViewBag.Message</h3>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>

<br />
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/SanPham/FindSuggest", data: "{ 'prefixText': '" + request.term + "' }",
                        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; }, success:
                            function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.value,
                                        value: item.value,
                                        id: item.id
                                    }
                                }))
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                    });
                    $('#ProductId').val("");
                },
                select: function (event, ui) {
                    $('#ProductName').val(ui.item.label);
                    $('#ProductId').val(ui.item.id);
                    return false;
                },
                minLength: 1

            });

            $("#StoreName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Kho/FindSuggest", data: "{ 'prefixText': '" + request.term + "' }",
                        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; }, success:
                            function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.value,
                                        value: item.value,
                                        id: item.id
                                    }
                                }))
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                    });
                },
                select: function (event, ui) {
                    $('#StoreName').val(ui.item.label);
                    $('#StoreId').val(ui.item.id);
                    return false;
                },
                minLength: 1
            })
        });
        $(document).ready(function () {
            $('.datePicker').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>

}
@using (Html.BeginForm("ExportReportDetail", "QuanLyKho", FormMethod.Post, new { @id = "index" }))
{
    <hr style="width:100%" />
    <div style="float:left">
        Cửa hàng  : @Html.TextBox("StoreName", ViewBag.StoreName as string, new { id = "StoreName" })
        @Html.Hidden("StoreId", new { id = "StoreId" })
        <br />
        @Html.Hidden("ProductId", new { id = "ProductId" })
        Sản phẩm: @Html.TextBox("ProductName", ViewBag.ProductName as string, new { id = "ProductName" })
    </div>
    <div style="float:left">
        Ngày Mua: @Html.TextBox("fromDate", ViewBag.FromDate as DateTime?, new { @class = "datePicker" }) ~ @Html.TextBox("toDate", ViewBag.ToDate as DateTime?, new { @class = "datePicker" })
        <input type="submit" value="Tìm kiếm" class="myButton" />
        <input type="button" value="Xuất excel" id=" btnExport" onclick="tableToExcel('tblExport', 'Export')" class="myButton" />
    </div>
    <div style="clear:both"></div>
    <hr style="width:100%" />
    <div>
        <table width="100%" id="tblExport" name="tblExport">
            <tr style="width:100%">
                <td class='inner colwidth head '> Tên sản phẩm </td>
                <td class='inner colwidth head '> Đơn vị </td>
                <td class='inner colwidth head '>  Số lượng nhập  </td>
                <td class='innerLast colwidth head '>  Số lượng xuất </td>
            </tr>
            @{
    DateTime ImportDate = DateTime.Now;
    if (Model.ResultList.Count() >= 1)
    {
        ImportDate = (DateTime)Model.ResultList[0].NGAY_NHAP_XUAT;

        <tr>
            <td class="innerLast colwidth" colspan="4" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
        </tr>
    }
            }
            @foreach (var dbHist in Model.ResultList)
            {
                if (ImportDate != (DateTime)dbHist.NGAY_NHAP_XUAT)
                {
                    ImportDate = (DateTime)dbHist.NGAY_NHAP_XUAT;
                    <tr>
                        <td class="innerLast colwidth" colspan="4" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                    </tr>
                }
                <tr class="inner column-hscroll alignCenter">
                    <td class="inner colwidth">
                        @dbHist.TEN_SAN_PHAM
                    </td>
                    <td class="inner colwidth">
                        @dbHist.TEN_DON_VI
                    </td>
                    <td class="inner colwidth">
                        @dbHist.SO_LUONG_NHAP.ToString("0,0.00")
                    </td>
                    <td class="innerLast colwidth">
                        @dbHist.SO_LUONG_XUAT.ToString("0,0.00")
                    </td>
                </tr>
            }
        </table>

        <table width="100%">
            <tr>
                <td>
                    <div style="text-align:left; padding-top:3px;">
                        <label>@ViewBag.Count dòng dữ liệu</label>
                    </div>
                </td>
                <td>
                    <div style="text-align: right;  padding-top: 3px; ">
                        @Html.PagedListPager(Model.ResultList, page => Url.Action("ImExDetail",
                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </td>
            </tr>

        </table>
    </div>
}
<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>