@model SMS.Models.CompareModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "So sánh tồn kho";
}

<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("QuanLyKho", "Home")"> Quản lý kho </a> > @ViewBag.Title

    <br />
</div>
<hgroup class="title">
    <h2> @ViewBag.Title </h2>
</hgroup>
<div id="Informessage" style="color:blue; font-family:'Times New Roman'; font-size:16px;">
    @ViewBag.InforMessage
</div>
<div id="Message" style="color:red; font-family:'Times New Roman'; font-size:16px;">
    @ViewBag.Message
</div>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>
<script src="~/Content/js/FileSaver.js"></script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {            
            $("#firstDate").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", 'today -1');
            $("#secondDate").datepicker({ dateFormat: "dd/mm/yy" }).datepicker("setDate", new Date());

            $("#ExportExcel").click(function () {
                var storeId = $("#StoreId").val();
                var productGroupId = $("#productGroupId").val();
                var productId = $("#productId").val();
                var productName = $("#productName").val();
                var fisrtDate = $("#firstDate").val();
                var secondDate = $("#secondDate").val();
                alert(fisrtDate);
                alert(secondDate);
                $.ajax({
                    url: "/QuanLyKho/downloadCompared",
                    data: "{ 'storeId': '" + storeId + "' , 'productGroupId':'" + productGroupId + "' , 'productId':'" + productId + "' , 'productName':'" + productName + "' , 'firstDate':'" + fisrtDate + "' , 'secondDate': '" + secondDate + "'}",
                    type: "POST", contentType: "application/json; charset=utf-8",
                    success: function (response, status, request) {
                        var disp = request.getResponseHeader('Content-Disposition');
                        if (disp && disp.search('attachment') != -1) {
                            var type = request.getResponseHeader('text/csv');
                            var blob = new Blob([response], { type: type });
                            var index = disp.indexOf("=");
                            var fileName = disp.substr(index + 1 + "=".length);
                            saveAs(blob, fileName);
                        }
                    }
                });
            });

            $("#productName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/SanPham/FindSuggest", data: "{ 'prefixText': '" + request.term + "' }",
                        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                        dataFilter: function (data) { return data; }, success:
                            function (data) {
                                response($.map(data, function (item) {
                                    return {
                                        label: item.value,
                                        value: item.value,
                                        id: item.id
                                    }
                                }))
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                    });
                    $('#productId').val("");
                },
                select: function (event, ui) {                    
                    $('#productId').val(ui.item.id);
                    $('#productName').val(ui.item.label);
                    return false;
                },
                minLength: 1

            });
            $('#mainForm').submit();
        });
    </script>
    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>

}
@using (Ajax.BeginForm("InventoryComparedPtv", "QuanLyKho", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "resultLoadingDiv",
                                UpdateTargetId = "mainDiv"
                            },
                           new { @id = "mainForm" }
                      ))
{
    <hr style="width:100%" />
    <table>
        <tr>
            <td> Kho&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>
                @if ((bool)Session["IsAdmin"])
                {
                    @Html.DropDownList("storeId", new SelectList(@Model.Stores, "MA_KHO", "TEN_KHO"), "---------- Chọn  kho --------", new { @id = "storeId", style = "padding:5px;font-size:1.2em" })
                }
                else
                {
                    @Html.DropDownList("storeId", new SelectList(@Model.Stores, "MA_KHO", "TEN_KHO"), "---------- Chọn  kho --------", new { @id = "storeId", @disabled = "disabled", @style = "padding:5px;font-size:1.2em" })
                }
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td> Nhóm sản phẩm&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>
                @Html.DropDownList("productGroupId", new SelectList(@Model.ProductGroups, "MA_NHOM", "TEN_NHOM"), "-Chọn nhóm sản phẩm-", new { @id = "productGroupId", style = "padding:5px;font-size:1.2em" })
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td> Sản phẩm&nbsp;&nbsp;&nbsp;&nbsp; </td>
            <td>
            @Html.Hidden("productId", ViewBag.productName as int?, new { @id = "productId" }) 
            @Html.TextBox("productName", ViewBag.productName as string, new { @id = "productName" })&nbsp;&nbsp;&nbsp;&nbsp;</td>
                       
        </tr>
        <tr>
            <td>
                Ngày trước
            </td>
            <td>
               @Html.TextBox("firstDate", ViewBag.FromDate as DateTime?, new { @class = "datePicker", @id = "firstDate" })
            </td>
            <td> Ngày sau </td>
            <td>
                @Html.TextBox("secondDate", ViewBag.FromDate as DateTime?, new { @class = "datePicker", @id = "secondDate" })
            </td>
            <td>
                <input type="submit" value="Tìm kiếm" />
            </td>
            <td>
                <input type="button" id="ExportExcel" value="Xuất excel" />
            </td> 
        </tr>
    </table>
    <div style="clear:both"></div>
    <hr style="width:100%" />
    <div style="clear:both"></div>
}
<div style="clear:both"></div>
<div id="resultLoadingDiv" style="border: none; display: none; z-index: 99; text-align: center; position: absolute; margin-left: 525px; ">
    <img src="/Content/images/loading-2.gif" />
</div>
<div id="mainDiv">

</div>