@model SMS.Models.PHAN_QUYEN

@{
    ViewBag.Title = "Thêm mới phân quyền";
}
@section Scripts {
    
    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
}
<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("QuanTri", "Home")"> Quản trị </a> > 
    <a href="@Url.Action("Index", "PhanQuyen")"> Phân quyền người dùng </a>
    > @ViewBag.Title
</div>
<br />
<hgroup class="title">
    <h2> @ViewBag.Title</h2>
</hgroup>
<br />
<h3 style="color:red">@ViewBag.Message</h3>

<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("AddNew", "PhanQuyen", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <table width="100%">
                <tr>
                    <td class="center1">
                        @Html.LabelFor(u => u.MA_NGUOI_DUNG)
                    </td>
                    <td class="right1 required">
                        @Html.DropDownListFor(u => u.MA_NGUOI_DUNG, new SelectList(ViewBag.ListNguoiDung, "MA_NGUOI_DUNG", "TEN_NGUOI_DUNG"), "----------Chọn người dùng--------------", new { style = "padding:5px;font-size:1.2em" })
                    </td>
                </tr>
                <tr>
                    <td class="center1">
                        @Html.LabelFor(u => u.QUYEN_ADMIN)
                    </td>
                    <td class="right1 ">
                        @Html.CheckBoxFor(u => u.QUYEN_ADMIN, new { id = "admin_chk" })
                    </td>
                </tr>
                <tr>
                    <td class="center1">
                        @Html.LabelFor(u => u.QUYEN_DANH_MUC_SAN_PHAM)
                    </td>
                    <td class="right1 ">
                        @Html.CheckBoxFor(u => u.QUYEN_DANH_MUC_SAN_PHAM, new { id = "sanpham_chk" })
                    </td>
                </tr>
                <tr>
                    <td class="center1">
                        @Html.LabelFor(u => u.QUYEN_BAN_HANG)
                    </td>
                    <td class="right1 ">
                       @Html.CheckBoxFor(u => u.QUYEN_BAN_HANG, new { id = "banhang_chk" })
                    </td>
                </tr>

                <tr>
                    <td class="center1">
                        @Html.LabelFor(u => u.QUYEN_THAU_NGAN)
                    </td>
                    <td class="right1 ">
                       @Html.CheckBoxFor(u => u.QUYEN_THAU_NGAN, new { id = "thaungan_chk" })
                    </td>
                </tr>

                <tr>
                    <td class="center">
                        @Html.LabelFor(u => u.QUYEN_QUAN_LY_KHO)
                    </td>
                    <td class="right1 ">
                       @Html.CheckBoxFor(u => u.QUYEN_QUAN_LY_KHO, new { id = "qlkho_chk" })
                    </td>
                </tr>
             </table>
                <div>
                    <input type="submit" style="width:100px" value="Lưu" />
                    <span> </span>
                    <input type="button" style="width:100px" value="Làm lại" onclick="" />
                </div>
</fieldset>
    </div>
}
