@model PagedList.IPagedList<SMS.Models.PhanQuyenObj>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PhanQuyen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>

@{
    ViewBag.Title = "Danh mục phân quyền người dùng";
}

<h2>@ViewBag.Title </h2>

<hr style="width:100%" />

@using (Html.BeginForm("Index", "PhanQuyen", FormMethod.Get))
{
    <div style="float:right">
        <p>
            Từ khóa tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" class="myButton" />
            @{
    if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
    {
        <input type="button" value="Thêm Mới" class="myButton" onclick="window.location.href='@Url.Action("AddNew","PhanQuyen")'" />
    }
            }
        </p>

    </div>
    <div style="clear:both"></div>
    <hr style="width:100%" />
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td class='tablefrozencolumn' width="15%">
                <div id='divroot' class='root'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='root'>
                        <tr>
                            <td class='inner colwidth head ' width="40%">
                                @Html.ActionLink("Mã người dùng", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex })
                            </td>
                        </tr>
                    </table>
                </div>
                <div id='divfrozen' class='frozen'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='frozen' id="contentFrozen">
                        @foreach (var phanquyen in Model)
                        {
                            <tr>
                                <td class='inner frozencol colwidth toprow alignNumberic' width="40%">
                                    @phanquyen.PhanQuyen.MA_NGUOI_DUNG
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
            <td class='tablecontent'>
                <div id='headscroll' class='divhead'>
                    <table border="0" cellpadding="0" cellspacing="0" class='head'>
                        <tr>
                            <td class='inner column-hscroll head'>
                                Quyền Admin
                            </td>
                            <td class='inner column-hscroll head'>
                                Quyền DM sản phẩm
                            </td>
                            <td class='inner column-hscroll head'>
                                Quyền bán hàng
                            </td>
                            <td class='inner column-hscroll head'>
                                Quyền thâu ngân
                            </td>
                            <td class='inner column-hscroll head'>
                                Quyền quản lý kho
                            </td>
                            <td class='inner column-hscroll head'>
                                Nhóm người dùng
                            </td>
                            @{
    if ((bool)Session["IsAdmin"] == true)
    {
        <td class='inner head' style="width:90px;">Người tạo</td>
                                <td class='inner  head' style="width:90px;">Ngày tạo</td>
                                <td class='inner  head' style="width:110px;">Người cập nhật</td>
                                <td class='inner  head' style="width:110px;">Ngày cập nhật</td>
    }
    if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
    {
        <td class='inner head' style="width:50px;">Sửa</td>
                                <td class='inner head' style="width:50px;">Xóa</td>
    }
                            }
                        </tr>
                    </table>
                </div>
                <div id='contentscroll' class='content' onscroll='reposHead(this);'>
                    <table border="0" cellpadding="0" cellspacing="0" class='content' id='innercontent'>
                        @foreach (var phanquyen in Model)
                        {
                            <tr>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.QUYEN_ADMIN</td>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.QUYEN_DANH_MUC_SAN_PHAM</td>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.QUYEN_BAN_HANG</td>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.QUYEN_THAU_NGAN</td>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.QUYEN_QUAN_LY_KHO</td>
                                <td class='inner column-hscroll alignCenter'> @phanquyen.PhanQuyen.MA_NHOM_NGUOI_DUNG</td>
                                @{
                            if ((bool)Session["IsAdmin"] == true)
                            {
                                <td class='inner  alignCenter' style="width:90px;"> @phanquyen.NguoiTao.TEN_NGUOI_DUNG </td>
                                    <td class='inner  alignCenter' style="width:90px;"> @Html.Label(DateTime.Parse(@phanquyen.PhanQuyen.CREATE_AT.ToString()).ToString("dd/MM/yyyy"))</td>
                                    <td class='inner  alignCenter' style="width:110px;"> @phanquyen.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                                    <td class='inner  alignCenter' style="width:110px;"> @Html.Label(DateTime.Parse(@phanquyen.PhanQuyen.UPDATE_AT.ToString()).ToString("dd/MM/yyyy"))</td>
                            }
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                            {
                                <td class='inner alignCenter' style="width:50px;">
                                    <a href="@Url.Action("Edit", "PhanQuyen", new { id = @phanquyen.PhanQuyen.ID })" class="button-module">
                                        <img width="16;" height="16;" alt="edit" src="~/Content/images/edit-icon.png"></img>
                                    </a>
                                </td>
                                    <td class='inner alignCenter' style="width:50px;">
                                        <a href="@Url.Action("Delete", "PhanQuyen", new { id = @phanquyen.PhanQuyen.ID })" class="button-module" onclick="return deleteSubmit()">
                                            <img width="16" height="16" alt="edit" src="~/Content/images/edit_delete.png"></img>
                                        </a>
                                    </td>
                            }
                                }
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class='horizontal-scroll' onscroll='reposHorizontal(this);'>
                    <div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@ViewBag.Count : Phân quyền </label>
                </div>
            </td>
            <td>
                <div style="text-align:right; padding-top:3px;">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </td>
        </tr>
    </table>
}
<script>
    function deleteSubmit() {
        var r = confirm("Bạn muốn xóa phân quyền này!");
        if (r == true) {
            document.forms[0].submit();
        }
        else {
            return false;
        }
    }
</script>
