@model SMS.Models.InvoicesModel
@using PagedList.Mvc;

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#smallPagePrint").hide();
            $("#printFeatureWithoutPercent").hide();
            $('#printBillFeature').hide();
        });
        //Stop Form Submission of Enter Key Press
        function pagePrint() {
            var originalContents = document.body.innerHTML;
            /*format by css s*/
            $('#printBillFeature').find( "#fTitleMain" ).css( "margin-top", "-25px" );
            // resize line-height
            $('#MainTable tr').each(function() {
                $(this).css("line-height","14px !important");
            });
            // set border-bottom : dot
            $('.details tr:not(:first-child):not(:last-child)').each(function() {
                $(this).css("border-bottom-style","dotted");
                $(this).css("border-bottom-width","1px");
            });
            $( "#MainTable tr:nth-last-child(2)").css("border-bottom-style","");
            $( "#MainTable tr:nth-last-child(2)").css("border-bottom-width","");
            /*format by css e*/
            var printContents = document.getElementById("printBillFeature").innerHTML;
          
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
           
            //$('#titleMain').css( "margin-top", "-7px" );
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        
        function smallPagePrint() {
            var originalContents = document.body.innerHTML;
            /*format by css s*/
            $('#smallPagePrint').find( "#sTitleMain" ).css( "margin-top", "-12px" );
            // resize line-height
            $('#SmallMainTable tr').each(function() {
                $(this).css("line-height","16px !important");
            });
            // set border-bottom : dot
            
            $('#SmallMainTable tr td').each(function() {
                $(this).css("border-bottom-style","hidden");
                $(this).css("border-right-style","hidden");
                $(this).css("border-left-style","hidden");
                $(this).css("border-top-width","1px");
            });
            $( "#SmallMainTable tr:nth-last-child(2)").css("border-bottom-style","hidden");
            $( "#SmallMainTable tr:nth-last-child(2)").css("border-bottom-width","hidden");
            
            /*format by css e*/
            var printContents = document.getElementById("smallPagePrint").innerHTML;
            document.getElementById('printFeature').style.display = 'none';
            document.getElementById('printFeatureWithoutPercent').style.display = 'none';
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

        function PageWithoutPercentPrint() {
            var printContents = document.getElementById("printFeatureWithoutPercent").innerHTML;
            $('#printFeatureWithoutPercent').find( "#fTitleMain" ).css( "margin-top", "-25px" );
            // resize line-height
            $('#MainTable tr').each(function() {
                $(this).css("line-height","14px !important");
            });
            // set border-bottom : dot
            $('.details tr:not(:first-child):not(:last-child)').each(function() {
                $(this).css("border-bottom-style","dotted");
                $(this).css("border-bottom-width","1px");
            });
            $( "#MainTable tr:nth-last-child(2)").css("border-bottom-style","");
            $( "#MainTable tr:nth-last-child(2)").css("border-bottom-width","");
            /*format by css e*/
            var originalContents = document.body.innerHTML;
            document.getElementById('printFeature').style.display = 'none';
            document.getElementById('myHeader').style.display = 'none';
            document.getElementById('myFooter').style.display = 'none';
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        };

</script>
    <style type="text/css;">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>

}

<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("BanHang", "Home")"> Bán hàng </a> >
    <a href="@Url.Action("Index", "HoaDon")"> Danh sách hóa đơn </a> >
    In hóa đơn
</div>

@{
    int i = 0;
    double total = 0;
    double allTotal = 0;
}

<div id="smallPagePrint" style="width:450px">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <table style=" font-family:'Times New Roman'; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
        </tr>
        <tr>
            <td style="text-align:center"> @Model.SmsMaster.Address</td>
        </tr>
        <tr>
            <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber</td>
        </tr>
        <tr>
            <td style="text-align:center"> Fax: @Model.SmsMaster.FaxNumber</td>
        </tr>
    </table>
    <div id="sTitleMain" style="text-align:center; font-size:23px"> PHIẾU XUẤT HÀNG</div>
    <table style=" font-family:'Times New Roman'; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td style="width:20%">
                Số:
            </td>
            <td>
                @Model.Infor.SO_HOA_DON
            </td>
        </tr>
        <tr>
            <td>
                KH:
            </td>
            <td>
                <strong>@Model.Infor.TEN_KHACH_HANG</strong>
            </td>
        </tr>
    </table>

    <table style="width:100%; font-family:'Times New Roman'" id="SmallMainTable" class="details">
        <tr>
            <td class='inner colwidth head alignCenter'>
                <strong>SL</strong> 
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>ĐV</strong> 
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>Đơn giá</strong> 
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>Thành tiền</strong> 
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
        }
        @foreach (var detail in Model.detailList)
        {
            i++;
            total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
            allTotal += total;
            <tr>
                <td class="innerLast colwidth" colspan="4">(@i) @detail.TEN_SAN_PHAM</td>
            </tr>
            <tr style="font-family:Arial">
                <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                <td class="innerLast colwidth alignCenter ">@detail.TEN_DON_VI_TEMP</td>
                <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                <td class="innerLast colwidth alignNumberic">@total.ToString("#,###")</td>
            </tr>
        }
        <tr>
            <td colspan="4"> <hr /></td>
        </tr>
        <tr>
            <td colspan="3" class="innerLast" style="background-color:lightgray"><strong>Tổng hóa đơn</strong></td>
            <td style="background-color:lightgray" class="innerLast alignNumberic"><strong>@allTotal.ToString("#,###")</strong></td>
        </tr>
        @if (Model.CustomerInformation != null && Model.CustomerInformation.NO_GOI_DAU > 0)
        {
            double debit = 0;
            if (Model.Infor.STATUS <= 1)
            {
                <tr>
                    <td colspan="3" class="innerLast" style="background-color:lightgray">Tồng nợ cũ</td>
                    @{
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                double ttall = debit + allTotal;
                    }
                    <td style="background-color:lightgray" class="innerLast">@debit.ToString("#,###")</td>
                </tr>
                <tr>
                    <td colspan="3" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast">@ttall.ToString("#,###")</td>
                </tr>
            }
            else
            {
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                <tr>
                    <td colspan="3" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast">@debit.ToString("#,###")</td>
                </tr>
            }
        }
        <tr>
            <td colspan="4"> <hr /> </td>
        </tr>
    </table>

</div>




<div id="printFeature">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />

    <table style="width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td rowspan="4" style="margin-left:0px; margin-right:0px;">
                <img width="110" height="110" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right ; padding: 0px 0px 0px 0px; margin-left:0px; margin-right:0px;">
                <table style="width:100%; font-family:'Times New Roman';font-size:16px;">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="fTitleMain" style="text-align:center; font-size:28px"> <strong>PHIẾU XUẤT HÀNG</strong></div>
    <hr />
    <table  style="font-family:'Times New Roman'; font-size:20px; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td>
                Số:
            </td>
            <td colspan="3">@Model.Infor.SO_HOA_DON</td>
        </tr>
        <tr>
            <td>
                KH:
            </td>
            <td>
                <strong>@Model.Infor.TEN_KHACH_HANG</strong>
            </td>
            <td>
                ĐT:
            </td>
            <td>
                @Model.Infor.SO_DIEN_THOAI
            </td>
        </tr>
        <tr>
            <td>
                Địa chỉ:
            </td>
            <td colspan="3">@Model.Infor.DIA_CHI_GIAO_HANG</td>
        </tr>
        <tr>
            <td>
                Ngày bán: 
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
            <td>
                Ngày giao:
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
        </tr>        
    </table>
    <hr />
    <div style="text-align:center; font-family:'Times New Roman'; font-size:20px;">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <hr />

    <table style="width: 100%; width: 100%; margin-top: 0px; margin-left: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; border-bottom: 1px dashed #494949 !important;" id="MainTable" class="details">
        <tr>
            <td class='inner colwidth head alignCenter' width="5%;">
                <strong>STT</strong>
            </td>
            <td class='inner colwidth head alignCenter' width="40%">
                <strong> Tên sản phầm </strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong> SL </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>ĐV</strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>Đơn giá </strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>(%) </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>Thành tiền </strong> 
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
        }
        @foreach (var detail in Model.detailList)
        {
            i++;
            total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
            allTotal += total;
            <tr style="font-family:'Times New Roman'">
                <td class="innerLast colwidth">@i</td>
                <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                <td class="innerLast colwidth alignCenter">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###")</td>
                <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
            </tr>
        }
        <tr>
            <td colspan="6" class="innerLast" style="background-color:lightgray"><strong> Tổng hóa đơn</strong> </td>
            <td style="background-color:lightgray" class="innerLast numberic"><strong>@allTotal.ToString("#,###")</strong> </td>
        </tr>
        @if (Model.CustomerInformation != null && Model.CustomerInformation.NO_GOI_DAU > 0)
        {
            double debit = 0;
            if (Model.Infor.STATUS <= 1)
            {
                <tr>
                    <td colspan="6" class="innerLast numberic" style="background-color:lightgray">Tồng nợ cũ</td>
                    @{
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                double ttall = debit + allTotal;
                    }
                    <td style="background-color:lightgray" class="innerLast numberic">@debit.ToString("#,###")</td>
                </tr>
                <tr>
                    <td colspan="6" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast numberic">@ttall.ToString("#,###")</td>
                </tr>
            }
            else
            {
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                <tr>
                    <td colspan="6" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast numberic">@debit.ToString("#,###")</td>
                </tr>
            }
        }
    </table>
    <hr />
    <table style="width: 100%; text-align: center; font-family:'Times New Roman'; font-size:20px">
        <tr>
            <td style="width: 33%; text-align: center">
                NV Bán          </td>
            <td style="width:33%; text-align:center">
                NV thu tiền    </td>
            <td style="width: 33%; text-align: center">
                Người nhận   </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <hr />
    <div class="innerLast" style="text-align:center; font-family:'Times New Roman'; font-size:20px">
        @Model.SmsMaster.AdvertisementFooter
    </div>
</div>



<div id="printBillFeature">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />

    <table style="font-family:'Times New Roman'; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td rowspan="3" style="margin-left:0px; margin-right:0px;">
                <img width="70" height="70" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right ; padding: 0px 0px 0px 0px; margin-left:0px; margin-right:0px;">
                <table style="width:100% ;font-family:'Times New Roman'">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber - Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="fTitleMain" style="text-align:center; font-size:23px"> PHIẾU XUẤT HÀNG</div>
    <table style="font-family:'Times New Roman' ; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td>
                Số:
            </td>
            <td colspan="3">@Model.Infor.SO_HOA_DON</td>
        </tr>
        <tr>
            <td>
                KH:
            </td>
            <td>
                <strong>@Model.Infor.TEN_KHACH_HANG</strong>
            </td>
            <td>
                ĐT:
            </td>
            <td>
                @Model.Infor.SO_DIEN_THOAI
            </td>
        </tr>
        <tr>
            <td>
                Địa chỉ:
            </td>
            <td colspan="3">@Model.Infor.DIA_CHI_GIAO_HANG</td>
        </tr>
        <tr>
            <td>
                Ngày bán:
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
            <td>
                Ngày giao:
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
        </tr>
    </table>
    <div style="text-align:center">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <table style="width: 100%; width: 100%; margin-top: 0px; margin-left: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; border-bottom: 1px dashed #494949 !important;" id="MainTable" class="details">
        <tr>
            <td class='inner colwidth head alignCenter' width="5%;">
                <strong>STT</strong>
            </td>
            <td class='inner colwidth head alignCenter' width="40%">
                <strong> Tên sản phầm </strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong> SL </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>ĐV</strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>Đơn giá </strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>(%) </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>Thành tiền </strong>
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
            int j = 0;
        }
        @if (Model.detailList.Count <= 17)
        {
           foreach (var detail in Model.detailList)
           {
                i++;
                total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
                allTotal += total;

                    <tr style="font-family:'Times New Roman'; font-size:12px;">
                        <td class="innerLast colwidth">@i</td>
                        <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                        <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                        <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###")</td>
                        <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                    </tr>

           }
        }
        else
        {
            foreach (var detail in Model.detailList)
            {
                i++;
                total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
                allTotal += total;
                if(i <= 17)
                { 
                    <tr style="font-family:'Times New Roman'">
                        <td class="innerLast colwidth">@i</td>
                        <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                        <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                        <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###")</td>
                        <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                    </tr>
                }
                else
                {
                    if (j == 0)
                    {
                        <tr>
                            <td colspan="7" style="border-left-style:hidden; border-right-style:hidden"></td>
                        </tr>
                        <tr>
                            <td class='inner colwidth head alignCenter' width="5%;">
                                <strong>STT</strong>
                            </td>
                            <td class='inner colwidth head alignCenter' width="40%">
                                <strong> Tên sản phầm </strong>
                            </td>
                            <td class='inner colwidth head alignCenter'>
                                <strong>SL</strong>
                            </td>
                            <td class='innerLast colwidth head alignCenter'>
                                <strong>ĐV</strong>
                            </td>
                            <td class='inner colwidth head alignCenter'>
                                <strong>Đơn giá</strong>
                            </td>
                            <td class='inner colwidth head alignCenter'>
                                <strong>(%)</strong>
                            </td>
                            <td class='innerLast colwidth head alignCenter'>
                                <strong>Thành tiền </strong>
                            </td>
                        </tr>
                        
                    }
                    
                    <tr style="font-family:'Times New Roman'">
                        <td class="innerLast colwidth">@i</td>
                        <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                        <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                        <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.PHAN_TRAM_CHIEC_KHAU.ToString("#,###")</td>
                        <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                    </tr>
                    j++;
                    if(j==27)
                    {
                        j = 0;
                    }
                }
            }
        }
        <tr>
            <td colspan="6" class="innerLast" style="background-color:lightgray"><strong> Tổng hóa đơn</strong> </td>
            <td style="background-color:lightgray; font-family:'Times New Roman'" class="innerLast numberic"><strong>@allTotal.ToString("#,###")</strong> </td>
        </tr>
        @if (Model.CustomerInformation != null && Model.CustomerInformation.NO_GOI_DAU > 0)
        {
            double debit = 0;
            if (Model.Infor.STATUS <= 1)
            {
                <tr>
                    <td colspan="6" class="innerLast numberic" style="background-color:lightgray">Tồng nợ cũ</td>
                    @{
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                double ttall = debit + allTotal;
                    }
                    <td style="background-color:lightgray" class="innerLast numberic">@debit.ToString("#,###")</td>
                </tr>
                <tr>
                    <td colspan="6" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast numberic">@ttall.ToString("#,###")</td>
                </tr>
            }
            else
            {
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                <tr>
                    <td colspan="6" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast numberic">@debit.ToString("#,###")</td>
                </tr>
            }
        }
    </table>
    <hr />
    <table style="width: 100%; text-align: center">
        <tr>
            <td style="width: 33%; text-align: center">
                NV Bán
            </td>
            <td style="width:33%; text-align:center">
                NV thu tiền
            </td>
            <td style="width: 33%; text-align: center">
                Người nhận
            </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <hr />
    <div class="innerLast" style="text-align:center">
        @Model.SmsMaster.AdvertisementFooter
    </div>
</div>


<div id="printFeatureWithoutPercent">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/css/print.css" rel="stylesheet" media="print" type="text/css" />

    <table style="font-family:'Times New Roman'; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td rowspan="3" style="margin-left:0px; margin-right:0px;">
                <img width="70" height="70" src="~/Images/logo2.png"></img>
            </td>
            <td style="text-align:right ; padding: 0px 0px 0px 0px; margin-left:0px; margin-right:0px;">
                <table style="width:100% ;font-family:'Times New Roman'">
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.CompanyName</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> @Model.SmsMaster.Address</td>
                    </tr>
                    <tr>
                        <td style="text-align:center"> Phone: @Model.SmsMaster.PhoneNumber - Fax: @Model.SmsMaster.FaxNumber</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div id="fTitleMain" style="text-align:center; font-size:23px; margin-top:-25px;"> PHIẾU XUẤT HÀNG</div>
    <table style="font-family:'Times New Roman' ; width:100%; margin-top:0px; margin-left:0px; margin-left:0px; margin-right: 0px; padding-left:0px; padding-right:0px;">
        <tr>
            <td>
                Số:
            </td>
            <td colspan="3">@Model.Infor.SO_HOA_DON</td>
        </tr>
        <tr>
            <td>
                KH:
            </td>
            <td>
                <strong>@Model.Infor.TEN_KHACH_HANG</strong>
            </td>
            <td>
                ĐT:
            </td>
            <td>
                @Model.Infor.SO_DIEN_THOAI
            </td>
        </tr>
        <tr>
            <td>
                Địa chỉ:
            </td>
            <td colspan="3">@Model.Infor.DIA_CHI_GIAO_HANG</td>
        </tr>
        <tr>
            <td>
                Ngày bán:
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_BAN != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_BAN.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
            <td>
                Ngày giao:
            </td>
            <td>
                @if (@Model.Infor != null && @Model.Infor.NGAY_GIAO != null)
                {
                    @DateTime.Parse(@Model.Infor.NGAY_GIAO.ToString()).ToString("dd/MM/yyyy")
                }
            </td>
        </tr>
    </table>
    <div style="text-align:center; width:100%">
        @Model.SmsMaster.AdvertisementHeader
    </div>
    <table style="width: 100%; width: 100%; margin-top: 0px; margin-left: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; border-bottom: 1px dashed #494949 !important;" id="MainTable" class="details">
        <tr>
            <td class='inner colwidth head alignCenter' width="5%;">
                <strong>STT</strong>
            </td>
            <td class='inner colwidth head alignCenter' width="40%">
                <strong> Tên sản phầm </strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong> SL </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>ĐV</strong>
            </td>
            <td class='inner colwidth head alignCenter'>
                <strong>Đơn giá </strong>
            </td>
            <td class='innerLast colwidth head alignCenter'>
                <strong>Thành tiền </strong>
            </td>
        </tr>
        @{
            i = 0;
            total = 0;
            allTotal = 0;
            int jj = 0;
        }
        @if (Model.detailList.Count <= 13)
        {
            foreach (var detail in Model.detailList)
            {
                i++;
                total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
                allTotal += total;

                <tr style="font-family:'Times New Roman'">
                    <td class="innerLast colwidth">@i</td>
                    <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                    <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                    <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                    <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                    <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                </tr>

            }
        }
        else
        {
            foreach (var detail in Model.detailList)
            {
                i++;
                total = detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP - detail.SO_LUONG_TEMP * detail.DON_GIA_TEMP * detail.PHAN_TRAM_CHIEC_KHAU / 100;
                allTotal += total;
                if (i <= 17)
                {
                    <tr style="font-family:'Times New Roman'">
                        <td class="innerLast colwidth">@i</td>
                        <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                        <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth alignCenter">@detail.TEN_DON_VI_TEMP</td>
                        <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                    </tr>
                }
                else
                {
                    if (jj == 0)
                    {

                        <tr>
                            <td colspan="7" style="border-left-style:hidden; border-right-style:hidden"></td>
                        </tr>
                        <tr>
                            <td class='inner colwidth head alignCenter' width="5%;">
                                <strong>STT</strong>
                            </td>
                            <td class='inner colwidth head alignCenter' width="40%">
                                <strong> Tên sản phầm </strong>
                            </td>
                            <td class='inner colwidth head alignCenter'>
                                <strong> SL </strong>
                            </td>
                            <td class='innerLast colwidth head alignCenter'>
                                <strong>ĐV</strong>
                            </td>
                            <td class='inner colwidth head alignCenter'>
                                <strong>Đơn giá </strong>
                            </td>
                            <td class='innerLast colwidth head alignCenter'>
                                <strong>Thành tiền </strong>
                            </td>
                        </tr>

                    }

                    <tr style="font-family:'Times New Roman'">
                        <td class="innerLast colwidth">@i</td>
                        <td class="innerLast colwidth">@detail.TEN_SAN_PHAM</td>
                        <td class="innerLast colwidth alignCenter">@detail.SO_LUONG_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth ">@detail.TEN_DON_VI_TEMP</td>
                        <td class="innerLast colwidth numberic">@detail.DON_GIA_TEMP.ToString("#,###")</td>
                        <td class="innerLast colwidth numberic">@total.ToString("#,###")</td>
                    </tr>
                    jj++;
                    if (jj == 27)
                    {
                        jj = 0;
                    }
                }
            }
        }
        <tr>
            <td colspan="5" class="innerLast" style="background-color:lightgray"><strong> Tổng hóa đơn</strong> </td>
            <td style="background-color:lightgray ;font-family:'Times New Roman'" class="innerLast"><strong>@allTotal.ToString("#,###")</strong> </td>
        </tr>
        @if (Model.CustomerInformation != null && Model.CustomerInformation.NO_GOI_DAU > 0)
        {
            double debit = 0;
            if (Model.Infor.STATUS <= 1)
            {
                <tr>
                    <td colspan="5" class="innerLast numberic" style="background-color:lightgray">Tồng nợ cũ</td>
                    @{
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                double ttall = debit + allTotal;
                    }
                    <td style="background-color:lightgray" class="innerLast numberic">@debit.ToString("#,###")</td>
                </tr>
                <tr>
                    <td colspan="5" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast numberic">@ttall.ToString("#,###")</td>
                </tr>
            }
            else
            {
                debit = (Double)Model.CustomerInformation.NO_GOI_DAU;
                <tr>
                    <td colspan="5" class="innerLast" style="background-color:lightgray">Tồng nợ</td>
                    <td style="background-color:lightgray" class="innerLast">@debit.ToString("#,###")</td>
                </tr>
            }
        }
    </table>
    <hr />
    <table style="width: 100%; text-align: center">
        <tr>
            <td style="width: 33%; text-align: center">
                NV Bán
            </td>
            <td style="width:33%; text-align:center">
                NV thu tiền
            </td>
            <td style="width: 33%; text-align: center">
                Người nhận
            </td>
        </tr>
        <tr>
            <td colspan="3"> &nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td rowspan="3">
                @Model.Infor.TEN_NGUOI_BAN
            </td>
            <td rowspan="3">
                @Model.Infor.TEN_NV_TT
            </td>
            <td rowspan="3">..........................</td>
        </tr>
    </table>
    <hr />
    <div class="innerLast" style="text-align:center">
        @Model.SmsMaster.AdvertisementFooter
    </div>
</div>
<input type="button" value="Thêm mới hóa đơn" class="myButton" onclick="window.location.href='@Url.Action("AddNew","BanHang")'" />
<input type="button" id ="printbtn" value="In hóa đơn" onclick="pagePrint(); return false;">
<input type="button" value="In hóa đơn không % CK" onclick="PageWithoutPercentPrint(); return false;">
<input type="button" value="In hóa đơn (80x***)" onclick="smallPagePrint(); return false;">
