@model IEnumerable<SMS.Models.NGUOI_DUNG>
@{
    ViewBag.Title = "Index - Nguoi Dung";
}
<link href="../../Content/css/grid.css" rel="stylesheet" type="text/css" />

<h2>Highlighted rows, borders</h2>
<table class="bordered">
    <thead>

    <tr>
        <th>#</th>        
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Số CMND</th>
        <th>Địa chỉ</th>
        <th>Điện thoại</th>
        <th>Mã kho</th>
        <th>Username</th>
        <th>Mật khẩu</th>
        <th>Ngày vào làm</th>
        <th>Mã nhóm</th>
        <th>Ghi chú</th>
    </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.MA_NGUOI_DUNG</td>        
            <td>@user.TEN_NGUOI_DUNG</td>
            <td>@user.NGAY_SINH.ToShortDateString()</td>
            <td>@user.SO_CHUNG_MINH</td>
            <td>@user.DIA_CHI</td>
            <td>@user.SO_DIEN_THOAI</td>
            <td>@user.MA_KHO</td>
            <td>@user.USER_NAME</td>
            <td>@user.MAT_KHAU</td>
            <td>@Convert.ToDateTime(user.NGAY_VAO_LAM).ToString("dd/MM/yyyy")</td>
            <td>@user.MA_NHOM_NGUOI_DUNG</td>
            <td>@user.GHI_CHU</td>
        </tr>
    }
</table>