@model SMS.Models.GetTonKhoAlertModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Phân quyền người dùng";
}

<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("QuanTri", "Home")"> Quản trị </a>
    > @ViewBag.Title
</div>

<h2>@ViewBag.Title</h2>

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Import.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/jquery-1.9.1.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.js"></script>
<script src="~/Content/js/jquery-ui-1.10.3.custom.min.js"></script>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
            $(document).ready(function () {
                $("#userName").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/NguoiDung/Find", data: "{ 'prefixText': '" + request.term + "' }",
                            dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                            dataFilter: function (data) { return data; }, success:
                                function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.value,
                                            value: item.value,
                                            id: item.id
                                        }
                                    }))
                                }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                        });
                        $('#userId').val("");
                    },
                    select: function (event, ui) {
                        $('#userName').val(ui.item.label);
                        $('#userId').val(ui.item.id);
                        return false;
                    },
                    minLength: 1
                });
                $('#mainForm').submit();
            });
    </script>
}
@using (Ajax.BeginForm("StoreUserPtv", "NguoiDung", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                LoadingElementId = "resultLoadingDiv",
                                UpdateTargetId = "mainDiv"
                            },
                           new { @id = "mainForm", @SearchString = ViewBag.SearchString }
                      ))
{
    <hr style="width:100%" />
    <div style="float:right">
        Tên người dùng: 
        @Html.Hidden("userId", ViewBag.ProviderId as int?, new { id = "userId" })
        @Html.TextBox("userName", ViewBag.ProviderName as string, new { id = "userName" })

        <input type="submit" value="Tìm kiếm" class="myButton actSearch" />
    </div>
    <div style="clear:both"></div>
}
<hr style="width:100%" />
<div style="margin-bottom:10px; color:blue;">
   <span style="font-weight:bold; color:red !important;">Chú thích : </span><span> > C: Cấp quyền truy cập kho</span> <span> > D: Cấp quyền truy xuất mặc định kho</span>  <span> > H: Hủy quyền truy cập kho</span>
</div>
<div id="resultLoadingDiv" style="border: none; display: none; z-index: 99; text-align: center; position: absolute; margin-left: 525px; ">
    <img src="/Content/images/loading-2.gif" />
</div>
<div id="mainDiv">
</div>
