@model SMS.Models.List2ProviderModel
@using PagedList.Mvc;

<div>
    <table width="100%">
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@Model.Count hóa đơn</label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.Detail, currentPageIndex => Url.Action("ListOfToProviderPartialView",
                        new
                        {
                            currentPageIndex,
                            billId = ViewBag.BillId,
                            billCode = ViewBag.BillCode,
                            customerId = ViewBag.CustomerId,
                            customerName = ViewBag.CustomerName,
                            fromDate = ViewBag.FromDate,
                            todate = ViewBag.Todate
                        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "resultLoadingDiv",
            UpdateTargetId = "mainDiv"
        }
    ))
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" id="tblExport" name="tblExport">
        <tr style="width:100%">
            <td class='inner colwidth head '> Số phiếu trả </td>
            <td class='inner colwidth head '> Nhà cung cấp </td>
            <td class='innerLast colwidth head '>  Nhân viên lập phiếu </td>
            <td class='innerLast colwidth head '>  Ghi chú </td>
            @if ((bool)Session["IsAccounting"] || (bool)Session["IsAdmin"] || (bool)Session["IsStoreManager"])
            {
                <td class='innerLast colwidth head '>  Sửa </td>
                <td class='innerLast colwidth head '>  Hủy </td>
            }
        </tr>
        @{
            DateTime ImportDate = DateTime.Now;
            if (Model.Detail != null && Model.Detail.Count() >= 1)
            {
                ImportDate = (DateTime)Model.Detail[0].NGAY_LAP_PHIEU;

                <tr>
                    <td class="innerLast colwidth" colspan="7" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                </tr>
            }
        }
        @foreach (var dbHist in Model.Detail)
        {
            if (ImportDate != (DateTime)dbHist.NGAY_LAP_PHIEU)
            {
                ImportDate = (DateTime)dbHist.NGAY_LAP_PHIEU;
                <tr>
                    <td class="innerLast colwidth" colspan="7" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                </tr>
            }
            <tr class="inner column-hscroll alignCenter">
                <td class="inner colwidth">
                    @dbHist.MA_PHIEU_TRA
                </td>
                <td class="inner colwidth">
                    @dbHist.TEN_NHA_CUNG_CAP
                </td>
                <td class="inner colwidth">
                    @dbHist.TEN_NGUOI_LAP_PHIEU
                </td>
                <td class="innerLast colwidth">
                    <div style="width:100%" class="truncate">
                        @dbHist.GHI_CHU
                    </div>                    
                </td>
                <td class="innerLast colwidth">
                    @{
            if ((bool)Session["IsAccounting"] || (bool)Session["IsAdmin"] || (bool)Session["IsStoreManager"])
            {
                if (dbHist.MA_PHIEU_TRA == null)
                {
                     <a href="@Url.Action("EditReturnToProvider", "TraHang", new { id = @dbHist.ID })" class="button-module">
                        <img width="16" height="16" alt="edit" src="~/Content/images/edit-icon.png"></img>
                    </a>
                }
               
            }
                    }
                </td>

                <td class="innerLast colwidth">
                    @{
            if ((bool)Session["IsAccounting"] || (bool)Session["IsAdmin"] || (bool)Session["IsStoreManager"])
            {
                <a href="@Url.Action("DeleteReturn2Provider", "TraHang", new { id = @dbHist.ID })" class="button-module">
                    <img width="16" height="16" alt="edit" src="~/Content/images/delete.png"></img>
                </a>
            }
                    }
                </td>


            </tr>
        }

    </table>

    <table width="100%">
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@Model.Count hóa đơn</label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.Detail, currentPageIndex => Url.Action("ListOfToProviderPartialView",
                        new
                        {
                            currentPageIndex,
                            billId = ViewBag.BillId,
                            billCode = ViewBag.BillCode,
                            customerId = ViewBag.CustomerId,
                            customerName = ViewBag.CustomerName,
                            fromDate = ViewBag.FromDate,
                            todate = ViewBag.Todate
                        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "resultLoadingDiv",
            UpdateTargetId = "mainDiv"
        }
    ))
                </div>
            </td>
        </tr>
    </table>
</div>