@{
    ViewBag.Title = "Danh Mục";
    ViewBag.Message = "";
}
<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br />
    <h2>@ViewBag.Message</h2>
</hgroup>

<div class="grid_7">
    <a class="dashboard-module" href="@Url.Action("Index", "DonVi")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Measure_units.png"></img>
        <span>DANH SÁCH ĐƠN VỊ TÍNH</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "KhuVuc")">
        <img width="64" height="64" alt="edit" src="../../Content/images/green_area.png"></img>
        <span>DANH SÁCH KHU VỰC</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "HangSanXuat")">
        <img width="64" height="64" alt="edit" src="../../Content/images/industry.png"></img>
        <span>DANH SÁCH NHÀ SẢN XUẤT</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "NhaCungCap")">
        <img width="64" height="64" alt="edit" src="../../Content/images/provider.png"></img>
        <span>DANH SÁCH NHÀ CUNG CẤP</span>
    </a>
    <a class="dashboard-module"  href="@Url.Action("Index", "KhachHang")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Customer_Male_Light.png"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "SanPham")">
        <img width="64" height="64" alt="edit" src="../../Content/images/listproduct.png"></img>
        <span>DANH SÁCH SẢN PHẨM</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
    <a class="dashboard-module" href="#">
        <img width="64" height="64" alt="edit" src="../../Content/images/Crystal_Clear_write.gif"></img>
        <span>DANH SÁCH KHÁCH HÀNG</span>
    </a>
</div>
