@model SMS.Models.SAN_PHAM 



<div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("DanhMuc", "Home")"> Danh mục </a> >
    <a href="@Url.Action("Index", "SanPham")"> Danh sách sản phẩm </a> 
    > @ViewBag.Title
</div>


<div class="divTitle">
    <h2>@ViewBag.Title </h2>
    <hr />
</div>


<link href="~/Content/SanPham.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<script >
    /*start format numberic for textbox */
    function NumbericOnly(ctrl) {
        $(ctrl).keypress(function (e) {
            /*
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
            */
            //getting key code of pressed key
            var keycode = (e.which) ? e.which : e.keyCode;
            //comparing pressed keycodes

            if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
                //alert(" Hãy nhập ký tự số.");
                return false;
            }
            else return true;
        });

    }
    function formatNumberic() {
         $('input.numberic').each(function () {
             $(this).val($(this).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
         });
    }
    $(document).ready(function () {
        formatNumberic();
        $('input.numberic').keypress(function (key) {
            var keycode = (key.which) ? key.which : key.keyCode;
            //comparing pressed keycodes

            if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
                //alert(" Hãy nhập ký tự số.");
                return false;
            }
            else return true;

        });
        $('input.numberic').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                //event.preventDefault();
                return true;
            }
            /*
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            // the following line has been simplified. Revision history contains original.
            $this.val(num2);
            */
            var $this = $(this);
            var AmountWithCommas = $this.val();
            var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
            var arParts = String(AmountWithCommas).split(DecimalSeparator);

            var intPart = arParts[0];
            var decPart = (arParts.length > 1 ? arParts[1] : '');

            var num = intPart.replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            if (decPart.length > 2) {
                decPart = (decPart + '00').substr(0, 2);
            }
            if (arParts.length > 1) {
                $this.val(num2 + DecimalSeparator + decPart);
            } else {
                $this.val(num2);
            }
            });
        $('input.numberic').bind("paste", function (e) {
            e.preventDefault();
        });
    });
    
    function RemoveRougeChar(convertString) {
        if (convertString.substring(0, 1) == ",") {
            return convertString.substring(1, convertString.length)
        }
        return convertString;
    }
    /*end format numberic for textbox */

    /*submit form to regist details of product*/
    function submitForm() {
        var isErr = false;
        // check input
        if ($('#TEN_SAN_PHAM').val() == '' || $('#TEN_SAN_PHAM').val() == null) {
            isErr = true;
            $('#ErrProduct').show();
            $('#ErrUnit').hide();
        }
        if ($('#MA_DON_VI').val() == '-1' || $('#MA_DON_VI').val() == -1) {
            if (isErr == false) {
                $('#ErrProduct').hide();
            } else {
                $('#ErrProduct').show();
            }
            isErr = true;
            $('#ErrUnit').show();
        }
        if(isErr == false) {
        // parse value
            parseValueToSubmit();
            $("#frmMain").submit();
        }else{
            $('#msgErr').show();
        }
    }

    function parseValueToSubmit(){
        if($("#CAN_NANG").val() == ''){
            $("#CanNangID").val(0);
        }else{
            $("#CanNangID").val(removeCommas($("#CAN_NANG").val()));  
        }
      
        if($("#GIA_BAN_1").val() == ''){
            $("#GiaBan1ID").val(0);
        }else{
            $("#GiaBan1ID").val(removeCommas($("#GIA_BAN_1").val()));
        }
       
        if($("#GIA_BAN_2").val() == ''){
            $("#GiaBan2ID").val(0);
        }else{
            $("#GiaBan2ID").val(removeCommas($("#GIA_BAN_2").val()));
        }

        if($("#GIA_BAN_3").val() == ''){
            $("#GiaBan3ID").val(0);
        }else{
            $("#GiaBan3ID").val(removeCommas($("#GIA_BAN_3").val()));
        }
        
        
        if($("#CHIET_KHAU_1").val() == ''){
            $("#ChietKhau1ID").val(0);
        }else{
            $("#ChietKhau1ID").val(removeCommas($("#CHIET_KHAU_1").val()));
        }
        

        if($("#CHIET_KHAU_2").val() == ''){
            $("#ChietKhau2ID").val(0);
        }else{
            $("#ChietKhau2ID").val(removeCommas($("#CHIET_KHAU_2").val()));
        }
       

        if($("#CHIET_KHAU_3").val() == ''){
            $("#ChietKhau3ID").val(0);
        }else{
            $("#ChietKhau3ID").val(removeCommas($("#CHIET_KHAU_3").val()));
        }
       

        if($("#CO_SO_TOI_THIEU").val() == ''){
            $("#CoSoMinID").val(0);
        }else{
            $("#CoSoMinID").val(removeCommas($("#CO_SO_TOI_THIEU").val()));
        }
        

        if($("#CO_SO_TOI_DA").val() == ''){
            $("#CoSoMaxID").val(0);
        }else{
            $("#CoSoMaxID").val(removeCommas($("#CO_SO_TOI_DA").val()));
        }
       
    }
    /*remove comma from value input*/
    function removeCommas(str) {
        if (str != null && str != '') {
            return (str.replace(/,/g, ''));
        } else {
            return null;
        }
        
    }
</script>
<div id="divMsg" >
    <div id="msgErr" style="display: none;" class="validation-summary-errors">
        Hãy kiểm tra các giá trị :
        <div id="ErrProduct" style="display: none; margin-left: 15px">+ Tên sản phẩm</div>
        <div id="ErrUnit" style="display: none; margin-left: 15px"> + Đơn vị tính</div>
        <hr />
    </div>
</div>
<div>
    @using (Html.BeginForm(@ViewBag.Mode == "CREATE" ? "AddNew" : "Edit", "SanPham", FormMethod.Post, new { @id = "frmMain" }))
    {
        @Html.HiddenFor(u => u.MA_SAN_PHAM)

        <table class="fixed" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="37%">
                    <div class="required">
                        @Html.LabelFor(u => u.TEN_SAN_PHAM)
                        @Html.TextBoxFor(u => u.TEN_SAN_PHAM)
                    </div>
                </td>
                <td>
                    <div class="required">
                        <strong>CODE</strong> @Html.TextBoxFor(u => u.CODE)
                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.KICH_THUOC)
                        @Html.TextBoxFor(u => u.KICH_THUOC)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CAN_NANG)
                        <input id="CAN_NANG" maxlength="10" value="@ViewBag.CanNang" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CAN_NANG, new { @id = "CanNangID" })
                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_NHOM)
                        @Html.DropDownListFor(u => u.MA_NHOM, new SelectList(ViewBag.dsNhomSP, "MA_NHOM", "TEN_NHOM", ViewBag.NhomSelected))
                    </div>
                </td>

                <td>
                    <div>
                      
                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <div class="required">
                        @Html.LabelFor(u => u.MA_DON_VI)
                        @Html.DropDownListFor(u => u.MA_DON_VI, new SelectList(ViewBag.dsDonvi, "MA_DON_VI", "TEN_DON_VI", ViewBag.DVSelected))
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_NHA_SAN_XUAT)
                        @Html.DropDownListFor(u => u.MA_NHA_SAN_XUAT, new SelectList(ViewBag.dsNSX, "MA_NHA_SAN_XUAT", "TEN_NHA_SAN_XUAT", ViewBag.NSXSelected))

                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <div>
                            @Html.LabelFor(u => u.DAC_TA)
                            @Html.TextAreaFor(u => u.DAC_TA)
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_1)
                        <input id="GIA_BAN_1" maxlength="10" value="@ViewBag.GiaBan1" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_1, new { @id = "GiaBan1ID" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_2)
                        <input id="GIA_BAN_2" maxlength="10" value="@ViewBag.GiaBan2" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_2, new { @id = "GiaBan2ID" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_3)
                        <input id="GIA_BAN_3" maxlength="10" value="@ViewBag.GiaBan3" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_3, new { @id = "GiaBan3ID" })
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_1)
                        <input id="CHIET_KHAU_1" maxlength="2" value="@ViewBag.ChietKhau1" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_1, new { @id = "ChietKhau1ID" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_2)
                        <input id="CHIET_KHAU_2" maxlength="2" value="@ViewBag.ChietKhau2" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_2, new { @id = "ChietKhau2ID" })

                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_3)
                        <input id="CHIET_KHAU_3" maxlength="2" value="@ViewBag.ChietKhau3" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_3, new { @id = "ChietKhau3ID" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_THIEU)
                        <input id="CO_SO_TOI_THIEU" maxlength="10" value="@ViewBag.CoSoMin" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CO_SO_TOI_THIEU, new { @id = "CoSoMinID" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_DA)
                        <input id="CO_SO_TOI_DA" maxlength="12" value="@ViewBag.CoSoMax" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CO_SO_TOI_DA, new { @id = "CoSoMaxID" })

                    </div>
                </td>
                <td></td>

            </tr>
        </table>

        <div class="divTitle">
            <hr />
            <input type="button" style="width:100px" onclick="submitForm();" value="Lưu" />
            <span> </span>
            <input type="button" style="width:100px" value="Trở về" onclick="location.href='@Url.Action("Index", "SanPham")'" />
        </div>

    }
</div>