@model SMS.Models.SAN_PHAM 

<div class="divTitle">
    <h2>@ViewBag.Title </h2>
    <hr />
</div>
<link href="~/Content/SanPham.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script >
    function NumbericOnly(ctrl) {
        $(ctrl).keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

    }
    function formatNumberic() {
         $('input.numberic').each(function () {
             $(this).val($(this).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
         });
    }
    $(document).ready(function () {
        formatNumberic();
        $('input.numberic').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                //event.preventDefault();
                return true;
            }
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            // the following line has been simplified. Revision history contains original.
            $this.val(num2);
            });
        $('input.numberic').bind("paste", function (e) {
            e.preventDefault();
        });
    });
    
    function RemoveRougeChar(convertString) {
        if (convertString.substring(0, 1) == ",") {
            return convertString.substring(1, convertString.length)
        }
        return convertString;
    }

    function reset() {
        $("form :input").each(function () {
            $(this).text('');
        });
        formatNumberic();
    }
    function submitForm() {
        $("#CanNangID").val(removeCommas($("#CAN_NANG").val()));
        $("#GiaBan1ID").val(removeCommas($("#GIA_BAN_1").val()));
        $("#GiaBan2ID").val(removeCommas($("#GIA_BAN_2").val()));
        $("#GiaBan3ID").val(removeCommas($("#GIA_BAN_3").val()));
        $("#ChietKhau1ID").val(removeCommas($("#CHIET_KHAU_1").val()));
        $("#ChietKhau2ID").val(removeCommas($("#CHIET_KHAU_2").val()));
        $("#ChietKhau3ID").val(removeCommas($("#CHIET_KHAU_3").val()));
        $("#CoSoMinID").val(removeCommas($("#CO_SO_TOI_THIEU").val()));
        $("#CoSoMaxID").val(removeCommas($("#CO_SO_TOI_DA").val()));

        if ($("#ModeID").val() != null) {
            if ($("#ModeID").val() == 'CREATE') {
                $("#MA_SAN_PHAM").val(-1);
            }
        } 
        
        $("form:first").submit();
    }
    function removeCommas(str) {
        if (str != null && str != '') {
            return (str.replace(/,/g, ''));
        } else {
            return null;
        }
        
    }
</script>
@using (Html.BeginForm())
{
    <input type="hidden" id="ModeID" value="@ViewBag.Mode" />    
    @Html.HiddenFor(u => u.MA_SAN_PHAM)
    
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        
        <table class="fixed" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="37%">
                    <div class="required">
                        @Html.LabelFor(u => u.TEN_SAN_PHAM)
                        @Html.TextBoxFor(u => u.TEN_SAN_PHAM)
                        @*@Html.HiddenFor(u => u.MA_SAN_PHAM, new {@id ="MaSanPhamID" })*@
                   
                    </div>
                </td>

                <td width="35%"></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.KICH_THUOC)
                        @Html.TextBoxFor(u => u.KICH_THUOC)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CAN_NANG)
                        <input id="CAN_NANG" value="@ViewBag.CanNang" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                         @Html.HiddenFor(u => u.CAN_NANG, new { @id = "CanNangID"})
                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_DON_VI)
                        @Html.DropDownListFor(u => u.MA_DON_VI, new SelectList(ViewBag.dsDonvi, "MA_DON_VI", "TEN_DON_VI", ViewBag.DVSelected))
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.MA_NHA_SAN_XUAT)
                        @Html.DropDownListFor(u => u.MA_NHA_SAN_XUAT, new SelectList(ViewBag.dsNSX, "MA_NHA_SAN_XUAT", "TEN_NHA_SAN_XUAT", ViewBag.NSXSelected))

                    </div>
                </td>
                <td></td>

            </tr>
            <tr>
                <td colspan="2">
                    <div>                        
                        <div>
                            @Html.LabelFor(u => u.DAC_TA)
                            @Html.TextAreaFor(u => u.DAC_TA)
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_1)
                        <input id="GIA_BAN_1" value="@ViewBag.GiaBan1" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_1, new { @id = "GiaBan1ID" })
                     </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_2)
                        <input id="GIA_BAN_2" value="@ViewBag.GiaBan2" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_2, new { @id = "GiaBan2ID" })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.GIA_BAN_3)
                        <input id="GIA_BAN_3" value="@ViewBag.GiaBan3" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.GIA_BAN_3, new { @id = "GiaBan3ID" })
                    </div>
                </td>

            </tr>
           
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_1)
                        <input id="CHIET_KHAU_1" value="@ViewBag.ChietKhau1" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_1, new { @id = "ChietKhau1ID" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_2)
                        <input id="CHIET_KHAU_2" value="@ViewBag.ChietKhau2" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_2, new { @id = "ChietKhau2ID" })

                    </div>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CHIEC_KHAU_3)
                        <input id="CHIET_KHAU_3" value="@ViewBag.ChietKhau3" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CHIEC_KHAU_3, new { @id = "ChietKhau3ID" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_THIEU)
                        <input id="CO_SO_TOI_THIEU" value="@ViewBag.CoSoMin" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CO_SO_TOI_THIEU, new { @id = "CoSoMinID" })
                    </div>
                </td>

                <td>
                    <div>
                        @Html.LabelFor(u => u.CO_SO_TOI_DA)
                        <input id="CO_SO_TOI_DA" value="@ViewBag.CoSoMax" type="text" class="numberic" onkeydown="NumbericOnly(this);" />
                        @Html.HiddenFor(u => u.CO_SO_TOI_DA, new { @id = "CoSoMaxID" })

                    </div>
                </td>
                <td></td>

            </tr>
        </table>

        <div class="divTitle">
            <hr />
            <input type="submit"  style="width:100px" onclick="submitForm();" value="Lưu" />
            <span> </span>
            <input type="button" style="width:100px" value="Làm lại" onclick="reset()" />
        </div>
      
    </div>



}
