@model PagedList.IPagedList<SMS.Models.ChuyenDoiDonViTinhModel>
@using PagedList.Mvc;


<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td class='tablefrozencolumn' width="15%">
            <div id='divroot' class='root'>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class='root'>
                    <tr>
                        <td class='inner colwidth head ' width="40%">
                            @*@Html.ActionLink("ID", "ConvertUnitOfProducts", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex })*@
                            @Ajax.ActionLink("Mã chuyển đổi", "ConvertUnitOfProducts",
                                    new { ViewBag.CurrentPageIndex, sortOrder = ViewBag.IdSortParm, CurrentFilter = ViewBag.CurrentFilter },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "mainDiv"
                                    }
                                )
                        </td>
                        <td class='inner colwidth head'>
                            @*@Html.ActionLink("Tên sản phẩm", "ConvertUnitOfProducts", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, page = ViewBag.CurrentPageIndex })*@
                            @Ajax.ActionLink("Tên sản phẩm", "ConvertUnitOfProducts",
                                    new { ViewBag.CurrentPageIndex, sortOrder = ViewBag.NameSortParm, CurrentFilter = ViewBag.CurrentFilter },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "mainDiv"
                                    }
                                 )
                        </td>
                    </tr>
                </table>
            </div>
            <div id='divfrozen' class='frozen'>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class='frozen' id="contentFrozen">
                    @foreach (var donvi in Model)
                    {
                        <tr>
                            <td class='inner frozencol colwidth toprow alignNumberic' width="40%">
                                @donvi.ChuyenDoiDonVi.MA_CHUYEN_DOI
                            </td>
                            <td class='inner frozencol toprow alignText truncate' title="@donvi.SanPham.TEN_SAN_PHAM">
                                @donvi.SanPham.TEN_SAN_PHAM
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </td>
        <td class='tablecontent'>
            <div id='headscroll' class='divhead'>
                <table border="0" cellpadding="0" cellspacing="0" class='head'>
                    <tr>
                        <td class='inner column-hscroll head'>
                            Đơn vị chuyển
                        </td>
                        <td class='inner column-hscroll head'>
                            Đơn vị gốc
                        </td>
                        <td class='inner column-hscroll head'>
                            Hệ số
                        </td>
                        <td class='inner column-hscroll head'>
                            Đơn giá 1
                        </td>
                        <td class='inner column-hscroll head'>
                            Chiếc khấu 1
                        </td>
                        <td class='inner column-hscroll head'>
                            Đơn giá 2
                        </td>
                        <td class='inner column-hscroll head'>
                            Chiếc khấu 2
                        </td>
                        <td class='inner column-hscroll head'>
                            Đơn giá 3
                        </td>
                        <td class='inner column-hscroll head'>
                            Chiếc khấu 3
                        </td>
                        @{
                            if ((bool)Session["IsAdmin"] == true)
                            {
                                <td class='inner head' style="width:70px;">Người tạo</td>
                                <td class='inner  head' style="width:70px;">Ngày tạo</td>
                                <td class='inner  head' style="width:70px;">Người cập nhật</td>
                                <td class='inner  head' style="width:70px;">Ngày cập nhật</td>
                            }
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                            {
                                <td class='inner head' style="width:50px;">Sửa</td>
                                <td class='inner head' style="width:50px;">Xóa</td>
                            }
                        }
                    </tr>
                </table>
            </div>
            <div id='contentscroll' class='content' onscroll='reposHead(this);'>
                <table border="0" cellpadding="0" cellspacing="0" class='content' id='innercontent'>
                    @foreach (var donvi in Model)
                    {
                        <tr>
                            <td class='inner column-hscroll alignCenter'> @donvi.DonViVao.TEN_DON_VI </td>
                            <td class='inner column-hscroll alignCenter'> @donvi.DonViCuoi.TEN_DON_VI </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.HE_SO </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.GIA_BAN_1 </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.CHIEC_KHAU_1 </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.GIA_BAN_2 </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.CHIEC_KHAU_2 </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.GIA_BAN_3 </td>
                            <td class='inner column-hscroll alignCenter alignNumberic'> @donvi.ChuyenDoiDonVi.CHIEC_KHAU_3 </td>
                            @{
                        if ((bool)Session["IsAdmin"] == true)
                        {
                            <td class='inner  alignCenter' style="width:70px;"> @donvi.NguoiTao.TEN_NGUOI_DUNG </td>
                                <td class='inner  alignCenter' style="width:70px;"> 
                            @if (donvi.ChuyenDoiDonVi.CREATE_AT != null)
                            {
                                @DateTime.Parse(@donvi.ChuyenDoiDonVi.CREATE_AT.ToString()).ToString("dd/MM/yyyy")
                            }</td>
                                <td class='inner  alignCenter' style="width:70px;"> @donvi.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                                <td class='inner  alignCenter' style="width:70px;">
                            
                            @if (donvi.ChuyenDoiDonVi.UPDATE_AT != null)
                            {
                                @DateTime.Parse(@donvi.ChuyenDoiDonVi.UPDATE_AT.ToString()).ToString("dd/MM/yyyy")
                            }
                             </td>
                        }
                        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                        {
                            <td class='inner alignCenter' style="width:50px;">
                                <a href="@Url.Action("EditConvertUnitOfProducts", "SanPham", new { id = @donvi.ChuyenDoiDonVi.MA_CHUYEN_DOI })" class="button-module">
                                    <img width="16;" height="16;" alt="edit" src="~/Content/images/edit-icon.png"></img>
                                </a>
                            </td>
                                <td class='inner alignCenter' style="width:50px;">
                                    <a href="@Url.Action("DeleteConvertUnit", "SanPham", new { id = @donvi.ChuyenDoiDonVi.MA_CHUYEN_DOI })" class="button-module" onclick="return deleteSubmit()">
                                        <img width="16" height="16" alt="edit" src="~/Content/images/edit_delete.png"></img>
                                    </a>
                                </td>
                        }
                            }
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class='horizontal-scroll' onscroll='reposHorizontal(this);'>
                <div>
                </div>
            </div>
        </td>
    </tr>
   
</table>

<table width="100%">
    <tr>
        <td>
            <div style="text-align:left; padding-top:3px;">
                <label>@ViewBag.Count sản phầm </label>
            </div>
        </td>
        <td>
            <div style="text-align: right;  padding-top: 3px; ">
               @Html.PagedListPager(Model, currentPageIndex => Url.Action("ConvertUnitOfProducts",
                    new { currentPageIndex, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                    new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "resultLoadingDiv",
                        UpdateTargetId = "mainDiv"
                    }
                ))
                
            </div>
        </td>
    </tr>
</table>

