@model SMS.Models.NGUOI_DUNG

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.USER_NAME)
                @Html.TextBoxFor(m => m.USER_NAME)
                @Html.ValidationMessageFor(m => m.USER_NAME)
            </li>
            <li>
                @Html.LabelFor(m => m.MAT_KHAU)
                @Html.PasswordFor(m => m.MAT_KHAU)
                @Html.ValidationMessageFor(m => m.MAT_KHAU)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>SMS - Store Management System</h2>
    <p>
        Đây là hệ thống quản lý tổng thể quá trình mua, bán và quản lý tồn kho của Công Ty TNHH .... 
        <br />Bản quyền thuộc sở hửu của Công Ty TNHH .... 
    </p>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
