@model SMS.Models.NGUOI_DUNG

@{
    ViewBag.Title = "CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}


<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section id="loginForm">
<h2>Đăng nhập hệ thống</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.USER_NAME)
                @Html.TextBoxFor(m => m.USER_NAME)
                @Html.ValidationMessageFor(m => m.USER_NAME)
            </li>
            <li>
                @Html.LabelFor(m => m.MAT_KHAU)
                @Html.PasswordFor(m => m.MAT_KHAU)
                @Html.ValidationMessageFor(m => m.MAT_KHAU)
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>SMS - Store Management System</h2>
    <p>
        Đây là hệ thống quản lý tổng thể quá trình mua, bán và quản lý tồn kho của Công Ty TNHH .... 
        <br />Bản quyền thuộc sở hửu của Công Ty TNHH .... 
    </p>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
