@using PagedList.Mvc;

@{
    ViewBag.Title = "Thông tin người dùng";
}
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/KhachHang.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}
<div style="height:82px;"></div>
<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("Index", "Home")"> Home </a>
    > @ViewBag.Title
</div>
<br />
<hgroup class="title">
    <h2> @ViewBag.Title</h2>
</hgroup>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>
            <table width="100%">
                <tr>
                    <td class="center">
                        User name
                    </td>
                    <td class="right">
                        @Model.USER_NAME
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Tên người dùng
                    </td>
                    <td class="right">
                        @Model.TEN_NGUOI_DUNG
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Ngày sinh
                    </td>
                    <td class="right">
                        @{
    var birthDay = "";
    if (Model.NGAY_SINH != null)
    {
        birthDay = DateTime.Parse(Model.NGAY_SINH.ToString()).ToString("dd/MM/yyyy");
    }
                        }
                       @birthDay
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Số điện thoại
                    </td>
                    <td class="right">
                        @Model.SO_DIEN_THOAI
                    </td>
                </tr>
                <tr>
                    <td class="center">
                       Số chứng minh thư
                    </td>
                    <td class="right">
                        @Model.SO_CHUNG_MINH
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Địa chỉ
                    </td>
                    <td class="right">
                        @Model.DIA_CHI
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Kho
                    </td>
                    <td class="right">
                        @{
                            var store = "";
    if (Model.KHO != null)
    {
        store = Model.KHO.TEN_KHO;
    }
                        }
                        @store
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        Nhóm người dùng
                    </td>
                    <td class="right">@{
    var group = "";
    if (Model.NHOM_NGUOI_DUNG != null)
    {
        group = Model.NHOM_NGUOI_DUNG.TEN_NHOM;
    }
}
                        @group
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <script>
        function reset() {
            window.location.reload();
            return false;
        }
    </script>


}
