@model SMS.Models.DON_VI_TINH

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh mục đơn vị tính";
}

<h2>@ViewBag.Title </h2>

<style type="text/css">

</style>
<hr style="width:100%" />
<div style="float:right">

    @using (Html.BeginForm("Index", "DonVi", FormMethod.Post))
    {
        <p>
            Từ khóa tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" class="myButton" />
            @{
                if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                {
                    <input type="button" value="Thêm Mới" class="myButton" onclick="window.location.href='@Url.Action("AddNew","DonVi")'" />
                }
           }
        </p>
    }


</div>
<hr style="width:100%" />
<table class="webGrid">

    <tr>
        <th>Mã Đơn Vị</th>
        <th>Tên đơn vị</th>
        <th>Ghi Chú</th>
        @{
            if ((bool)Session["IsAdmin"] == true)
            {
               <th>Người tạo</th>
               <th>Ngày tạo</th>
               <th title=" Người Cập Nhật">Người CN</th>
                <th title=" Ngày Cập Nhật">Ngày CN</th>
                        }
            }
        @{
            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
            {
                 <th style="text-align:center">Sửa</th>
                 <th style="text-align:center">Xóa</th>
            }
         }
    </tr>
    @foreach (var donvi in ViewBag.theList)
    {
        <tr>
            <td> @donvi.DonVi.MA_DON_VI </td>
            <td> @donvi.DonVi.TEN_DON_VI </td>
            <td> @donvi.DonVi.GHI_CHU </td>
            @{
                if ((bool)Session["IsAdmin"] == true)
                {
                    <td> @donvi.NguoiTao.TEN_NGUOI_DUNG </td>
                    <td> @donvi.DonVi.CREATE_AT.ToString("dd/MM/yyyy")  </td>
                    <td> @donvi.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                    <td> @donvi.DonVi.UPDATE_AT.ToString("dd/MM/yyyy")  </td>
                }
            }

            @{
                if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                {
                    <td>
                        <a href="@Url.Action("Edit", "DonVi", new { id = @donvi.DonVi.MA_DON_VI })" class="myEditButton">
                            <img width="24" height="24" alt="edit" src="~/Content/images/edit-icon.png"></img>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "DonVi", new { id = @donvi.DonVi.MA_DON_VI })" class="myEditButton" onclick="return deleteSubmit()">
                        <img width="24" height="24" alt="edit" src="~/Content/images/edit_delete.png"></img>
                        </a>
                    </td>
                }
            }

            
        </tr>
    }

</table>
<input type="hidden" value="" id="delete" />
<script>
    function deleteSubmit() {
        var r = confirm("Bạn muốn xóa đơn vị tính này!");
        if (r == true) {
            document.forms[0].submit();
        }
        else {
            return false;
        }
    }
</script>   