@model SMS.Models.DON_VI_TINH
@{
    ViewBag.Title = "Danh mục đơn vị tính";
}

<h2>@ViewBag.Title </h2>

<style type="text/css">
    .webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 500px;
        background-color: #B4CFC3;
    }

    .header {
        background-color: #C1D4E6;
        font-weight: bold;
        color: #FFF;
    }

    .webGrid th, .webGrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .webGrid td {
        background-color: white;
        padding: 5px;
    }

    .alt {
        background-color: #E4E9F5;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }

    .select {
        background-color: #71857C;
    }
</style>
<hr style="width:100%" />
<div style="float:right">
    <p>
        Từ khóa tìm kiếm: @Html.TextBox("SearchString")
        <input type="submit" value="Tìm kiếm" />
        <input type="button" value="Thêm Mới" onclick="window.location.href('@Url.Action("AddNew","DonVi")')" />
    </p>
</div>
<hr style="width:100%" />
<table class="webGrid">

    <tr>
        <th>Mã Đơn Vị</th>
        <th>Tên đơn vị</th>
        <th>Ghi Chú</th>
    </tr>
    @foreach (var donvi in ViewBag.theList)
    {
        <tr>
            <td> @donvi.MA_DON_VI </td>
            <td> @donvi.TEN_DON_VI </td>
            <td> @donvi.GHI_CHU </td>
        </tr>
    }

</table>
