<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!--Ngoc added: make sure no cache-->
    <meta http-equiv="CACHE-CONTROL" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>
      
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @Html.ActionLink(
                                        " ",
                                        "Index",
                                        "Home",
                                        null,
                                        new
                                        {
                                            style = "background: url('" + Url.Content("~/Imagesa/alfresco-logo.png") + "') no-repeat center right; display:block; height:82px; width:282px; float:left;"
                                        }
                                    )
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (Request.IsAuthenticated)
                    {
                     <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if(Convert.ToBoolean(Session["IsStoreManager"]) || Convert.ToBoolean(Session["IsAdmin"]))
                            {
                                <li>@Html.ActionLink("Quản Lý Kho", "QuanLyKho", "Home")</li>
                            }
                            @if(Convert.ToBoolean(Session["IsSaler"]) ||  Convert.ToBoolean(Session["IsAdmin"]) || Convert.ToBoolean(Session["IsAccounting"]))
                            {
                                <li>@Html.ActionLink("Bán Hàng", "BanHang", "Home")</li>
                            }
                            <li>@Html.ActionLink("Danh Mục", "DanhMuc", "Home")</li>
@if(Convert.ToBoolean(Session["IsAdmin"]))
                            {
                            <li>@Html.ActionLink("Quản Trị", "QuanTri", "Home")</li>
                            }
                            <li>@Html.ActionLink("Người Dùng", "Show", "Account")</li>
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Cửa hàng cung cấp trang thiết bị ngành nước</p>
                    <p>SMS - Store Management System</p>
                </div>
            </div>
        </footer>
    @Scripts.Render("~/bundles/jquery")    
    @RenderSection("scripts", required: false)
</body>
</html>

