@{
    ViewBag.Title = "Lập hóa đơn bán hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/LapHoaDon.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<h2>@ViewBag.Title</h2>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
<link href="../../Content/css/sunny/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
<script src="../../Content/js/jquery-1.9.1.js" type="text/javascript"></script>
<script src="../../Content/js/jquery-ui-1.10.3.custom.js" type="text/javascript"></script>

<script>
    
    $(document).ready(function () {
        //show calendar
       
        $('.datePicker').datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

        $('#divHr').hide();

        $("#addRecord").click(function () {
            addRecord();
        });

        $("#saveBill").click(function () {
            saveListProductNo();
        });
        

        $("#createNewBill").click(function () {
            createNewBill();
        });

        $("#back").click(function () {
            confirmBack();
        });

        $('#NgayBan').datepicker('setDate', 'today');
        $('#NgayGiao').datepicker('setDate', 'today + 3');
        // hide 
        hideRelationProduct();
        hideRelationCustomer();

        //initial combobox store
        $('#typeStore').html(createStore());
        //$('#typeStore').val($('#MyStore').val());
        /*disabled export excel*/
        $('#saveBill').attr("disabled", "disabled");
        $('#saveBill').css("background-color", "#ECECEC");

        /**AUTOCOMPLETE**/
        // Customer name
        $("#TenKhachHang").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/KhachHang/FindDetailCustomer", data: "{ 'prefixText': '" + request.term + "' }",
                    dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success:
                        function (data) {
                            response($.map(data, function (item) {
                                return {
                                    lable: item.name,
                                    value: item.name,
                                    id: item.id,
                                    cardNo: item.cardNo,
                                    address: item.address,
                                    fone: item.fone,
                                    email: item.mail,
                                    kind : item.kind
                                }
                            }))
                        },
                    error:
                        function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                });
                $('#kindCustomer').val('3');
            },
            select: function (event, ui) {
                $('#kindCustomer').val(ui.item.kind);
                $("#typeCustomers").val(ui.item.kind);

                setRelationCustomer(ui.item, true);
                hideRelationCustomer();

                return false;
            },
            focus: function (event, ui) {
                setRelationCustomer(ui.item);

                showRelationCustomer();
            },
            close: function () {
                hideRelationCustomer();
            },
            minLength: 1

        })
        // Product name
        $("#TenSanPham").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/SanPham/FindSuggestByTypeCustomer", data: "{ 'prefixText': '" + request.term + "' , 'typeCustomer' : '" + $("#kindCustomer").val() + "'}",
                    dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success:
                        function (data) {
                            response($.map(data, function (item) {
                                return {
                                    lable : item.name,                                   
                                    value: item.name,
                                    id: item.id,
                                    price: item.price,
                                    discount: item.discount,
                                    unit:item.unit
                                }
                            }))
                        },
                    error:
                        function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                });
                setEmptyFixedField();
            },
            select: function (event, ui) {
                setFixedField(ui.item);
              
                hideRelationProduct();
                createDonViTinh();

                $('#hidFactorValue').val('1');
                return false;
            },
            focus: function (event, ui) {
              
                setRelationProduct(ui.item);
                setStoreInformation(ui.item);
                showRelationProduct();
                $('#hidFactorValue').val('1');
            },
            close: function () {
                hideRelationProduct();
            },
            minLength: 1

        }).keyup(function (e) {
            if (e.which === 13 || e.which === 27) {
                $(".ui-menu-item").hide();
                hideRelationProduct();
            }
        });;

        //format numberic start 
        formatNumberic();
        $('input.numberic').keypress(function (key) {
            var keycode = (key.which) ? key.which : key.keyCode;
            //comparing pressed keycodes

            if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
                //alert(" Hãy nhập ký tự số.");
                return false;
            }
            else return true;

        });
        $('input.numberic').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                //event.preventDefault();
                return true;
            }
            FormatNumberic_KeyUp($(this));

        });
        $('input.numberic').bind("paste", function (e) {
            e.preventDefault();
        });
        //format numberic end
    });

function hideRelationProduct(){
    // hide relation product
    $('#relationProduct').removeClass('relationProductShow');
    $('#relationProduct').addClass('HideElement');
  
}
function showRelationProduct() {
    var width = $('#ui-id-2').width();
    var offset = $('#ui-id-2').offset();
    offset.left = offset.left + width + 10;
    $('#relationProduct').offset({ top: offset.top, left: offset.left })
    // show relation product
    $('#relationProduct').removeClass('HideElement');
    $('#relationProduct').addClass('relationProductShow');

}
function hideRelationCustomer() {
    // hide relation customer
    $('#relationCustomer').removeClass('relationCustomerShow');
    $('#relationCustomer').addClass('HideElement');
}
function showRelationCustomer() {
    var width = $('#ui-id-1').width();
    var offset = $('#ui-id-1').offset();
    offset.left = offset.left + width + 10;
    $('#relationCustomer').offset({ top: offset.top, left: offset.left })
    // show relation customer
    $('#relationCustomer').removeClass('HideElement');
    $('#relationCustomer').addClass('relationCustomerShow');
}
function addCommaNumberic(ctrlID, isSpanTag) {
    if (isSpanTag == true) {
        $(ctrlID).html($(ctrlID).html().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
    } else {
        $(ctrlID).val($(ctrlID).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
    }
    
}
function changeTypeCustomer() {
    $('#kindCustomer').val($('#typeCustomers').val());
}
function setEmptyFixedField() {
    //$('#MaSanPham').val('');
    $('#GiaBan').val('');
    $('#ChietKhau').val('');
    $('#GiaThuc').val('');
    $('#typeDonViTinh').empty();
}
function setFixedField(item) {
    CalcRealPrice(item.price, item.discount);
    addCommaNumberic('#GiaThuc');
    $('#MaSanPham').val(item.id);
    $('#TenSanPham').val(item.label);
    $('#GiaBan').val(item.price);
    addCommaNumberic('#GiaBan');
    $('#ChietKhau').val(item.discount);
    addCommaNumberic('#ChietKhau');
}
function setRelationProduct(item, isSelected) {
    $('#S_MaSanPham').html(item.id);
    $('#S_TenSanPham').html(item.label);
    if (isSelected == true) {
        setFixedField(item);
        $('#S_GiaBan').html($('#GiaBan').val());
        $('#S_ChietKhau').html($('#ChietKhau').val());
        $('#S_GiaThuc').html($('#GiaThuc').val());
    } else {
        $('#S_GiaBan').html(item.price);
        addCommaNumberic('#S_GiaBan', true);
        $('#S_ChietKhau').html(item.discount);
        addCommaNumberic('#GiaBan',true);
        var priceReal = CalcRealPrice(item.price, item.discount, true);
        $('#S_GiaThuc').html(priceReal);
        addCommaNumberic('#S_GiaThuc', true);
    }  
}
function setRelationCustomer(item, isSelected) {

    $('#S_MaKhachHang').html(item.id);
    $('#S_TenKhachHang').html(item.label);
    $('#S_MaTheKhachHang').html(item.cardNo);
    $('#S_DiaChi').html(item.address);
    $('#S_SoDienThoai').html(item.fone);
    $('#S_Email').html(item.email);
    if (isSelected == true) {
        $('#MaKhachHang').val(item.id);
        $('#TenKhachHang').val(item.label);
        $('#DiaChi').html(item.address);
    }

}
function setStoreInformation(item) {
    var result = '';
    $.ajax({
        url: "/BanHang/CheckingProductInAllStore",
        data: "{'maSP' : '" + item.id + "'}",
        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
        success:
            function (data) {
                $.each(data, function (i, item) {
                    $('#store_1').html(item.TON_KHO_1);
                    $('#store_2').html(item.TON_KHO_2);
                    $('#store_3').html(item.TON_KHO_3);
                    $('#store_4').html(item.TON_KHO_4);
                    $('#store_5').html(item.TON_KHO_5);
                });
            },
        error:
            function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
    });
}
function createDonViTinh() {
    var result = '';
    $.ajax({
        url: "/BanHang/FindDonViTinhByMaSP",
        data: "{'maSP' : '" + $('#MaSanPham').val() + "'}",
        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
        success:
            function (data) {
                $('#typeDonViTinh').empty();
                $.each(data, function (i, item) {
                    var opt = "<option value=" + item.MA_DON_VI + ">" + item.TEN_DON_VI + "</option>"
                    $(opt).appendTo('#typeDonViTinh');
                });
            },
        error:
            function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
    });
}
function createStore() {
    var result = '';
    $.ajax({
        url: "/BanHang/FindStore",
        //data: "{ 'prefixText': '" + request.term + "' , 'typeCustomer' : '" + $("input[type='radio']:checked").val() + "'}",
        dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
        success:
            function (data) {
                $.each(data,function(i,item)
                {
                    var opt = '';
                    if (item.value == parseInt($('#MyStore').val())) {
                        opt = "<option value=" + item.value + " selected>" + item.name + "</option>"
                    }else { 
                        opt = "<option value=" + item.value + ">" + item.name + "</option>"
                    }
                    
                    $(opt).appendTo('#typeStore');
                });
            }, 
        error: 
            function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
    });
}
function confirmBack() {
    var title = "Xác nhận";
    var content = "Quá trình trở về có thể làm mất dữ liệu bạn đang thao tác. <br\> Bạn muốn tiếp tục hay không?";
    if ($("table.tableContentScroll tr").length == 0) {
        $('#hidBtnBack').click();
    } else {
        fnOpenConfirmDialog(title, content,1);
    }
}
function fnOpenConfirmDialog(title, content, action) {
    $("#dialogConfirm").html(content);
    $("#dialogConfirm").dialog({
        resizable: false,
        modal: true,
        title: title,
        height: 200,
        width: 550,
        buttons: {
            "Đồng ý": function () {
                $(this).dialog('close');
                switch(action) {
                    case 1:
                        $('#hidBtnBack').click();
                        break;
                    case 2:
                        reset();
                        break;
                }
           
            },
            "Không": function () {
                $(this).dialog('close');               
            }
        }
    });
}
function fnOpenNormalDialog(title, content, action) {
    if ($("table.tableContentScroll tr").length == 0) {
        return;
    }

    $("#dialogConfirm").html(content);
    switch(action)
    {
        case 1:  // change type customer
            $("#dialogConfirm").dialog({
                resizable: false,
                modal: true,
                title: title,
                height: 200,
                width: 550,
                buttons: {
                    "Đồng ý": function () {
                        $(this).dialog('close');
                        callback(true);
                    },
                    "Không": function () {
                        $(this).dialog('close');
                        callback(false);
                    }
                }
            });
            break;
        case 2: // duplicate product item
            $("#dialogConfirm").dialog({
                resizable: false,
                modal: true,
                title: title,
                height: 200,
                width: 550,
                buttons: {
                    "Đóng": function () {
                        $(this).dialog('close');
                        $('#tableSearch #TenSanPham').select();
                    }
                }
            });
            break
        default:
            break;
    }
}
function callback(valueReturn) {
    if (valueReturn) {
        $("table.tableContentScroll tr").remove();
        $('#saveBill').attr("disabled", "disabled");
        $('#saveBill').css("background-color", "#ECECEC");
    } else {
        $('input:radio[value="' + $('#currTypeCustomer').val() + '"]').prop('checked', true);
    }
}
function addRecord() {

    $('#contentMsgErr').empty();
    $('#divErr').hide();
    var msgErr = checkInput();
    if ('' == msgErr) {
        //if ($('#tableContent input:hidden[value="' + $('#tableSearch #MaSanPham').val() + '"]').length > 0){
        //    var title = "Xác nhận"
        //    var content = "Đã tồn tại sản phẩm này trong danh sách bên dưới.<br/> Hãy kiểm tra lại danh sách bên dưới hoặc thêm sản phẩm khác ";
        //    var action = 2;
        //    $('#addRecord').click(fnOpenNormalDialog(title, content, action));
        //} else {
            prependNewRowToTable();
            resetFieldAfterAdding();
            $('#saveBill').removeAttr("disabled", "disabled");
            $('#saveBill').css("background-color", "");
            CalcTotalAllMoney($('#hidTotalRowAdded').val(), true);
        //}
    } else {
        showMsgErr(msgErr,true);
    }

}
function CalcTotalAllMoney(totalRow, isPlus) {
    var result = 0;
    totalRow = parseFloat(removeCommas(totalRow));
    var totalAll = parseFloat(removeCommas($('#hidTotalAllMoney').val()));
    if (isPlus) {
        result = totalAll + totalRow;
    } else {
        result = totalAll - totalRow;
    }
    $('#hidTotalAllMoney').val(result);
    addCommaNumberic('#hidTotalAllMoney');
    $('#totalAll').html($('#hidTotalAllMoney').val());
}
function checkInput() {
    var msgErr = '';
    var empty = '';
    if (empty == $('#TenKhachHang').val()) {
        msgErr += " + Tên khách hàng. <br/>";
    }
    if (empty == $('#MaSanPham').val() || empty == $('#TenSanPham').val()) {
        msgErr += " + Tên sản phẩm. <br/>";
    }
    if (empty == $('#GiaBan').val()) {
        msgErr += " + Giá bán. <br/>";
    }
    if (empty == $('#ChietKhau').val()) {
        msgErr += " + Chiết khấu. <br/>";
    }
    if (empty == $('#SoLuong').val()) {
        msgErr += " + Số lượng <br/>";
    }
    if (empty == $('#NgayBan').val()) {
        msgErr += " + Ngày bán <br/>";
    }
    if (empty == $('#NgayGiao').val()) {
        msgErr += " + Ngày giao <br/>";
    }
    if (empty != $('#NgayBan').val() && empty != $('#NgayGiao').val()) {
        if (compareDate($('#NgayBan').val(), $('#NgayGiao').val(), 0) > 0) {
            msgErr += " + Ngày bán hàng lớn hơn ngày giao hàng. <br/>";
        }
    }
    if (empty == $('#DiaChi').val()) {
        msgErr += " + Địa chỉ <br/>";
    }
    return msgErr;
}
function showMsgErr(msgErr, isShowTitle) {
    if (isShowTitle == true) {
        $('#titleMsgErr').show();
    } else {
        $('#titleMsgErr').hide();
    }
    $('#contentMsgErr').append(msgErr);
    $('#divHr').show();
    $('#divErr').show();
}
/*compare 2 date : date1 , date2 with n day
*return 1 : date1 > date2 / 0 : date1 <= date2
*/
function compareDate(dtFrom, dtTo, day) {
    if (($.datepicker.parseDate('dd/mm/yy', dtFrom) - $.datepicker.parseDate('dd/mm/yy', dtTo)) > day) {
        return 1;
    } else {
        return 0;
    }
}

function resetFieldAfterAdding() {
    $('#tableSearch #TenSanPham').val('');
    $('#tableSearch #MaSanPham').val('');
    $('#tableSearch #GiaBan').val('');
    $('#tableSearch #ChietKhau').val('');
    $('#tableSearch #GiaThuc').val('');
    $('#tableSearch #typeDonViTinh').empty();
    $('#tableSearch #SoLuong').val('1');
  
}
function prependNewRowToTable() {
    var MaSP = $('#tableSearch #MaSanPham').val();
    var TenSP = $('#tableSearch #TenSanPham').val();
    var ChietKhau = $('#tableSearch #ChietKhau').val();
    var GiaBan = $('#tableSearch #GiaBan').val();

    CalcTotalMoney1Row();

    var newRow = '';
    newRow += ' <tr class="rowHeight" id=\'' + MaSP + '\'> ';
    newRow += '<td style="width:22px;"> ';
    newRow += '  <div class="colDelete">';
    newRow += '  <img src="/Content/images/delete-20.png" style="cursor: pointer;" onclick="deleteRow(\'' + $('#tableSearch #MaSanPham').val() + '\');">';
    newRow += '   </div>';
    newRow += ' </td> ';
    newRow += ' <td  class="colProductNm textLeft"> ';
    newRow += ' <div  class="colProductNm tooltip truncate">';
    newRow += TenSP;
    newRow += '  <span>' + TenSP + '</span>';
    newRow += '  <input name="MaSanPham_' + MaSP + '" type="hidden" value="' + MaSP + '" />';
    newRow += '  <input name="TenSanPham_' + MaSP + '" type="hidden" value="' + TenSP + '" />';
    newRow += '   </div>';
    newRow += ' </td> ';
    newRow += ' <td class="colStore textLeft"> ';
    newRow += $('#typeStore :selected').text()
    newRow += '  <input name="MaKho_' + MaSP + '" type="hidden" value="' + $('#typeStore :selected').val() + '" />';
    newRow += ' </td> ';
    newRow += '  <td  class="colPrice textRight"> ';
    newRow += ' <div  class="colPrice tooltip truncate">';
    newRow +=   $('#tableSearch #GiaThuc').val();
    newRow += '  <input name="GiaThuc_' + MaSP + '" type="hidden" value="' + $('#tableSearch #GiaThuc').val() + '" />';
    newRow += '  <input name="ChietKhau_' + MaSP + '" type="hidden" value="' + ChietKhau + '" />';
    newRow += '  <span> Đây là giá sau khi đã được chiết khấu.<br/> + Chiết khấu : ' + ChietKhau + '%.<br/> + Giá gốc : ' + GiaBan + '.</span>';
    newRow += '   </div>';
    newRow += ' </td>  ';

    newRow += '  <td class="colAmount textRight"> ';
    newRow += $('#tableSearch #SoLuong').val();
    newRow += '  <input name="SoLuong_' + MaSP + '" type="hidden" value="' + $('#tableSearch #SoLuong').val() + '" />';
    newRow += ' </td> ';

    newRow += '  <td class="colUnit textCenter"> ';
    newRow += $('#typeDonViTinh :selected').text()
    newRow += '  <input name="MaDonViTinh_' + MaSP + '" type="hidden" value="' + $('#typeDonViTinh :selected').val() + '" />';
    newRow += ' </td> ';

    newRow += '  <td class="colTotal textRight"> ';
    newRow += $('#hidTotalRowAdded').val()
  
    newRow += '  <input name="ThanhTien_' + MaSP + '" type="hidden" value="' + $('#hidTotalRowAdded').val() + '" />';
    newRow += ' </td> ';

    newRow += '  </tr> ';
    $('#tableContent').prepend(newRow);

}
function CalcFactorOfProduct() {
    var unitNo = $('#typeDonViTinh :selected').val();
    var productNo = $('#tableSearch #MaSanPham').val();
    GetFactorOfProduct(productNo, unitNo);

}
function CalcTotalMoney1Row() {
    var result = 0;

    var factor = $('#hidFactorValue').val();
   
    var count = removeCommas($('#tableSearch #SoLuong').val());
    var realPrice = removeCommas($('#tableSearch #GiaThuc').val());

    result = count * factor * realPrice;
    $('#hidTotalRowAdded').val(result);
    addCommaNumberic('#hidTotalRowAdded');
    
    result = $('#hidTotalRowAdded').val();

    return result;
}
function GetFactorOfProduct(productNo, unitNo) {
    if (unitNo != null && unitNo != 'undefined') {
        $.ajax({
            url: "/BanHang/FindFactorOfProduct",
            //data: "{'maSP' : '" + productNo + "'}",
            data: "{ 'maSP': '" + productNo + "' , 'unitNo' : '" + unitNo + "'}",
            dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",        
            success: function (data) {
                $('#hidFactorValue').val(data.heso);           
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
        });
    }
}
function CalcRealPrice(price, discount, isReturn) {
    $('#contentMsgErr').empty();
    $('#divHr').hide();
    var result = '';
    if (price == 0 || discount == 0) {
        result = price;
    } else {
        result = roundToTwo(price - ((price * discount) / 100));
    }
    if (result < 0) {
        showMsgErr(" Giá trị của chiết khấu quá lớn so với giá gốc của sản phẩm <br/> Hãy nhập lại giá trị chiết khấu.", false)
        return false;
    }
    if (isReturn == true) {
        return result;
    } else {
        $('#tableSearch #GiaThuc').val(result);
    }
}

function roundToTwo(num) {
    return +(Math.round(num + "e+2") + "e-2");
}

function UpdateRealPrice() {
    if ('' == $('#MaSanPham').val() || null == $('#MaSanPham').val()) {
        return
    }
    var price = removeCommas($('#GiaBan').val());
    var discount = removeCommas($('#ChietKhau').val());
    if (null == price ){
        price = 0;
        $('#GiaBan').val('0');
    }
    if (null == discount) {
        discount = 0;
        $('#ChietKhau').val('0');
    }
    var result = CalcRealPrice(price, discount);
    if(result == false){
        $('#GiaThuc').val('');
        $('#ChietKhau').focus();
        return;
    }else{
     addCommaNumberic('#GiaThuc');
    }
   
}

/*remove comma from value input*/
function removeCommas(str) {
    if (str != null && str != '') {
        return (str.replace(/,/g, ''));
    } else {
        return null;
    }

}

function deleteRow(rowId) {
    var totalRow = $('input[name="ThanhTien_' + rowId + '"]').val();
    CalcTotalAllMoney(totalRow, false);

    $('#' + rowId).remove();
    if ($("table.tableContentScroll tr").length == 0) {
        $('#saveBill').attr("disabled", "disabled");
        $('#saveBill').css("background-color", "#ECECEC");
    } else {
        $('#saveBill').removeAttr("disabled", "disabled");
        $('#saveBill').css("background-color", "");
        
    }
}
function saveListProductNo() {
    var listProductNo = '';
    var indx = 0;
    $('#tableContent tr').each(function () {
        listProductNo += this.id
        if (indx < ($('#tableContent tr').length - 1)) {
            listProductNo += ','
        }
        indx += 1;
    })

    $('#ListProductID').val(listProductNo);
    //$('#formContent').submit();
}
function createNewBill() {
    var title = "Xác nhận";
    var content = "Quá trình tạo mới hóa đơn có thể làm mất dữ liệu bạn đang thao tác. <br\> Bạn muốn tiếp tục hay không?"
    if ($("table.tableContentScroll tr").length == 0) {
        reset();
    } else {
        fnOpenConfirmDialog(title, content, 2);
    }
    
}
function exportExcel() {

    var listProductNo = '';
    var indx = 0;
    $('#tableContent tr').each(function () {
        listProductNo +=  this.id
        if (indx < ($('#tableContent tr').length -1)) {
            listProductNo += ','
        }
        indx += 1; 
    })

    $('#ListProductID').val(listProductNo);
    $('#formContent').submit();
  
}
function reset() {

    //reset content prev
    $("table.tableContentScroll tr").remove();
    $('#saveBill').attr("disabled", "disabled");
    $('#saveBill').css("background-color", "#ECECEC");
    //reset field input prev
    $('#TenKhachHang').val('');
    $('#MaKhachHang').val('');
    $('#kindCustomer').val('');

    $('#typeCustomers').val('3');

    $('#TenSanPham').val('');
    $('#MaSanPham').val('');
    $('#GiaBan').val('');
    $('#ChietKhau').val('');
    $('#GiaThuc').val('');

    $('#typeStore option:eq(0)').attr('selected', 'selected');
    $('#typeDonViTinh').empty();
    $('#SoLuong').val('');

    $('#NgayBan').datepicker('setDate', 'today');
    $('#NgayGiao').datepicker('setDate', 'today + 3');

    $('#DiaChi').val('');
    //hidden field
    $('#hidFactorValue').val('1');
    $('#hidTotalRowAdded').val('1');
    $('#hidTotalAllMoney').val('1');
}
/*start format numberic*/
function NumbericOnly(ctrl) {
    $(ctrl).keypress(function (e) {

        //getting key code of pressed key
        var keycode = (e.which) ? e.which : e.keyCode;
        //comparing pressed keycodes

        if (keycode > 31 && (keycode < 48 || keycode > 57) && keycode != 46) {
            //alert("Hãy nhập ký tự số.");
            return false;
        }
        else return true;
    });

}

function formatNumberic() {
    $('input.numberic').each(function () {
        $(this).val($(this).val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
    });
}

function FormatNumberic_KeyUp(obj) {
    var $this = $('#' + obj.id);
    var AmountWithCommas = $this.val();
    var DecimalSeparator = Number("1.2").toLocaleString().substr(1, 1);
    var arParts = String(AmountWithCommas).split(DecimalSeparator);

    var intPart = arParts[0];
    var decPart = (arParts.length > 1 ? arParts[1] : '');

    var num = intPart.replace(/,/gi, "").split("").reverse().join("");
    var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
    if (decPart.length > 2) {
        decPart = (decPart + '00').substr(0, 2);
    }
    if (arParts.length > 1) {
        $this.val(num2 + DecimalSeparator + decPart);
    } else {
        $this.val(num2);
    }
}

function RemoveRougeChar(convertString) {
    if (convertString.substring(0, 1) == ",") {
        return convertString.substring(1, convertString.length)
    }
    return convertString;
}
    /*end format numberic*/

function saveBillSuccess() {
    $('#divErr').hide();
    $('#divInfo').show();
    $('#divHr').show();
}
function saveBillFailure() {
    $('#divInfo').hide();
    $('#divErr').show();
    $('#divHr').show();
}
</script>
}
<hr />
<!--Message-->
<div id="msgId">
    <div id="divInfo" style="display: none; color: blue">
       
    </div>
    <div id="divErr" style="display:none; color:red">
        <div id="titleMsgErr">
            Hãy nhập các giá trị bên dưới :
        </div>
        <div id="contentMsgErr" style="margin-left:15px">

        </div>
    </div>
    <div id="divHr">
        <hr />
    </div>
</div>

<fieldset>
    @using (Ajax.BeginForm("SaveBill", "BanHang", null,
     new AjaxOptions()
     {
           UpdateTargetId = "divInfo",
           OnSuccess="saveBillSuccess",
           OnFailure = "saveBillFailure"
     },
     new { @id = "formContent" })
     )
    {
        <!--customer & user area-->
        <div id="customerArea">
            <table id="tableCustomer" class="tableSearch tableBasic">
                <tr>
                    <td>
                        <div class="titleItem required">Tên khách hàng </div>
                        <br />
                        <div>
                            <input type="text" name="TenKhachHang" id="TenKhachHang" style="margin-left: 2px;" />
                            <input type="hidden" name="MaKhachHang" id="MaKhachHang" />
                            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                            <input type="hidden" id="MyStore" value="@ViewBag.MyStore" />
                            <input type="hidden" id="kindCustomer" />
                        </div>

                    </td>
                    <td>
                        <div>
                            <span class="required" style="font-size:16px;">Loại nghiệp vụ  </span>
                            <br />

                            <div>
                                <select id="typeCustomers" class="ComboboxCustomer" onchange="changeTypeCustomer();">
                                    <option value="3"> L3 - 03 </option>
                                    <option value="2"> L2 - 02 </option>
                                    <option value="1"> L1 - 01 </option>
                                </select>

                            </div>
                            <!--relationCustomer-->
                            <div id="relationCustomer">
                                <div>
                                    <span><strong>- Mã khách hàng : </strong> </span><span id="S_MaKhachHang"></span>
                                    <br />
                                    <span><strong>- Tên khách hàng : </strong> </span><span id="S_TenKhachHang"></span>
                                    <br />
                                    <span><strong>- Mã thẻ : </strong> </span><span id="S_MaTheKhachHang"></span>
                                    <br />
                                    <span><strong>- Địa chỉ : </strong> </span><span id="S_DiaChi"></span>
                                    <br />
                                    <span><strong>- Số điện thoại : </strong> </span><span id="S_SoDienThoai"></span>
                                    <br />
                                    <span><strong>- Email : </strong> </span><span id="S_Email"></span>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <!--input information product-->
            <div>
                <table id="tableSearch" class="tableSearch tableBasic">
                    <tr>
                        <td>
                            <input type="hidden" id="MaSanPham" />
                            <div class="titleItem required">Tên sản phẩm </div>
                            <br />
                            <div>
                                <input type="text" id="TenSanPham" style="margin-left: 2px; " />
                            </div>
                        </td>
                        <td>
                            <div class="titleItem required">Giá bán</div>
                            <br />
                            <div>
                                <input type="text" id="GiaBan" maxlength="10" onblur="return UpdateRealPrice();"
                                       class="numberic alignNumberic" onkeydown="NumbericOnly(this);" onkeyup="FormatNumberic_KeyUp(this);" />
                            </div>
                            <div id="relationProduct" style="top: 319px; left: 565px;">
                                <div id="toolTipRelationProduct">
                                    <span><strong>- Mã sản phẩm : </strong> </span><span id="S_MaSanPham"></span>
                                    <br />
                                    <span><strong>- Tên sản phẩm : </strong> </span><span id="S_TenSanPham"></span>
                                    <br />
                                    <span><strong>- Giá bán : </strong> </span><span id="S_GiaBan"></span>
                                    <br />
                                    <span><strong>- Chiết khấu : </strong> </span><span id="S_ChietKhau"></span>
                                    <br />
                                    <span><strong>- Giá sau chiết khấu : </strong> </span><span id="S_GiaThuc"></span>
                                    <br />
                                    <span><strong>- Số lượng: </strong> </span>
                                    @{
        int j = 0;
        foreach (var Kho in ViewBag.KhoList)
        {
            j++;
            if (j <= 5)
            {
                switch (j)
                {
                    case 1:
                        <br />
                                    <span><strong>  + @Kho.TEN_KHO : </strong> </span><span id="store_1"> </span>
                        break;
                    case 2:
                    <br />
                                    <span><strong>  + @Kho.TEN_KHO : </strong> </span><span id="store_2">  </span>
                        break;
                    case 3:
                    <br />
                                    <span><strong>  + @Kho.TEN_KHO : </strong> </span><span id="store_3"> </span>
                        break;
                    case 4:
                    <br />
                                    <span><strong>  + @Kho.TEN_KHO : </strong> </span><span id="store_4">  </span>
                        break;
                    case 5:
                    <br />
                                    <span><strong>  + @Kho.TEN_KHO : </strong> </span><span id="store_5">  </span>
                        break;
                }
            }
        }
                                    }

                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="titleItem required">Chiết khấu</div>
                            <br />
                            <div>
                                <input type="text" id="ChietKhau" maxlength="5" onblur="return UpdateRealPrice();"
                                       class="numberic" onkeydown="NumbericOnly(this);" onkeyup="FormatNumberic_KeyUp(this);"
                                       style="text-align: right; width: 110px !important;" />
                            </div>
                        </td>
                        <td>
                            <div class="titleItem ">Giá sau chiết khấu </div>
                            <br />
                            <div>
                                <input type="text" id="GiaThuc" maxlength="10"
                                       style=" text-align:right;background: rgb(252, 252, 252);" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <span class="required" style="font-size:16px;">Kho hàng  </span>
                                <br />
                                <select id="typeStore" class="Combobox" ></select>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="required" style="font-size:16px;">Đơn vị tính </span>
                                <br />
                                <select id="typeDonViTinh" class="Combobox" onchange="CalcFactorOfProduct();"></select>
                            </div>
                        </td>
                        <td>
                            <div class="titleItem required">Số lượng</div>
                            <br />
                            <div>
                                <input type="text" id="SoLuong" maxlength="7" style="width: 110px !important;" value="1"
                                       class="numberic alignNumberic" onkeydown="NumbericOnly(this);" onkeyup="FormatNumberic_KeyUp(this);" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>

                        <td>
                            <div class="titleItem required">Ngày bán</div>
                            <br />
                            <div>
                                <input type="text" name="NgayBan" id="NgayBan" maxlength="10"
                                       class="datePicker alignCenter " />
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="titleItem required">Ngày giao hàng</div>
                            <br />
                            <div>
                                <input type="text" name="NgayGiao" id="NgayGiao" maxlength="10"
                                       class="datePicker alignCenter" />
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="titleItem required">Địa chỉ giao hàng</div>
                            <br />
                            <div>
                                <textarea name="DiaChi" id="DiaChi" rows="3" cols="3" class="alignText" maxlength="300"></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="myAction">
                    <input type="button" id="addRecord" value="Thêm sản phẩm" />
                </div>
            </div>

            <!--hidden field start-->
            <div id="dialogConfirm"></div>
            <input type="hidden" id="hidFactorValue" value="1" />
            <input type="hidden" id="hidTotalRowAdded" value="0" />
            <input type="hidden" name="hidTotalAllMoney" id="hidTotalAllMoney" value="0" />
            <input type="hidden" id="ListProductID" name="ListProductID" value="" />
            <!--hidden field end-->

        </div>
        <!--list content area-->
        <div class="mainContainer">
            <table class="tableHeader">
                <tbody>
                    <tr>
                        <th style="width: 25px; padding: 0.5em 0em 0em 0em !important; ">
                            <div class="colDelete">
                                <img src="/Content/images/delete-20.png" style="display:none;">
                            </div>
                        </th>
                        <th class="colProductNmHeader">
                            <div class="colProductNmHeader">
                                Tên sản phẩm
                            </div>
                        </th>
                        <th class="colStoreHeader">
                            Kho
                        </th>
                        <th class="colPriceHeader">
                            Giá bán
                        </th>

                        <th class="colAmountHeader">
                            Số lượng
                        </th>
                        <th class="colUnitHeader">
                            Đơn vị tính
                        </th>
                        <th class="colTotalHeader">
                            Thành tiền
                        </th>

                        <th id="columnScroll" style="width: 16px;">
                        </th>
                    </tr>

                </tbody>
            </table>

            <div class="mainContentScroll">
                <table id="tableContent" class="tableContentScroll">
                    <tbody>
                        <!--danh sach sp add vao day.-->
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="ListProductID" name="ListProductID" value="" />

        </div>

    <!--total money-->
        <div id="divTotal">
            <table cellpadding="0" cellspacing="0" class="tableTotal">
                <tr>
                    <td class="colTitleTotal">
                        <div>Tổng tiền hóa đơn : </div>
                    </td>
                    <td class="colTotalValue">
                        <div id="totalAll"> 0 </div>
                    </td>
                </tr>

            </table>
        </div>
        <hr />
         <div>
        @*<input type="button" id="exportExcel" style="width:100px" value="Xuất Excel" onclick="exportExcel();" />*@
        <input type="submit" id="saveBill" style="width: 120px" value="Lưu hóa đơn">
        <input type="button" id="createNewBill" style="width: 100px" value="Tạo mới">
        <input type="button" id="back" style="width:100px" value="Trở về">
        <input type="button" id="hidBtnBack" style="display:none;" onclick="location.href='@Url.Action("BanHang", "Home")'">
         </div>

    }
   
</fieldset>