@{
    ViewBag.Title = "Danh Mục";
    ViewBag.Message = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br />
    <h2>@ViewBag.Message</h2>
</hgroup>
<div >
    <table width = "100%">
        <tr>
            <td><input type = "button" onclick="window.location.href('@Url.Action("Index","DonVi")')" style = "width:250px;" value ="DANH SÁCH ĐƠN VỊ TÍNH"/> </td>
            <td><input type = "button" class ="myButton"  style = "width:250px;" value ="DANH SÁCH KHU VỰC"/></td>
            <td><input type = "button" onclick="window.location.href('@Url.Action("Index","HangSanXuat")')" class ="myButton" style = "width:250px;"  value ="DANH SÁCH NHÀ SẢN XUẤT"/></td>
        </tr>
         <tr>
            <td><input type = "button" style = "width:250px;" value ="DANH SÁCH NHÀ CUNG CẤP"/> </td>
            <td><input type = "button" style = "width:250px;"  value ="DANH SÁCH KHÁCH HÀNG"/></td>
            <td><input type = "button" style = "width:250px;" value = "DANH SÁCH SẢN PHẦM"/></td>
        </tr>
        <tr>
            <td><input type = "button" style = "width:250px;" value ="CHUYỂN ĐỔI ĐƠN VỊ TÍNH"/> </td>
            <td><input type = "button" style = "width:250px;"  value ="THÊM MỚI SẢN PHẨM"/></td>
            <td><input type = "button" style = "width:250px;" value = "THÊM MỚI KHÁCH HÀNG"/></td>
        </tr>
        <tr>
            <td><input type = "button" style = "width:250px;" value ="THÊM MỚI ĐƠN VỊ TÍNH"/> </td>
            <td><input type = "button" style = "width:250px;"  value ="THÊM MỚI NHÀ CUNG CẤP"/></td>
            <td><input type = "button" onclick="window.location.href('@Url.Action("AddNew","HangSanXuat")')" style = "width:250px;" value = "THÊM MỚI HÃNG SẢN XUẤT"/></td>
        </tr>
         <tr>
            <td><input type = "button" style = "width:250px;" value ="BÁO CÁO XUẤT KHO"/> </td>
            <td><input type = "button" onclick ="" style = "width:250px;"  value ="THẺ KHO"/></td>
            <td></td>
        </tr>
    </table>
</div>