@model SMS.Models.NGUOI_DUNG

@{
    ViewBag.Title = "CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}
<script>
    //<![CDATA[
    $(document).ready(function () {
        $('input').keyup(function (event) {
            // press Enter to submit
            if (event.which === 13) {
                login();
            }
        });
    });

    function login() {
        $('#msgError').html('');
        $('#resultLoadingDiv').show();
        $('#btnLogin').attr("disabled", "disabled");
        $('#btnLogin').css("background-color", "#ECECEC");

        jQuery.ajax({
            url: "/Account/CheckingLogIn",
            data: "{ 'username': '" + $('#USER_NAME').val() + "' , 'password': '" + $("#MAT_KHAU").val() + "'}",
            dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
            dataFilter: function (data) { return data; },
            success:
                function (data) {
                    if (data.Status == "Error") {
                        $('#btnLogin').removeAttr("disabled", "disabled");
                        $('#btnLogin').css("background-color", "");
                        $('#resultLoadingDiv').hide();
                        // show error message
                        if (($('#USER_NAME').val() == '' || $('#USER_NAME').val() == null)
                            && ( $('#MAT_KHAU').val() == '' || $('#MAT_KHAU').val() == null)) {
                            $('#msgError').html('Vui lòng nhập User name và Mật khẩu.');
                        } else if ($('#USER_NAME').val() == '' || $('#USER_NAME').val() == null) {
                            $('#msgError').html('Vui lòng nhập User name.');
                        } else if ($('#MAT_KHAU').val() == '' || $('#MAT_KHAU').val() == null) {
                            $('#msgError').html('Vui lòng nhập Mật khẩu.');
                        } else {
                            $('#msgError').html('User name hoặc Mật khẩu không đúng.');
                        }

                    }
                    else if (data.Status == "Success") {
                        $('#msgError').html('');
                        $('#resultLoadingDiv').hide();
                        $('#mainForm').submit();
                    }

                },
            error:
               function (XMLHttpRequest, textStatus, errorThrown) {
                   $('#resultLoadingDiv').hide();
                   alert(textStatus);
               }
        });


      
    }
    /*end format numberic*/

    //]]>
</script>
            <hgroup class="title">
            <h2>@ViewBag.Message</h2>
        </hgroup>

        <section id="loginForm">
        <h2>Đăng nhập hệ thống</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "mainForm" }))
        {
    @*@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)*@
            <div class="validation-summary-errors">
            <ul>
                <li id="msgError"></li>
            </ul>
            </div>
    <fieldset>
                <legend>Log in Form</legend>
                <ol>
                    <li>
        @Html.LabelFor(m => m.USER_NAME)
        @Html.TextBoxFor(m => m.USER_NAME)
        @*@Html.ValidationMessageFor(m => m.USER_NAME)*@
                    </li>
                    <li>
        @Html.LabelFor(m => m.MAT_KHAU)
        @Html.PasswordFor(m => m.MAT_KHAU)
        @*@Html.ValidationMessageFor(m => m.MAT_KHAU)*@
                    </li>
                </ol>
                <input id="btnLogin" type="button" onclick="login();" value="Log in" />
            </fieldset>
        }
        </section>

        <div id="resultLoadingDiv" style="border: none; display: none; z-index: 99; text-align: center; position: absolute; margin-left: 70px; ">
            <img src="/Content/images/loadingColor.gif" />
        </div>

        <section class="social" id="socialLoginForm">
            <h2>SMS - Store Management System</h2>
            <p>
                Đây là hệ thống quản lý tổng thể quá trình mua, bán và quản lý tồn kho của Công Ty TNHH ....
                <br />Bản quyền thuộc sở hửu của Công Ty TNHH ....
            </p>
        </section>

        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        }
