@model PagedList.IPagedList<SMS.Models.SanPhamDisplay>

@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="../../Content/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/SanPham.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
@*<script src="~/Content/js/jquery-1.9.1.js"></script>*@
<script src="../../Scripts/scrollTable.js" type="text/javascript"></script>
<h2>@ViewBag.Title </h2>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
<script>
    //<![CDATA[ 
    /**AUTOCOMPLETE**/
    $(document).ready(function () {
        $("#CurrentFilter").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/SanPham/FindSuggest", data: "{ 'prefixText': '" + request.term + "' }",
                    dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; }, success:
                        function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.value,
                                    value: item.value,
                                    id: item.id
                                }
                            }))
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                });
            },
            select: function (event, ui) {
                $('#CurrentFilter').val(ui.item.label);
                return false;
            },
            minLength: 1

        });
        
        

    });

    $(window).load(function () {

        $(".headerSA").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                var isExpand = $content.is(":visible");
                if (isExpand == true) {
                    $header.removeClass('collapsed');
                } else {
                    $header.addClass('collapsed');
                }

            });

        });

    });


    $(document).ready(function () {
        renderFormatTable();
    });

    function renderFormatTable() {
        $('td.alignNumberic').each(function () {
            $(this).html($(this).html().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        });

        $("#contentFrozen tr:odd").css("background-color", "#f3f7f5");
        $("#contentFrozen tr:even").css("background-color", "#fff");
        $("#innercontent tr:odd").css("background-color", "#f3f7f5");
        $("#innercontent tr:even").css("background-color", "#fff");
    }

    function confirmDelete() {
        var r = confirm("Bạn muốn xóa đơn sản phẩm này không?");
        if (r == true) {
            document.forms[0].submit();
        } else {
            return false;
        }
    }

    function RenderControls() {
        
        var idCtrl = null;
        var headerCtrl = null
        var isFromTo = null;
        var idFocus = '#';

        var option = parseInt($('#addOption').val());
        if (option > -1) {
            switch (option) {
                case 0:
                    if (!$("#R_TenSanPham").length) {
                        idCtrl = 'TenSanPham';
                        headerCtrl = 'Tên Sản Phẩm';
                        isFromTo = false;
                    } else {
                        idFocus += 'TenSanPham';
                    }
                    break;
                case 1:
                    if (!$("#R_KichThuoc").length) {
                        idCtrl = 'KichThuoc';
                        headerCtrl = 'Kích thước';
                        isFromTo = false;
                    } else {
                        idFocus += 'KichThuoc';
                    }
                    break;
                case 2:
                    if (!$("#R_TrongLuong").length) {
                        idCtrl = 'TrongLuong';
                        headerCtrl = 'Trọng lượng';
                        isFromTo = false;
                    } else {
                        idFocus += 'TrongLuong';
                    }
                    break;
                case 3:
                    if (!$("#R_DonViTinh").length) {
                        idCtrl = 'DonViTinh';
                        headerCtrl = 'Đơn vị tính';
                        isFromTo = false;
                    } else {
                        idFocus += 'DonViTinh';
                    }
                    break;
                case 4:
                    if (!$("#R_NhaSanXuat").length) {
                        idCtrl = 'NhaSanXuat';
                        headerCtrl = 'Nhà sản xuất';
                        isFromTo = false;
                    } else {
                        idFocus += 'NhaSanXuat';
                    }
                    break;
                case 5:
                    if (!$("#R_DacTa").length) {
                        idCtrl = 'DacTa';
                        headerCtrl = 'Đặc tả';
                        isFromTo = false;
                    } else {
                        idFocus += 'DacTa';
                    }
                    break;
                case 6:
                    if (!$("#R_GiaBan").length) {
                        idCtrl = 'GiaBan';
                        headerCtrl = 'Giá bán';
                        isFromTo = true;
                    } else {
                        idFocus += 'GiaBanFrom';
                    }
                    break;
                case 7:
                    if (!$("#R_ChietKhau").length) {
                        idCtrl = 'ChietKhau';
                        headerCtrl = 'Chiết khấu';
                        isFromTo = true;
                    } else {
                        idFocus += 'ChietKhauFrom';
                    }
                    break;
                case 8:
                    if (!$("#R_CoSo").length) {
                        idCtrl = 'CoSo';
                        headerCtrl = 'Cơ số';
                        isFromTo = true;
                    } else {
                        idFocus += 'CoSoFrom';
                    }
                    break;
            }
           
            if (idCtrl != null && headerCtrl != null && isFromTo != null) {
                var result = '';
                result += '<tr id="R_' + idCtrl + '" >';
                result += '<td style="text-align: center;">' + headerCtrl + '</td>';
                idFocus = '#';
                if (isFromTo == false) {
                    result += '<td><div><input type="text" id="' + idCtrl + '" name="' + idCtrl + '" value="">';
                    result += '<img src="/Content/images/delete-20.png" style="cursor:pointer; vertical-align: middle;" onclick="RemoveConditionSearch(\'R_' + idCtrl + '\');" alt="Xóa" width="20" height="20"> </div></td>';
                    idFocus += idCtrl;
                } else {
                    result += '<td> <div><input type="text"  id="' + idCtrl + 'From" name="' + idCtrl + 'To" value="">  ~  ';
                    result += '<input type="text"  id="' + idCtrl + 'To" name="' + idCtrl + 'To" value="">';
                    result += '<img src="/Content/images/delete-20.png" style="cursor:pointer; vertical-align: middle;" onclick="RemoveConditionSearch(\'R_' + idCtrl + '\');" alt="Xóa" width="20" height="20"></div></td>';
                    idFocus += idCtrl + 'From';
                }
                result += '</tr>';
                $('#conditionAdvanceTbl').append(result);
            }
            //Focus control added
            $(idFocus).focus();
            //add autocomplete
            if(option == 0){
                $("#TenSanPham").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/SanPham/FindSuggest", data: "{ 'prefixText': '" + request.term + "' }",
                            dataType: "json", type: "POST", contentType: "application/json; charset=utf-8",
                            dataFilter: function (data) { return data; }, success:
                                function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.value,
                                            value: item.value,
                                            id: item.id
                                        }
                                    }))
                                }, error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); }
                        });
                    },
                    select: function (event, ui) {
                        $('#TenSanPham').val(ui.item.label);
                        return false;
                    },
                    minLength: 1

                });
            }
        }
    }

    function RemoveConditionSearch(rowId){
        $('#' + rowId).remove();
    }
    //]]>  
</script>
}
<hr style="width:100%" />
<div style="float:right " >
  
    @using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
    {
        <p>
            Từ khóa tìm kiếm: @Html.TextBox("CurrentFilter", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" class="myButton" />
@{
            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
            {
                 <input type="button" value="Thêm Mới" class="myButton" 
                        onclick="location.href='@Url.Action("AddNew", "SanPham")'"  />
            }
}
        </p>

    }

</div>

<div  class="containerSA">
    <div class="headerSA collapsible collapsed">
        Tìm kiếm nâng cao
    </div>
    <div class="contentSA">
        @Html.Partial("_PartialProductSA")
  
    </div>
</div>
 
<div id="mainDiv"  >
    <table id="mainTbl" border="0" cellpadding="0" cellspacing="0" style="width:100%">

        <tr>
            <td class='tablefrozencolumn' width="15%">
                <div id='divroot' class='root'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='root'>
                        <tr>
                            <td class='inner colwidth head ' width="40%">
                                @Ajax.ActionLink("Mã sản phẩm", "PagingContent", 
                                    new { ViewBag.CurrentPageIndex, sortOrder = ViewBag.IdSortParm, CurrentFilter = ViewBag.CurrentFilter },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "mainDiv"
                                    }
                                )

                            </td>
                            <td class='inner colwidth head'>
                                @Ajax.ActionLink("Tên sản phẩm", "PagingContent", 
                                    new { ViewBag.CurrentPageIndex, sortOrder = ViewBag.NameSortParm, CurrentFilter = ViewBag.CurrentFilter },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "mainDiv"
                                    }
                                 )
                            </td>
                        </tr>
                    </table>
                </div>
                <div id='divfrozen' class='frozen'>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class='frozen' id="contentFrozen">
                        @foreach (var sp in ViewBag.DisplayContentLst)
                        {
                            <tr>
                                <td class='inner frozencol colwidth toprow alignNumberic' width="40%">
                                    @sp.SanPham.MA_SAN_PHAM
                                </td>
                                <td class='inner frozencol toprow alignText'>
                                    <div class="tooltip truncate">
                                        @sp.SanPham.TEN_SAN_PHAM
                                        <span>@sp.SanPham.TEN_SAN_PHAM</span>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </td>
            <td class='tablecontent'>
                <div id='headscroll' class='divhead'>
                    <table border="0" cellpadding="0" cellspacing="0" class='head'>
                        <tr>
                            <td class='inner column-hscroll head'>
                                Kích thước
                            </td>
                            <td class='inner column-hscroll head'>
                                Trọng lượng
                            </td>
                            <td class='inner column-hscroll head'>
                                Đặc tả
                            </td>
                            <td class='inner column-hscroll head'>
                                Đơn vị tính
                            </td>
                            <td class='inner column-hscroll head'>
                                Nhà sản xuất
                            </td>
                            <td class='inner column-hscroll head' style="display:none">
                                Hình ảnh
                            </td>
                            <td class='inner column-hscroll head'>
                                Giá bán 1
                            </td>
                            <td class='inner column-hscroll head'>
                                Giá bán 2
                            </td>
                            <td class='inner column-hscroll head '>
                                Giá bán 3
                            </td>
                            <td class='inner column-hscroll head'>
                                Chiết khấu 1 (%)
                            </td>
                            <td class='inner column-hscroll head'>
                                Chiết khấu 2 (%)
                            </td>
                            <td class='inner column-hscroll head'>
                                Chiết khấu 3 (%)
                            </td>
                            <td class='inner column-hscroll head'>
                                Cơ số tối thiểu
                            </td>
                            <td class='inner column-hscroll head rightcol'>
                                Cơ số tối đa
                            </td>
                            @{
                                if ((bool)Session["IsAdmin"] == true)
                                {
                                    <td class='inner column-hscroll head '>
                                        Người tạo
                                    </td>
                                    <td class='inner column-hscroll head '>
                                        Ngày tạo
                                    </td>
                                    <td class='inner column-hscroll head '>
                                        Người cập nhật
                                    </td>
                                    <td class='inner column-hscroll head '>
                                        Ngày cập nhật
                                    </td>
                                }

                                if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                                {
                                    <td class='inner column-action head '>
                                        Sửa
                                    </td>
                                    <td class='inner column-action head '>
                                        Xóa
                                    </td>
                                }
                            }
                        </tr>
                    </table>
                </div>
                <div id='contentscroll' class='content' onscroll='reposHead(this);'>
                    <table border="0" cellpadding="0" cellspacing="0" class='content' id='innercontent'>
                        @foreach (var sp in ViewBag.DisplayContentLst)
                        {
                            <tr>
                                <td class='inner column-hscroll toprow alignText'>
                                    @sp.SanPham.KICH_THUOC
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.CAN_NANG
                                </td>
                                <td class='inner column-hscroll alignText '>
                                    <div class="tooltip truncate">
                                        @sp.SanPham.DAC_TA
                                        <span>@sp.SanPham.DAC_TA</span>
                                    </div>

                                </td>
                                @{
                                    <td class='inner column-hscroll alignCenter'>
                                        @if (sp.DonVi != null)
                                        {@sp.DonVi.TEN_DON_VI }

                                    </td>
                                    <td class='inner column-hscroll alignCenter'>
                                        @if (sp.NhaSanXuat != null)
                                        {@sp.NhaSanXuat.TEN_NHA_SAN_XUAT }

                                    </td>
                                }
                                <td class='inner column-hscroll alignCenter' style="display:none">
                                    @sp.SanPham.HINH_ANH
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.GIA_BAN_1
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.GIA_BAN_2
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.GIA_BAN_3
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.CHIEC_KHAU_1
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.CHIEC_KHAU_2
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.CHIEC_KHAU_3
                                </td>
                                <td class='inner column-hscroll alignNumberic'>
                                    @sp.SanPham.CO_SO_TOI_THIEU
                                </td>
                                <td class='inner column-hscroll rightcol alignNumberic'>
                                    @sp.SanPham.CO_SO_TOI_DA
                                </td>
                                @{
                            if ((bool)Session["IsAdmin"] == true)
                            {
                                <td class='inner column-hscroll alignText '> @sp.NguoiTao.TEN_NGUOI_DUNG </td>
                                    <td class='inner column-hscroll alignCenter '> @sp.SanPham.CREATE_AT.ToString("dd/MM/yyyy")  </td>
                                    <td class='inner column-hscroll alignText '> @sp.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                                    <td class='inner column-hscroll alignCenter '> @sp.SanPham.UPDATE_AT.ToString("dd/MM/yyyy")  </td>
                            }
                            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
                            {
                                <td class='inner column-action alignCenter '>
                                    <a href="@Url.Action("Edit", "SanPham", new { id = @sp.SanPham.MA_SAN_PHAM })"
                                       class="myEditButton">
                                        <img width="24" height="24" alt="edit" src="~/Content/images/edit-icon.png" />
                                    </a>
                                </td>
                                    <td class='inner column-action alignCenter '>
                                        <a href="@Url.Action("Delete", "SanPham", new { id = @sp.SanPham.MA_SAN_PHAM })"
                                           class="myEditButton" onclick="return confirmDelete()">
                                            <img width="24" height="24" alt="edit" src="~/Content/images/edit_delete.png" />
                                        </a>
                                    </td>
                            }
                                }
                            </tr>
                        }

                    </table>
                </div>
            </td>

        </tr>
        <tr>
            <td colspan="2">
                <div class='horizontal-scroll' onscroll='reposHorizontal(this);'>
                    <div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <hr />

    @Html.PagedListPager(Model, currentPageIndex => Url.Action("PagingContent", 
        new { currentPageIndex, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), 
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions() {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "mainDiv"
        }
    )) 
</div>
