@model SMS.Models.DON_VI_TINH

@{
    ViewBag.Title = "Sửa đơn vị tính";
}
<div style="background-color:lightgray; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px;">
    <a href="@Url.Action("DanhMuc", "Home")"> Danh mục </a> >
    <a href="@Url.Action("Index", "DonVi")"> Danh sách đơn vị tính </a>
    > Sửa đơn vị tính
</div>
<br />
<hgroup class="title">
    <h2> @ViewBag.Title</h2>
</hgroup>
<br />
<hr style="width:100%"/>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Vui lòng kiểm tra lại các giá trị đã nhập!");
    <div>
        <fieldset>

            <div>
               @Html.HiddenFor(u => u.MA_DON_VI)
               
            </div>

            <div>
                @Html.LabelFor(u => u.TEN_DON_VI)
            </div>
            <div>
                @Html.TextBoxFor(u => u.TEN_DON_VI)
            </div>
            <div>
                @Html.LabelFor(u => u.GHI_CHU)
            </div>
            <div>
                @Html.TextAreaFor(u => u.GHI_CHU)
            </div>

            <div>
                <input type="submit" style="width:100px" value="Lưu" />
                <span> </span>
                <input type="button" style="width:100px" value="Trở về" onclick="window.location.href='@Url.Action("Index","DonVi")'" />
            </div>
        </fieldset>
    </div>
}
