<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "QUẢN TRỊ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CÔNG TY TRÁCH NHIỆM HỮU HẠN VÂN PHƯỚC.</h1>
                <br />
                <h2> SMS - Store Management System </h2>
            </hgroup>
        </div>
    </section>
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">
    <div style="background-color:lightblue; width:100%; padding-top:10px; padding-bottom:10px; padding-left: 5px; font-size:16px;">
        Quản trị
    </div>
    <br />
    <a class="dashboard-module" href="@Url.Action("Index", "NguoiDung")">
        <img width="64" height="64" alt="edit" src="../../Content/images/user.png"></img>
        <span>DANH SÁCH NGƯỜI DÙNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("StoreUser", "NguoiDung")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Messages.png"></img>
        <span>NGƯỜI DÙNG - KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index","SmsMaster")">
        <img width="64" height="64" alt="edit" src="../../Content/images/settings-icon.jpg"></img>
        <span>SMS - MASTER</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Config","SmsMaster")">
        <img width="64" height="64" alt="edit" src="../../Content/images/config.jpg"></img>
        <span>CẤU HÌNH THÔNG TIN CHUNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "PhanQuyen")">
        <img width="64" height="64" alt="edit" src="../../Content/images/role.png"></img>
        <span>PHÂN QUYỀN NGƯỜI DÙNG</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("Index", "NhaCungCap")">
        <img width="64" height="64" alt="edit" src="../../Content/images/provider.png"></img>
        <span>DANH SÁCH NHÀ CUNG CẤP</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Index", "SmsMessage")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Messages.png"></img>
        <span>SMS MESSAGES</span>
    </a>
</div>