<link href="../../Content/css/style.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "QUẢN LÝ KHO";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>CỬA HÀNG TRANG THIẾT BỊ NGÀNH NƯỚC</h1>
                <br />
                <h2> SMS - Store Managemanet System </h2>
            </hgroup>
        </div>
    </section>
}


<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>
<div class="grid_7">
    <a class="dashboard-module" href="@Url.Action("Warning", "SanPham")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Warning.png"></img>
        <span>SẢN PHẦM CẦN NHẬP HÀNG</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Inventory", "QuanLyKho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Invientory.jpg"></img>
        <span>KIỂM TRA TỒN KHO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("Import", "Home")">
        <img width="64" height="64" alt="edit" src="../../Content/images/import.png"></img>
        <span>NHẬP KHO</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("Export", "Home")">
        <img width="64" height="64" alt="edit" src="../../Content/images/ExportDataBlue.jpg"></img>
        <span>XUẤT KHO</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("Return", "Home")">
        <img width="64" height="64" alt="edit" src="../../Content/images/Chargeback.png"></img>
        <span>XỬ LÝ TRẢ HÀNG</span>
    </a>

    <a class="dashboard-module" href="@Url.Action("FifoReport", "QuanLyKho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/FIFO114ds.png"></img>
        <span>BÁO CÁO NHẬP XUẤT TỒN - FIFO</span>
    </a>
    <a class="dashboard-module" href="@Url.Action("ImExDetail", "QuanLyKho")">
        <img width="64" height="64" alt="edit" src="../../Content/images/import-export-icon.png"></img>
        <span>BÁO CÁO XUẤT - NHẬP</span>
    </a>

</div>