@model SMS.Models.KHO

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh mục hãng sản xuất";
}

<h2>@ViewBag.Title </h2>

<style type="text/css">

</style>
<hr style="width:100%" />
<div style="float:right">

    @using (Html.BeginForm("Index", "HangSanXuat", FormMethod.Post))
    {
        <p>
            Từ khóa tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" class="myButton" />
            @{
        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
        {
            <input type="button" value="Thêm Mới" class="myButton" onclick="window.location.href('@Url.Action("AddNew","Kho")')" />
        }
            }
        </p>
    }


</div>
<hr style="width:100%" />
<table class="webGrid">

    <tr>
        <th title="Mã kho">Mã kho</th>
        <th title="Tên kho">Tên kho</th>
        <th title="Người đứng đầu">Người đứng đầu</th>
        <th>Ghi Chú</th>
        @{
            if ((bool)Session["IsAdmin"] == true)
            {
                <th>Người tạo</th>
                <th>Ngày tạo</th>
                <th title=" Người Cập Nhật">Người CN</th>
                <th title=" Ngày Cập Nhật">Ngày CN</th>
            }
        }
        @{
            if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
            {
                <th style="text-align:center">Sửa</th>
                <th style="text-align:center">Xóa</th>
            }
        }
    </tr>
    @foreach (var donvi in ViewBag.theList)
    {
        <tr>
            <td> @donvi.HangSanXuat.MA_NHA_SAN_XUAT </td>
            <td> @donvi.HangSanXuat.TEN_NHA_SAN_XUAT </td>
            <td> @donvi.HangSanXuat.GHI_CHU </td>
            @{
        if ((bool)Session["IsAdmin"] == true)
        {
            <td> @donvi.NguoiTao.TEN_NGUOI_DUNG </td>
                <td> @donvi.HangSanXuat.CREATE_AT.ToString("dd/MM/yyyy")  </td>
                <td> @donvi.NguoiCapNhat.TEN_NGUOI_DUNG </td>
                <td> @donvi.HangSanXuat.UPDATE_AT.ToString("dd/MM/yyyy")  </td>
        }
            }

            @{
        if ((bool)Session["IsAdmin"] == true || (bool)Session["IsMetadataManager"] == true)
        {
            <td>
                <a href="@Url.Action("Edit", "HangSanXuat", new { id = @donvi.HangSanXuat.MA_NHA_SAN_XUAT })" class="myEditButton">
                    <img width="24" height="24" alt="edit" src="~/Content/images/edit-icon.png"></img>
                </a>
            </td>
                <td>
                    <a href="@Url.Action("Delete", "HangSanXuat", new { id = @donvi.HangSanXuat.MA_NHA_SAN_XUAT })" class="myEditButton" onclick="return deleteSubmit()">
                        <img width="24" height="24" alt="edit" src="~/Content/images/edit_delete.png"></img>
                    </a>
                </td>
        }
            }


        </tr>
    }

</table>
<input type="hidden" value="" id="delete" />
<script>
    function deleteSubmit() {
        var r = confirm("Bạn muốn xóa hãng sản xuất này!");
        if (r == true) {
            document.forms[0].submit();
        }
        else {
            return false;
        }
    }
</script>   