<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/Content/images/logo.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <!--Ngoc added: make sure no cache-->
    <meta http-equiv="CACHE-CONTROL" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>
      
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        $(document).ready(function () {
            var pathname = window.location.pathname;
            if (pathname.indexOf("Home/Index") > 0) {
                $('#Index').addClass('current');
            } else if (
                (pathname.indexOf("Home/QuanLyKho") > 0) ||
                (pathname.indexOf("SanPham/Warning") > 0) ||
                (pathname.indexOf("QuanLyKho/Inventory") > 0) ||
                (pathname.indexOf("Home/Import") > 0) ||
                (pathname.indexOf("Import/Import") > 0) ||
                (pathname.indexOf("Import/ListWaitingImport") > 0) ||
                (pathname.indexOf("Import/Index") > 0) ||
                (pathname.indexOf("Import/ImportRepoter") > 0) ||
                (pathname.indexOf("Import/ImportRepoterDetail") > 0) ||
                (pathname.indexOf("Home/Export") > 0) ||
                (pathname.indexOf("Export/Index") > 0) ||
                (pathname.indexOf("Export/SaleExportList") > 0) ||
                (pathname.indexOf("Import/ExportTransfer") > 0) ||
                (pathname.indexOf("Import/ListExportTransfer") > 0) ||
                (pathname.indexOf("Export/XuatHuy") > 0) ||
                (pathname.indexOf("QuanLyKho/ExportReport") > 0) ||
                (pathname.indexOf("QuanLyKho/ExportReportDetail") > 0) ||
                (pathname.indexOf("Home/Return") > 0) ||
                (pathname.indexOf("CustomerRefund/ReturnPurchaseList") > 0) ||
                (pathname.indexOf("TraHang/ListOfToProvider") > 0) ||
                (pathname.indexOf("QuanLyKho/FifoReport") > 0) ||
                (pathname.indexOf("QuanLyKho/ImExDetail") > 0)
                ) {
                $('#QuanLyKho').addClass('current');
            } else if (
                (pathname.indexOf("Home/BanHang") > 0) ||
                (pathname.indexOf("KhachHang/Index") > 0) ||
                (pathname.indexOf("KhachHang/AddNew") > 0) ||
                (pathname.indexOf("BanHang/HoaDonBanHang") > 0) ||
                (pathname.indexOf("BanHang/AddNew") > 0) ||
                (pathname.indexOf("HoaDon/Collection") > 0) ||
                (pathname.indexOf("HoaDon/Index") > 0) ||
                (pathname.indexOf("TraHang/Index") > 0) ||
                (pathname.indexOf("TraHang/ReturnNoBill") > 0) ||
                (pathname.indexOf("TraHang/ReturnPurchaseList") > 0) ||
                (pathname.indexOf("KhachHang/Warning") > 0)          
                ){
                $('#BanHang').addClass('current');
            } else if (
                (pathname.indexOf("Home/DanhMuc") > 0 )||
                (pathname.indexOf("DonVi/Index") > 0) ||
                (pathname.indexOf("DonVi/AddNew") > 0) ||
                (pathname.indexOf("KhuVuc/Index") > 0) ||
                (pathname.indexOf("KhuVuc/AddNew") > 0) ||
                (pathname.indexOf("HangSanXuat/Index") > 0) ||
                (pathname.indexOf("HangSanXuat/AddNew") > 0) ||
                (pathname.indexOf("Kho/Index") > 0) ||
                (pathname.indexOf("Kho/AddNew") > 0) ||
                (pathname.indexOf("SanPham/Index") > 0) ||
                (pathname.indexOf("SanPham/AddNew") > 0) ||
                (pathname.indexOf("SanPham/ConvertUnitOfProducts") > 0) ||
                (pathname.indexOf("SanPham/AddNewConvertUnitOfProducts") > 0) ||
                (pathname.indexOf("SanPham/ListPriceProducts")> 0)
                ) {
                $('#DanhMuc').addClass('current');
            } else if (
                (pathname.indexOf("Home/QuanTri") > 0)||
                (pathname.indexOf("NguoiDung/Index") > 0) ||
                (pathname.indexOf("NguoiDung/AddNew") > 0) ||
                (pathname.indexOf("SmsMaster/Index") > 0)||
                (pathname.indexOf("PhanQuyen/Index") > 0) ||
                (pathname.indexOf("PhanQuyen/AddNew") > 0) ||
                (pathname.indexOf("NhaCungCap/Index") > 0) ||
                (pathname.indexOf("NhaCungCap/AddNew") > 0) ||
                (pathname.indexOf("SmsMessage/Index") > 0) ||
                (pathname.indexOf("SmsMessage/AddNew") > 0)
                ){
                $('#QuanTri').addClass('current');
            } else if (pathname.indexOf("Account/Show") > 0) {
                $('#Show').addClass('current');
            }
        });
        //Stop Form Submission of Enter Key Press
        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }
        document.onkeypress = stopRKey;
       
    </script>
    <style type="text/css">
        a.current {
            background-position: left bottom;
            text-decoration: none;
            color: blue !important;
            font-weight: bold;
            /*outline: 2px dotted #ef4e07;*/
        }

        a.menuClass:hover, a.menuClass:active {
            background-position: left bottom;
            text-decoration: none;
            color: blue !important;
            font-weight: bold;
            /* outline: 2px dotted #ef4e07;*/
        }
    </style>
</head>
<body>
    <header>
        <div class="content-wrapper" id="myHeader">
            <div class="float-left">
                @Html.ActionLink(
                                        " ",
                                        "Index",
                                        "Home",
                                        null,
                                        new
                                        {
                                            style = " background: url('" + Url.Content("~/Images/WiLogo.png") + "') no-repeat center right; display:block; height:82px; width:282px; float:left;"
                                        }
                                    )
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @if (Request.IsAuthenticated)
                {
                    <nav>
                        <ul id="menu" style="font-size:22px;">
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "menuClass", @id = "Index" })</li>
                            @if (Convert.ToBoolean(Session["IsStoreManager"]) || Convert.ToBoolean(Session["IsAdmin"]))
                            {
                                <li>@Html.ActionLink("Quản Lý Kho", "QuanLyKho", "Home", null, new { @class = "menuClass", @id = "QuanLyKho" })</li>
                            }
                            @if (Convert.ToBoolean(Session["IsSaler"]) || Convert.ToBoolean(Session["IsAdmin"]) || Convert.ToBoolean(Session["IsAccounting"]))
                            {
                                <li>@Html.ActionLink("Bán Hàng", "BanHang", "Home", null, new { @class = "menuClass", @id = "BanHang" })</li>
                            }
                            <li>@Html.ActionLink("Danh Mục", "DanhMuc", "Home", null, new { @class = "menuClass", @id = "DanhMuc" })</li>
                            @if (Convert.ToBoolean(Session["IsAdmin"]))
                            {
                                <li>@Html.ActionLink("Quản Trị", "QuanTri", "Home", null, new { @class = "menuClass", @id = "QuanTri" })</li>
                            }
                            <li>@Html.ActionLink("Người Dùng", "NguoiDung", "Home", null, new { @class = "menuClass", @id = "Show" })</li>
                        </ul>
                    </nav>
                }
            </div>
        </div>

        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper" id="myFooter">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year Cửa hàng cung cấp trang thiết bị ngành nước</p>
                    <p>SMS - Store Management System</p>
                </div>
            </div>
        </footer>
    @Scripts.Render("~/bundles/jquery")    
    @RenderSection("scripts", required: false)
</body>
</html>

