@model SMS.Models.ExportModel
@using PagedList.Mvc;

<div>
    <table >
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@Model.PageCount hóa đơn</label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.SaleExportList, currentPageIndex => Url.Action("SaleExportListPagingContent",
                        new
                        {
                            currentPageIndex,
                            storeId = ViewBag.StoreId,
                            storeName = ViewBag.StoreName,
                            customerId = ViewBag.CustomerId,
                            customerName = ViewBag.CustomerName,
                            exporterId = ViewBag.ExporterId,
                            exporterName = ViewBag.ExporterName,
                            fromDate = ViewBag.FromDate,
                            todate = ViewBag.Todate
                        }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                        new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "resultLoadingDiv",
                            UpdateTargetId = "mainDiv"
                        }
                    ))
                </div>
            </td>
        </tr>
    </table>

    <table width="100%" id="tblExport" name="tblExport">
        <tr style="width:100%">
            <td class='inner colwidth head '> Tên khách hàng </td>
            <td class='inner colwidth head '> Số hóa đơn </td>
            <td class='inner colwidth head '> Kho </td>
            <td class='innerLast colwidth head '>  Nhân viên xuất kho </td>
            <td class='innerLast colwidth head '>  Tên người nhận hàng </td>
            <td class='innerLast colwidth head '>  Đia chỉ giao hàng </td>
            @if ((bool)Session["IsStoreManager"] || (bool)Session["IsAdmin"])
            {
                <td class='innerLast colwidth head '>  Hủy </td>
            }
        </tr>
        @{
            DateTime ImportDate = DateTime.Now;
            if (Model.SaleExportList != null && Model.SaleExportList.Count() >= 1)
            {
                ImportDate = (DateTime)Model.SaleExportList[0].NGAY_XUAT;

                <tr>
                    <td class="innerLast colwidth" colspan="7" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                </tr>
            }
        }
        @foreach (var dbHist in Model.SaleExportList)
        {
            if (ImportDate != (DateTime)dbHist.NGAY_XUAT)
            {
                ImportDate = (DateTime)dbHist.NGAY_XUAT;
                <tr>
                    <td class="innerLast colwidth" colspan="7" style="background-color:lightgray">@ImportDate.ToString("dd/MM/yyyy") </td>
                </tr>
            }
            <tr class="inner column-hscroll alignCenter">
                <td class="inner colwidth">
                    <a href="@Url.Action("ShowDetail", "Export", new { @id = @dbHist.MA_XUAT_KHO})" class="button-module">
                        @dbHist.TEN_KHACH_HANG
                    </a>
                </td>
                <td class="inner colwidth">
                    @dbHist.SO_HOA_DON
                </td>
                <td class="inner colwidth">
                    @dbHist.TEN_KHO
                </td>
                <td class="inner colwidth">
                    @dbHist.TEN_NHAN_VIEN_XK
                </td>
                <td class="innerLast colwidth">
                    @dbHist.TEN_NGUOI_NHAN_HANG
                </td>
                <td class="innerLast colwidth">
                    @dbHist.DIA_CHI_GIAO_HANG
                </td>
                <td class="innerLast colwidth">
                    @{
            if ((bool)Session["IsStoreManager"] || (bool)Session["IsAdmin"])
            {
                <a href="@Url.Action("Delete", "Export", new { id = @dbHist.MA_XUAT_KHO })" class="button-module" onclick="return deleteSubmit()">
                    <img width="16" height="16" alt="edit" src="~/Content/images/delete.png"></img>
                </a>
            }
}
                </td>

            </tr>
        }

    </table>

    <table width="100%">
        <tr>
            <td>
                <div style="text-align:left; padding-top:3px;">
                    <label>@Model.PageCount hóa đơn</label>
                </div>
            </td>
            <td>
                <div style="text-align: right;  padding-top: 3px; ">
                    @Html.PagedListPager(Model.SaleExportList, currentPageIndex => Url.Action("SaleExportListPagingContent",
                        new { 
                              currentPageIndex,
                              storeId = ViewBag.StoreId,
                              storeName = ViewBag.StoreName,
                              customerId = ViewBag.CustomerId,
                              customerName = ViewBag.CustomerName,
                              exporterId = ViewBag.ExporterId,
                              exporterName = ViewBag.ExporterName,
                              fromDate = ViewBag.FromDate,
                              todate = ViewBag.Todate
                        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "resultLoadingDiv",
            UpdateTargetId = "mainDiv"
        }
    ))
                </div>
            </td>
        </tr>
    </table>
</div>